# This file contains file patterns that triggers automatic
# code review requests from users that are owners of these files
# Order matters, the last match has the highest precedence

# library folders
lib/colvars/*         @giacomofiorin
lib/compress/*        @akohlmey
lib/kokkos/*          @stanmoore1
lib/molfile/*         @akohlmey
lib/qmmm/*            @akohlmey
lib/vtk/*             @rbberger
lib/kim/*             @ellio167
lib/mesont/*          @iafoss

# whole packages
src/ADIOS/*           @pnorbert
src/AMOEBA/*          @sjplimp
src/BPM/*             @jtclemm
src/BROWNIAN/*        @samueljmcameron
src/CG-DNA/*          @ohenrich
src/CG-SPICA/*        @yskmiyazaki
src/COLVARS/*         @giacomofiorin
src/COMPRESS/*        @rbberger
src/DIELECTRIC/*      @ndtrung81
src/ELECTRODE/*       @ludwig-ahrens
src/FEP/*             @agiliopadua
src/GPU/*             @ndtrung81
src/GRANULAR/*        @jtclemm @dsbolin
src/INTEL/*           @wmbrownintel
src/KIM/*             @ellio167
src/KOKKOS/*          @stanmoore1
src/LATTE/*           @cnegre
src/MANIFOLD/*        @Pakketeretet2
src/MDI/*             @taylor-a-barnes @sjplimp
src/MEAM/*            @martok
src/MESONT/*          @iafoss
src/ML-HDNNP/*        @singraber
src/ML-IAP/*          @athomps
src/ML-PACE/*         @yury-lysogorskiy
src/ML-POD/*          @exapde @rohskopf
src/MOFFF/*           @hheenen
src/MOLFILE/*         @akohlmey
src/NETCDF/*          @pastewka
src/OPENMP/*          @akohlmey
src/PHONON/*          @lingtikong
src/PLUGIN/*          @akohlmey
src/PLUMED/*          @gtribello
src/PTM/*             @pmla
src/QMMM/*            @akohlmey
src/REACTION/*        @jrgissing
src/REAXFF/*          @hasanmetin @stanmoore1
src/SCAFACOS/*        @rhalver
src/SNAP/*            @athomps
src/SPIN/*            @julient31
src/TALLY/*           @akohlmey
src/UEF/*             @danicholson
src/VTK/*             @rbberger

# individual files in packages
src/GPU/pair_vashishta_gpu.*        @andeplane
src/KOKKOS/pair_vashishta_kokkos.*  @andeplane
src/MANYBODY/pair_vashishta_table.* @andeplane
src/MANYBODY/pair_atm.*             @sergeylishchuk
src/REPLICA/*_grem.*                @dstelter92
src/EXTRA-COMPUTE/compute_stress_mop*.* @RomainVermorel
src/EXTRA-COMPUTE/compute_born_matrix.* @Bibobu @athomps
src/MISC/*_tracker.*                @jtclemm
src/MC/fix_gcmc.*                   @athomps
src/MC/fix_sgcmc.*                  @athomps

# core LAMMPS classes
src/lammps.*              @sjplimp
src/pointers.h            @sjplimp
src/atom.*                @sjplimp
src/atom_vec.*            @sjplimp
src/angle.*               @sjplimp
src/bond.*                @sjplimp
src/comm*.*               @sjplimp
src/compute.*             @sjplimp
src/dihedral.*            @sjplimp
src/domain.*              @sjplimp
src/dump*.*               @sjplimp
src/error.*               @sjplimp
src/finish.*              @sjplimp
src/fix.*                 @sjplimp
src/force.*               @sjplimp
src/group.*               @sjplimp
src/improper.*            @sjplimp
src/kspace.*              @sjplimp
src/lmptyp.h              @sjplimp
src/library.*             @sjplimp
src/main.cpp              @sjplimp
src/min_*.*               @sjplimp
src/memory.*              @sjplimp
src/modify.*              @sjplimp @stanmoore1
src/molecule.*            @sjplimp
src/my_page.h             @sjplimp
src/my_pool_chunk.h       @sjplimp
src/npair*.*              @sjplimp
src/ntopo*.*              @sjplimp
src/nstencil*.*           @sjplimp
src/neighbor.*            @sjplimp
src/nbin*.*               @sjplimp
src/neigh_*.*             @sjplimp
src/output.*              @sjplimp
src/pair.*                @sjplimp
src/rcb.*                 @sjplimp
src/random_*.*            @sjplimp
src/region*.*             @sjplimp
src/rcb.*                 @sjplimp
src/read*.*               @sjplimp
src/rerun.*               @sjplimp
src/run.*                 @sjplimp
src/respa.*               @sjplimp
src/set.*                 @sjplimp
src/special.*             @sjplimp
src/suffix.h              @sjplimp
src/thermo.*              @sjplimp
src/universe.*            @sjplimp
src/update.*              @sjplimp
src/variable.*            @sjplimp
src/velocity.*            @sjplimp
src/write_data.*          @sjplimp
src/write_restart.*       @sjplimp

# overrides for specific files
src/dump_movie.*          @akohlmey
src/exceptions.h          @rbberger
src/fix_nh.*              @athomps
src/info.*                @akohlmey @rbberger
src/min*                  @sjplimp @stanmoore1
src/platform.*            @akohlmey
src/timer.*               @akohlmey
src/utils.*               @akohlmey @rbberger
src/verlet.*              @sjplimp @stanmoore1
src/math_eigen_impl.h     @jewettaij

# tools
tools/coding_standard/* @akohlmey @rbberger
tools/emacs/*         @HaoZeke
tools/lammps-shell/*  @akohlmey
tools/msi2lmp/*       @akohlmey
tools/offline/*       @rbberger
tools/singularity/*   @akohlmey @rbberger
tools/swig/*          @akohlmey
tools/valgrind/*      @akohlmey
tools/vim/*           @hammondkd

# tests
unittest/*            @akohlmey

# cmake
cmake/*               @junghans @rbberger
cmake/Modules/LAMMPSInterfacePlugin.cmake @akohlmey
cmake/Modules/MPI4WIN.cmake @akohlmey
cmake/Modules/OpenCLLoader.cmake @akohlmey
cmake/Modules/Packages/COLVARS.cmake @junghans @rbberger @giacomofiorin
cmake/Modules/Packages/KIM.cmake @junghans @rbberger @ellio167
cmake/presets/*.cmake @akohlmey

# python
python/*              @rbberger

# fortran
fortran/*             @akohlmey @hammondkd

# docs
doc/*                 @akohlmey
examples/plugin/*     @akohlmey
examples/PACKAGES/pace/plugin/*     @akohlmey

# for releases
src/version.h         @sjplimp
