*~
*.o
*.so
*.lo
*.cu_o
*.ptx
*_ptx.h
*.a
*.d
*.x
*.exe
*.dll
*.pyc
__pycache__

Obj_*
log.lammps
log.cite
*.bz2
*.gz
*.tar
.*.swp
*.orig
*.rej
vgcore.*
.vagrant
\#*#
.#*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.clang-format

#cmake
/build*
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/lmp

#python example
/example/python/gjf_python
