.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.lgtm.yml export-ignore
SECURITY.md export-ignore
CITATION.cff export-ignore
*       text=auto
*.jpg   -text
*.pdf   -text
*.gz    -text
*.png   -text
*.ps    -text
