.wy-nav-content {
    max-width: 100% !important;
}

.lammps_version {
    text-align: center;
    display: block;
    margin-bottom: 0.809em;
}

.lammps_release {
    text-align: center;
    font-size: 11px;
    display: block;
    margin-bottom: 0.405em;
}

.versionmodified {
    font-weight: bold;
}

hr {
     margin: 12px 0;
}

.rst-content {
     margin-bottom: 12px !important;
}

#user-guide.section h2 {
     display: none;
}

#programmer-guide.section h2 {
     display: none;
}

#command-reference.section h2 {
     display: none;
}

#userdoc.toctree-wrapper.compound p {
     display: none;
}

#progdoc.toctree-wrapper.compound p {
     display: none;
}

#reference.toctree-wrapper.compound p {
     display: none;
}

.ui.tabular.menu .item {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 6px;
}

.btn, .btn:active {
    padding: 4px;
    font-size: 80%;
    border-radius: 4px;
}

.rst-breadcrumbs-buttons {
    margin: 0;
}

p {
   margin-bottom: 12px;
}
