Sphinx >= 5.3.0, <7.1.0
sphinxcontrib-spelling
sphinxcontrib-jquery
git+https://github.com/akohlmey/sphinx-fortran@parallel-read
git+https://github.com/executablebooks/sphinx-tabs@v3.4.1
breathe
Pygments
six
pyyaml
linkchecker
