    $/bond:wat[0]/OH1 @/bond:SPCE/OH $/atom:wat[0]/O $/atom:wat[0]/H1
    $/bond:wat[0]/OH2 @/bond:SPCE/OH $/atom:wat[0]/O $/atom:wat[0]/H2
    $/bond:wat[1]/OH1 @/bond:SPCE/OH $/atom:wat[1]/O $/atom:wat[1]/H1
    $/bond:wat[1]/OH2 @/bond:SPCE/OH $/atom:wat[1]/O $/atom:wat[1]/H2
    $/bond:wat[2]/OH1 @/bond:SPCE/OH $/atom:wat[2]/O $/atom:wat[2]/H1
    $/bond:wat[2]/OH2 @/bond:SPCE/OH $/atom:wat[2]/O $/atom:wat[2]/H2
    $/bond:wat[3]/OH1 @/bond:SPCE/OH $/atom:wat[3]/O $/atom:wat[3]/H1
    $/bond:wat[3]/OH2 @/bond:SPCE/OH $/atom:wat[3]/O $/atom:wat[3]/H2
    $/bond:wat[4]/OH1 @/bond:SPCE/OH $/atom:wat[4]/O $/atom:wat[4]/H1
    $/bond:wat[4]/OH2 @/bond:SPCE/OH $/atom:wat[4]/O $/atom:wat[4]/H2
    $/bond:wat[5]/OH1 @/bond:SPCE/OH $/atom:wat[5]/O $/atom:wat[5]/H1
    $/bond:wat[5]/OH2 @/bond:SPCE/OH $/atom:wat[5]/O $/atom:wat[5]/H2
    $/bond:wat[6]/OH1 @/bond:SPCE/OH $/atom:wat[6]/O $/atom:wat[6]/H1
    $/bond:wat[6]/OH2 @/bond:SPCE/OH $/atom:wat[6]/O $/atom:wat[6]/H2
    $/bond:wat[7]/OH1 @/bond:SPCE/OH $/atom:wat[7]/O $/atom:wat[7]/H1
    $/bond:wat[7]/OH2 @/bond:SPCE/OH $/atom:wat[7]/O $/atom:wat[7]/H2
    $/bond:wat[8]/OH1 @/bond:SPCE/OH $/atom:wat[8]/O $/atom:wat[8]/H1
    $/bond:wat[8]/OH2 @/bond:SPCE/OH $/atom:wat[8]/O $/atom:wat[8]/H2
    $/bond:wat[9]/OH1 @/bond:SPCE/OH $/atom:wat[9]/O $/atom:wat[9]/H1
    $/bond:wat[9]/OH2 @/bond:SPCE/OH $/atom:wat[9]/O $/atom:wat[9]/H2
    $/bond:wat[10]/OH1 @/bond:SPCE/OH $/atom:wat[10]/O $/atom:wat[10]/H1
    $/bond:wat[10]/OH2 @/bond:SPCE/OH $/atom:wat[10]/O $/atom:wat[10]/H2
    $/bond:wat[11]/OH1 @/bond:SPCE/OH $/atom:wat[11]/O $/atom:wat[11]/H1
    $/bond:wat[11]/OH2 @/bond:SPCE/OH $/atom:wat[11]/O $/atom:wat[11]/H2
    $/bond:wat[12]/OH1 @/bond:SPCE/OH $/atom:wat[12]/O $/atom:wat[12]/H1
    $/bond:wat[12]/OH2 @/bond:SPCE/OH $/atom:wat[12]/O $/atom:wat[12]/H2
    $/bond:wat[13]/OH1 @/bond:SPCE/OH $/atom:wat[13]/O $/atom:wat[13]/H1
    $/bond:wat[13]/OH2 @/bond:SPCE/OH $/atom:wat[13]/O $/atom:wat[13]/H2
    $/bond:wat[14]/OH1 @/bond:SPCE/OH $/atom:wat[14]/O $/atom:wat[14]/H1
    $/bond:wat[14]/OH2 @/bond:SPCE/OH $/atom:wat[14]/O $/atom:wat[14]/H2
    $/bond:wat[15]/OH1 @/bond:SPCE/OH $/atom:wat[15]/O $/atom:wat[15]/H1
    $/bond:wat[15]/OH2 @/bond:SPCE/OH $/atom:wat[15]/O $/atom:wat[15]/H2
    $/bond:wat[16]/OH1 @/bond:SPCE/OH $/atom:wat[16]/O $/atom:wat[16]/H1
    $/bond:wat[16]/OH2 @/bond:SPCE/OH $/atom:wat[16]/O $/atom:wat[16]/H2
    $/bond:wat[17]/OH1 @/bond:SPCE/OH $/atom:wat[17]/O $/atom:wat[17]/H1
    $/bond:wat[17]/OH2 @/bond:SPCE/OH $/atom:wat[17]/O $/atom:wat[17]/H2
    $/bond:wat[18]/OH1 @/bond:SPCE/OH $/atom:wat[18]/O $/atom:wat[18]/H1
    $/bond:wat[18]/OH2 @/bond:SPCE/OH $/atom:wat[18]/O $/atom:wat[18]/H2
    $/bond:wat[19]/OH1 @/bond:SPCE/OH $/atom:wat[19]/O $/atom:wat[19]/H1
    $/bond:wat[19]/OH2 @/bond:SPCE/OH $/atom:wat[19]/O $/atom:wat[19]/H2
    $/bond:wat[20]/OH1 @/bond:SPCE/OH $/atom:wat[20]/O $/atom:wat[20]/H1
    $/bond:wat[20]/OH2 @/bond:SPCE/OH $/atom:wat[20]/O $/atom:wat[20]/H2
    $/bond:wat[21]/OH1 @/bond:SPCE/OH $/atom:wat[21]/O $/atom:wat[21]/H1
    $/bond:wat[21]/OH2 @/bond:SPCE/OH $/atom:wat[21]/O $/atom:wat[21]/H2
    $/bond:wat[22]/OH1 @/bond:SPCE/OH $/atom:wat[22]/O $/atom:wat[22]/H1
    $/bond:wat[22]/OH2 @/bond:SPCE/OH $/atom:wat[22]/O $/atom:wat[22]/H2
    $/bond:wat[23]/OH1 @/bond:SPCE/OH $/atom:wat[23]/O $/atom:wat[23]/H1
    $/bond:wat[23]/OH2 @/bond:SPCE/OH $/atom:wat[23]/O $/atom:wat[23]/H2
    $/bond:wat[24]/OH1 @/bond:SPCE/OH $/atom:wat[24]/O $/atom:wat[24]/H1
    $/bond:wat[24]/OH2 @/bond:SPCE/OH $/atom:wat[24]/O $/atom:wat[24]/H2
    $/bond:wat[25]/OH1 @/bond:SPCE/OH $/atom:wat[25]/O $/atom:wat[25]/H1
    $/bond:wat[25]/OH2 @/bond:SPCE/OH $/atom:wat[25]/O $/atom:wat[25]/H2
    $/bond:wat[26]/OH1 @/bond:SPCE/OH $/atom:wat[26]/O $/atom:wat[26]/H1
    $/bond:wat[26]/OH2 @/bond:SPCE/OH $/atom:wat[26]/O $/atom:wat[26]/H2
    $/bond:wat[27]/OH1 @/bond:SPCE/OH $/atom:wat[27]/O $/atom:wat[27]/H1
    $/bond:wat[27]/OH2 @/bond:SPCE/OH $/atom:wat[27]/O $/atom:wat[27]/H2
    $/bond:wat[28]/OH1 @/bond:SPCE/OH $/atom:wat[28]/O $/atom:wat[28]/H1
    $/bond:wat[28]/OH2 @/bond:SPCE/OH $/atom:wat[28]/O $/atom:wat[28]/H2
    $/bond:wat[29]/OH1 @/bond:SPCE/OH $/atom:wat[29]/O $/atom:wat[29]/H1
    $/bond:wat[29]/OH2 @/bond:SPCE/OH $/atom:wat[29]/O $/atom:wat[29]/H2
    $/bond:wat[30]/OH1 @/bond:SPCE/OH $/atom:wat[30]/O $/atom:wat[30]/H1
    $/bond:wat[30]/OH2 @/bond:SPCE/OH $/atom:wat[30]/O $/atom:wat[30]/H2
    $/bond:wat[31]/OH1 @/bond:SPCE/OH $/atom:wat[31]/O $/atom:wat[31]/H1
    $/bond:wat[31]/OH2 @/bond:SPCE/OH $/atom:wat[31]/O $/atom:wat[31]/H2
    $/bond:wat[32]/OH1 @/bond:SPCE/OH $/atom:wat[32]/O $/atom:wat[32]/H1
    $/bond:wat[32]/OH2 @/bond:SPCE/OH $/atom:wat[32]/O $/atom:wat[32]/H2
    $/bond:wat[33]/OH1 @/bond:SPCE/OH $/atom:wat[33]/O $/atom:wat[33]/H1
    $/bond:wat[33]/OH2 @/bond:SPCE/OH $/atom:wat[33]/O $/atom:wat[33]/H2
    $/bond:wat[34]/OH1 @/bond:SPCE/OH $/atom:wat[34]/O $/atom:wat[34]/H1
    $/bond:wat[34]/OH2 @/bond:SPCE/OH $/atom:wat[34]/O $/atom:wat[34]/H2
    $/bond:wat[35]/OH1 @/bond:SPCE/OH $/atom:wat[35]/O $/atom:wat[35]/H1
    $/bond:wat[35]/OH2 @/bond:SPCE/OH $/atom:wat[35]/O $/atom:wat[35]/H2
    $/bond:wat[36]/OH1 @/bond:SPCE/OH $/atom:wat[36]/O $/atom:wat[36]/H1
    $/bond:wat[36]/OH2 @/bond:SPCE/OH $/atom:wat[36]/O $/atom:wat[36]/H2
    $/bond:wat[37]/OH1 @/bond:SPCE/OH $/atom:wat[37]/O $/atom:wat[37]/H1
    $/bond:wat[37]/OH2 @/bond:SPCE/OH $/atom:wat[37]/O $/atom:wat[37]/H2
    $/bond:wat[38]/OH1 @/bond:SPCE/OH $/atom:wat[38]/O $/atom:wat[38]/H1
    $/bond:wat[38]/OH2 @/bond:SPCE/OH $/atom:wat[38]/O $/atom:wat[38]/H2
    $/bond:wat[39]/OH1 @/bond:SPCE/OH $/atom:wat[39]/O $/atom:wat[39]/H1
    $/bond:wat[39]/OH2 @/bond:SPCE/OH $/atom:wat[39]/O $/atom:wat[39]/H2
    $/bond:wat[40]/OH1 @/bond:SPCE/OH $/atom:wat[40]/O $/atom:wat[40]/H1
    $/bond:wat[40]/OH2 @/bond:SPCE/OH $/atom:wat[40]/O $/atom:wat[40]/H2
    $/bond:wat[41]/OH1 @/bond:SPCE/OH $/atom:wat[41]/O $/atom:wat[41]/H1
    $/bond:wat[41]/OH2 @/bond:SPCE/OH $/atom:wat[41]/O $/atom:wat[41]/H2
    $/bond:wat[42]/OH1 @/bond:SPCE/OH $/atom:wat[42]/O $/atom:wat[42]/H1
    $/bond:wat[42]/OH2 @/bond:SPCE/OH $/atom:wat[42]/O $/atom:wat[42]/H2
    $/bond:wat[43]/OH1 @/bond:SPCE/OH $/atom:wat[43]/O $/atom:wat[43]/H1
    $/bond:wat[43]/OH2 @/bond:SPCE/OH $/atom:wat[43]/O $/atom:wat[43]/H2
    $/bond:wat[44]/OH1 @/bond:SPCE/OH $/atom:wat[44]/O $/atom:wat[44]/H1
    $/bond:wat[44]/OH2 @/bond:SPCE/OH $/atom:wat[44]/O $/atom:wat[44]/H2
    $/bond:wat[45]/OH1 @/bond:SPCE/OH $/atom:wat[45]/O $/atom:wat[45]/H1
    $/bond:wat[45]/OH2 @/bond:SPCE/OH $/atom:wat[45]/O $/atom:wat[45]/H2
    $/bond:wat[46]/OH1 @/bond:SPCE/OH $/atom:wat[46]/O $/atom:wat[46]/H1
    $/bond:wat[46]/OH2 @/bond:SPCE/OH $/atom:wat[46]/O $/atom:wat[46]/H2
    $/bond:wat[47]/OH1 @/bond:SPCE/OH $/atom:wat[47]/O $/atom:wat[47]/H1
    $/bond:wat[47]/OH2 @/bond:SPCE/OH $/atom:wat[47]/O $/atom:wat[47]/H2
    $/bond:wat[48]/OH1 @/bond:SPCE/OH $/atom:wat[48]/O $/atom:wat[48]/H1
    $/bond:wat[48]/OH2 @/bond:SPCE/OH $/atom:wat[48]/O $/atom:wat[48]/H2
    $/bond:wat[49]/OH1 @/bond:SPCE/OH $/atom:wat[49]/O $/atom:wat[49]/H1
    $/bond:wat[49]/OH2 @/bond:SPCE/OH $/atom:wat[49]/O $/atom:wat[49]/H2
    $/bond:wat[50]/OH1 @/bond:SPCE/OH $/atom:wat[50]/O $/atom:wat[50]/H1
    $/bond:wat[50]/OH2 @/bond:SPCE/OH $/atom:wat[50]/O $/atom:wat[50]/H2
    $/bond:wat[51]/OH1 @/bond:SPCE/OH $/atom:wat[51]/O $/atom:wat[51]/H1
    $/bond:wat[51]/OH2 @/bond:SPCE/OH $/atom:wat[51]/O $/atom:wat[51]/H2
    $/bond:wat[52]/OH1 @/bond:SPCE/OH $/atom:wat[52]/O $/atom:wat[52]/H1
    $/bond:wat[52]/OH2 @/bond:SPCE/OH $/atom:wat[52]/O $/atom:wat[52]/H2
    $/bond:wat[53]/OH1 @/bond:SPCE/OH $/atom:wat[53]/O $/atom:wat[53]/H1
    $/bond:wat[53]/OH2 @/bond:SPCE/OH $/atom:wat[53]/O $/atom:wat[53]/H2
    $/bond:wat[54]/OH1 @/bond:SPCE/OH $/atom:wat[54]/O $/atom:wat[54]/H1
    $/bond:wat[54]/OH2 @/bond:SPCE/OH $/atom:wat[54]/O $/atom:wat[54]/H2
    $/bond:wat[55]/OH1 @/bond:SPCE/OH $/atom:wat[55]/O $/atom:wat[55]/H1
    $/bond:wat[55]/OH2 @/bond:SPCE/OH $/atom:wat[55]/O $/atom:wat[55]/H2
    $/bond:wat[56]/OH1 @/bond:SPCE/OH $/atom:wat[56]/O $/atom:wat[56]/H1
    $/bond:wat[56]/OH2 @/bond:SPCE/OH $/atom:wat[56]/O $/atom:wat[56]/H2
    $/bond:wat[57]/OH1 @/bond:SPCE/OH $/atom:wat[57]/O $/atom:wat[57]/H1
    $/bond:wat[57]/OH2 @/bond:SPCE/OH $/atom:wat[57]/O $/atom:wat[57]/H2
    $/bond:wat[58]/OH1 @/bond:SPCE/OH $/atom:wat[58]/O $/atom:wat[58]/H1
    $/bond:wat[58]/OH2 @/bond:SPCE/OH $/atom:wat[58]/O $/atom:wat[58]/H2
    $/bond:wat[59]/OH1 @/bond:SPCE/OH $/atom:wat[59]/O $/atom:wat[59]/H1
    $/bond:wat[59]/OH2 @/bond:SPCE/OH $/atom:wat[59]/O $/atom:wat[59]/H2
    $/bond:wat[60]/OH1 @/bond:SPCE/OH $/atom:wat[60]/O $/atom:wat[60]/H1
    $/bond:wat[60]/OH2 @/bond:SPCE/OH $/atom:wat[60]/O $/atom:wat[60]/H2
    $/bond:wat[61]/OH1 @/bond:SPCE/OH $/atom:wat[61]/O $/atom:wat[61]/H1
    $/bond:wat[61]/OH2 @/bond:SPCE/OH $/atom:wat[61]/O $/atom:wat[61]/H2
    $/bond:wat[62]/OH1 @/bond:SPCE/OH $/atom:wat[62]/O $/atom:wat[62]/H1
    $/bond:wat[62]/OH2 @/bond:SPCE/OH $/atom:wat[62]/O $/atom:wat[62]/H2
    $/bond:wat[63]/OH1 @/bond:SPCE/OH $/atom:wat[63]/O $/atom:wat[63]/H1
    $/bond:wat[63]/OH2 @/bond:SPCE/OH $/atom:wat[63]/O $/atom:wat[63]/H2
    $/bond:wat[64]/OH1 @/bond:SPCE/OH $/atom:wat[64]/O $/atom:wat[64]/H1
    $/bond:wat[64]/OH2 @/bond:SPCE/OH $/atom:wat[64]/O $/atom:wat[64]/H2
    $/bond:wat[65]/OH1 @/bond:SPCE/OH $/atom:wat[65]/O $/atom:wat[65]/H1
    $/bond:wat[65]/OH2 @/bond:SPCE/OH $/atom:wat[65]/O $/atom:wat[65]/H2
    $/bond:wat[66]/OH1 @/bond:SPCE/OH $/atom:wat[66]/O $/atom:wat[66]/H1
    $/bond:wat[66]/OH2 @/bond:SPCE/OH $/atom:wat[66]/O $/atom:wat[66]/H2
    $/bond:wat[67]/OH1 @/bond:SPCE/OH $/atom:wat[67]/O $/atom:wat[67]/H1
    $/bond:wat[67]/OH2 @/bond:SPCE/OH $/atom:wat[67]/O $/atom:wat[67]/H2
    $/bond:wat[68]/OH1 @/bond:SPCE/OH $/atom:wat[68]/O $/atom:wat[68]/H1
    $/bond:wat[68]/OH2 @/bond:SPCE/OH $/atom:wat[68]/O $/atom:wat[68]/H2
    $/bond:wat[69]/OH1 @/bond:SPCE/OH $/atom:wat[69]/O $/atom:wat[69]/H1
    $/bond:wat[69]/OH2 @/bond:SPCE/OH $/atom:wat[69]/O $/atom:wat[69]/H2
    $/bond:wat[70]/OH1 @/bond:SPCE/OH $/atom:wat[70]/O $/atom:wat[70]/H1
    $/bond:wat[70]/OH2 @/bond:SPCE/OH $/atom:wat[70]/O $/atom:wat[70]/H2
    $/bond:wat[71]/OH1 @/bond:SPCE/OH $/atom:wat[71]/O $/atom:wat[71]/H1
    $/bond:wat[71]/OH2 @/bond:SPCE/OH $/atom:wat[71]/O $/atom:wat[71]/H2
    $/bond:wat[72]/OH1 @/bond:SPCE/OH $/atom:wat[72]/O $/atom:wat[72]/H1
    $/bond:wat[72]/OH2 @/bond:SPCE/OH $/atom:wat[72]/O $/atom:wat[72]/H2
    $/bond:wat[73]/OH1 @/bond:SPCE/OH $/atom:wat[73]/O $/atom:wat[73]/H1
    $/bond:wat[73]/OH2 @/bond:SPCE/OH $/atom:wat[73]/O $/atom:wat[73]/H2
    $/bond:wat[74]/OH1 @/bond:SPCE/OH $/atom:wat[74]/O $/atom:wat[74]/H1
    $/bond:wat[74]/OH2 @/bond:SPCE/OH $/atom:wat[74]/O $/atom:wat[74]/H2
    $/bond:wat[75]/OH1 @/bond:SPCE/OH $/atom:wat[75]/O $/atom:wat[75]/H1
    $/bond:wat[75]/OH2 @/bond:SPCE/OH $/atom:wat[75]/O $/atom:wat[75]/H2
    $/bond:wat[76]/OH1 @/bond:SPCE/OH $/atom:wat[76]/O $/atom:wat[76]/H1
    $/bond:wat[76]/OH2 @/bond:SPCE/OH $/atom:wat[76]/O $/atom:wat[76]/H2
    $/bond:wat[77]/OH1 @/bond:SPCE/OH $/atom:wat[77]/O $/atom:wat[77]/H1
    $/bond:wat[77]/OH2 @/bond:SPCE/OH $/atom:wat[77]/O $/atom:wat[77]/H2
    $/bond:wat[78]/OH1 @/bond:SPCE/OH $/atom:wat[78]/O $/atom:wat[78]/H1
    $/bond:wat[78]/OH2 @/bond:SPCE/OH $/atom:wat[78]/O $/atom:wat[78]/H2
    $/bond:wat[79]/OH1 @/bond:SPCE/OH $/atom:wat[79]/O $/atom:wat[79]/H1
    $/bond:wat[79]/OH2 @/bond:SPCE/OH $/atom:wat[79]/O $/atom:wat[79]/H2
    $/bond:wat[80]/OH1 @/bond:SPCE/OH $/atom:wat[80]/O $/atom:wat[80]/H1
    $/bond:wat[80]/OH2 @/bond:SPCE/OH $/atom:wat[80]/O $/atom:wat[80]/H2
    $/bond:wat[81]/OH1 @/bond:SPCE/OH $/atom:wat[81]/O $/atom:wat[81]/H1
    $/bond:wat[81]/OH2 @/bond:SPCE/OH $/atom:wat[81]/O $/atom:wat[81]/H2
    $/bond:wat[82]/OH1 @/bond:SPCE/OH $/atom:wat[82]/O $/atom:wat[82]/H1
    $/bond:wat[82]/OH2 @/bond:SPCE/OH $/atom:wat[82]/O $/atom:wat[82]/H2
    $/bond:wat[83]/OH1 @/bond:SPCE/OH $/atom:wat[83]/O $/atom:wat[83]/H1
    $/bond:wat[83]/OH2 @/bond:SPCE/OH $/atom:wat[83]/O $/atom:wat[83]/H2
    $/bond:wat[84]/OH1 @/bond:SPCE/OH $/atom:wat[84]/O $/atom:wat[84]/H1
    $/bond:wat[84]/OH2 @/bond:SPCE/OH $/atom:wat[84]/O $/atom:wat[84]/H2
    $/bond:wat[85]/OH1 @/bond:SPCE/OH $/atom:wat[85]/O $/atom:wat[85]/H1
    $/bond:wat[85]/OH2 @/bond:SPCE/OH $/atom:wat[85]/O $/atom:wat[85]/H2
    $/bond:wat[86]/OH1 @/bond:SPCE/OH $/atom:wat[86]/O $/atom:wat[86]/H1
    $/bond:wat[86]/OH2 @/bond:SPCE/OH $/atom:wat[86]/O $/atom:wat[86]/H2
    $/bond:wat[87]/OH1 @/bond:SPCE/OH $/atom:wat[87]/O $/atom:wat[87]/H1
    $/bond:wat[87]/OH2 @/bond:SPCE/OH $/atom:wat[87]/O $/atom:wat[87]/H2
    $/bond:wat[88]/OH1 @/bond:SPCE/OH $/atom:wat[88]/O $/atom:wat[88]/H1
    $/bond:wat[88]/OH2 @/bond:SPCE/OH $/atom:wat[88]/O $/atom:wat[88]/H2
    $/bond:wat[89]/OH1 @/bond:SPCE/OH $/atom:wat[89]/O $/atom:wat[89]/H1
    $/bond:wat[89]/OH2 @/bond:SPCE/OH $/atom:wat[89]/O $/atom:wat[89]/H2
    $/bond:wat[90]/OH1 @/bond:SPCE/OH $/atom:wat[90]/O $/atom:wat[90]/H1
    $/bond:wat[90]/OH2 @/bond:SPCE/OH $/atom:wat[90]/O $/atom:wat[90]/H2
    $/bond:wat[91]/OH1 @/bond:SPCE/OH $/atom:wat[91]/O $/atom:wat[91]/H1
    $/bond:wat[91]/OH2 @/bond:SPCE/OH $/atom:wat[91]/O $/atom:wat[91]/H2
    $/bond:wat[92]/OH1 @/bond:SPCE/OH $/atom:wat[92]/O $/atom:wat[92]/H1
    $/bond:wat[92]/OH2 @/bond:SPCE/OH $/atom:wat[92]/O $/atom:wat[92]/H2
    $/bond:wat[93]/OH1 @/bond:SPCE/OH $/atom:wat[93]/O $/atom:wat[93]/H1
    $/bond:wat[93]/OH2 @/bond:SPCE/OH $/atom:wat[93]/O $/atom:wat[93]/H2
    $/bond:wat[94]/OH1 @/bond:SPCE/OH $/atom:wat[94]/O $/atom:wat[94]/H1
    $/bond:wat[94]/OH2 @/bond:SPCE/OH $/atom:wat[94]/O $/atom:wat[94]/H2
    $/bond:wat[95]/OH1 @/bond:SPCE/OH $/atom:wat[95]/O $/atom:wat[95]/H1
    $/bond:wat[95]/OH2 @/bond:SPCE/OH $/atom:wat[95]/O $/atom:wat[95]/H2
    $/bond:wat[96]/OH1 @/bond:SPCE/OH $/atom:wat[96]/O $/atom:wat[96]/H1
    $/bond:wat[96]/OH2 @/bond:SPCE/OH $/atom:wat[96]/O $/atom:wat[96]/H2
    $/bond:wat[97]/OH1 @/bond:SPCE/OH $/atom:wat[97]/O $/atom:wat[97]/H1
    $/bond:wat[97]/OH2 @/bond:SPCE/OH $/atom:wat[97]/O $/atom:wat[97]/H2
    $/bond:wat[98]/OH1 @/bond:SPCE/OH $/atom:wat[98]/O $/atom:wat[98]/H1
    $/bond:wat[98]/OH2 @/bond:SPCE/OH $/atom:wat[98]/O $/atom:wat[98]/H2
    $/bond:wat[99]/OH1 @/bond:SPCE/OH $/atom:wat[99]/O $/atom:wat[99]/H1
    $/bond:wat[99]/OH2 @/bond:SPCE/OH $/atom:wat[99]/O $/atom:wat[99]/H2
    $/bond:wat[100]/OH1 @/bond:SPCE/OH $/atom:wat[100]/O $/atom:wat[100]/H1
    $/bond:wat[100]/OH2 @/bond:SPCE/OH $/atom:wat[100]/O $/atom:wat[100]/H2
    $/bond:wat[101]/OH1 @/bond:SPCE/OH $/atom:wat[101]/O $/atom:wat[101]/H1
    $/bond:wat[101]/OH2 @/bond:SPCE/OH $/atom:wat[101]/O $/atom:wat[101]/H2
    $/bond:wat[102]/OH1 @/bond:SPCE/OH $/atom:wat[102]/O $/atom:wat[102]/H1
    $/bond:wat[102]/OH2 @/bond:SPCE/OH $/atom:wat[102]/O $/atom:wat[102]/H2
    $/bond:wat[103]/OH1 @/bond:SPCE/OH $/atom:wat[103]/O $/atom:wat[103]/H1
    $/bond:wat[103]/OH2 @/bond:SPCE/OH $/atom:wat[103]/O $/atom:wat[103]/H2
    $/bond:wat[104]/OH1 @/bond:SPCE/OH $/atom:wat[104]/O $/atom:wat[104]/H1
    $/bond:wat[104]/OH2 @/bond:SPCE/OH $/atom:wat[104]/O $/atom:wat[104]/H2
    $/bond:wat[105]/OH1 @/bond:SPCE/OH $/atom:wat[105]/O $/atom:wat[105]/H1
    $/bond:wat[105]/OH2 @/bond:SPCE/OH $/atom:wat[105]/O $/atom:wat[105]/H2
    $/bond:wat[106]/OH1 @/bond:SPCE/OH $/atom:wat[106]/O $/atom:wat[106]/H1
    $/bond:wat[106]/OH2 @/bond:SPCE/OH $/atom:wat[106]/O $/atom:wat[106]/H2
    $/bond:wat[107]/OH1 @/bond:SPCE/OH $/atom:wat[107]/O $/atom:wat[107]/H1
    $/bond:wat[107]/OH2 @/bond:SPCE/OH $/atom:wat[107]/O $/atom:wat[107]/H2
    $/bond:wat[108]/OH1 @/bond:SPCE/OH $/atom:wat[108]/O $/atom:wat[108]/H1
    $/bond:wat[108]/OH2 @/bond:SPCE/OH $/atom:wat[108]/O $/atom:wat[108]/H2
    $/bond:wat[109]/OH1 @/bond:SPCE/OH $/atom:wat[109]/O $/atom:wat[109]/H1
    $/bond:wat[109]/OH2 @/bond:SPCE/OH $/atom:wat[109]/O $/atom:wat[109]/H2
    $/bond:wat[110]/OH1 @/bond:SPCE/OH $/atom:wat[110]/O $/atom:wat[110]/H1
    $/bond:wat[110]/OH2 @/bond:SPCE/OH $/atom:wat[110]/O $/atom:wat[110]/H2
    $/bond:wat[111]/OH1 @/bond:SPCE/OH $/atom:wat[111]/O $/atom:wat[111]/H1
    $/bond:wat[111]/OH2 @/bond:SPCE/OH $/atom:wat[111]/O $/atom:wat[111]/H2
    $/bond:wat[112]/OH1 @/bond:SPCE/OH $/atom:wat[112]/O $/atom:wat[112]/H1
    $/bond:wat[112]/OH2 @/bond:SPCE/OH $/atom:wat[112]/O $/atom:wat[112]/H2
    $/bond:wat[113]/OH1 @/bond:SPCE/OH $/atom:wat[113]/O $/atom:wat[113]/H1
    $/bond:wat[113]/OH2 @/bond:SPCE/OH $/atom:wat[113]/O $/atom:wat[113]/H2
    $/bond:wat[114]/OH1 @/bond:SPCE/OH $/atom:wat[114]/O $/atom:wat[114]/H1
    $/bond:wat[114]/OH2 @/bond:SPCE/OH $/atom:wat[114]/O $/atom:wat[114]/H2
    $/bond:wat[115]/OH1 @/bond:SPCE/OH $/atom:wat[115]/O $/atom:wat[115]/H1
    $/bond:wat[115]/OH2 @/bond:SPCE/OH $/atom:wat[115]/O $/atom:wat[115]/H2
    $/bond:wat[116]/OH1 @/bond:SPCE/OH $/atom:wat[116]/O $/atom:wat[116]/H1
    $/bond:wat[116]/OH2 @/bond:SPCE/OH $/atom:wat[116]/O $/atom:wat[116]/H2
    $/bond:wat[117]/OH1 @/bond:SPCE/OH $/atom:wat[117]/O $/atom:wat[117]/H1
    $/bond:wat[117]/OH2 @/bond:SPCE/OH $/atom:wat[117]/O $/atom:wat[117]/H2
    $/bond:wat[118]/OH1 @/bond:SPCE/OH $/atom:wat[118]/O $/atom:wat[118]/H1
    $/bond:wat[118]/OH2 @/bond:SPCE/OH $/atom:wat[118]/O $/atom:wat[118]/H2
    $/bond:wat[119]/OH1 @/bond:SPCE/OH $/atom:wat[119]/O $/atom:wat[119]/H1
    $/bond:wat[119]/OH2 @/bond:SPCE/OH $/atom:wat[119]/O $/atom:wat[119]/H2
    $/bond:wat[120]/OH1 @/bond:SPCE/OH $/atom:wat[120]/O $/atom:wat[120]/H1
    $/bond:wat[120]/OH2 @/bond:SPCE/OH $/atom:wat[120]/O $/atom:wat[120]/H2
    $/bond:wat[121]/OH1 @/bond:SPCE/OH $/atom:wat[121]/O $/atom:wat[121]/H1
    $/bond:wat[121]/OH2 @/bond:SPCE/OH $/atom:wat[121]/O $/atom:wat[121]/H2
    $/bond:wat[122]/OH1 @/bond:SPCE/OH $/atom:wat[122]/O $/atom:wat[122]/H1
    $/bond:wat[122]/OH2 @/bond:SPCE/OH $/atom:wat[122]/O $/atom:wat[122]/H2
    $/bond:wat[123]/OH1 @/bond:SPCE/OH $/atom:wat[123]/O $/atom:wat[123]/H1
    $/bond:wat[123]/OH2 @/bond:SPCE/OH $/atom:wat[123]/O $/atom:wat[123]/H2
    $/bond:wat[124]/OH1 @/bond:SPCE/OH $/atom:wat[124]/O $/atom:wat[124]/H1
    $/bond:wat[124]/OH2 @/bond:SPCE/OH $/atom:wat[124]/O $/atom:wat[124]/H2
    $/bond:wat[125]/OH1 @/bond:SPCE/OH $/atom:wat[125]/O $/atom:wat[125]/H1
    $/bond:wat[125]/OH2 @/bond:SPCE/OH $/atom:wat[125]/O $/atom:wat[125]/H2
    $/bond:wat[126]/OH1 @/bond:SPCE/OH $/atom:wat[126]/O $/atom:wat[126]/H1
    $/bond:wat[126]/OH2 @/bond:SPCE/OH $/atom:wat[126]/O $/atom:wat[126]/H2
    $/bond:wat[127]/OH1 @/bond:SPCE/OH $/atom:wat[127]/O $/atom:wat[127]/H1
    $/bond:wat[127]/OH2 @/bond:SPCE/OH $/atom:wat[127]/O $/atom:wat[127]/H2
    $/bond:wat[128]/OH1 @/bond:SPCE/OH $/atom:wat[128]/O $/atom:wat[128]/H1
    $/bond:wat[128]/OH2 @/bond:SPCE/OH $/atom:wat[128]/O $/atom:wat[128]/H2
    $/bond:wat[129]/OH1 @/bond:SPCE/OH $/atom:wat[129]/O $/atom:wat[129]/H1
    $/bond:wat[129]/OH2 @/bond:SPCE/OH $/atom:wat[129]/O $/atom:wat[129]/H2
    $/bond:wat[130]/OH1 @/bond:SPCE/OH $/atom:wat[130]/O $/atom:wat[130]/H1
    $/bond:wat[130]/OH2 @/bond:SPCE/OH $/atom:wat[130]/O $/atom:wat[130]/H2
    $/bond:wat[131]/OH1 @/bond:SPCE/OH $/atom:wat[131]/O $/atom:wat[131]/H1
    $/bond:wat[131]/OH2 @/bond:SPCE/OH $/atom:wat[131]/O $/atom:wat[131]/H2
    $/bond:wat[132]/OH1 @/bond:SPCE/OH $/atom:wat[132]/O $/atom:wat[132]/H1
    $/bond:wat[132]/OH2 @/bond:SPCE/OH $/atom:wat[132]/O $/atom:wat[132]/H2
    $/bond:wat[133]/OH1 @/bond:SPCE/OH $/atom:wat[133]/O $/atom:wat[133]/H1
    $/bond:wat[133]/OH2 @/bond:SPCE/OH $/atom:wat[133]/O $/atom:wat[133]/H2
    $/bond:wat[134]/OH1 @/bond:SPCE/OH $/atom:wat[134]/O $/atom:wat[134]/H1
    $/bond:wat[134]/OH2 @/bond:SPCE/OH $/atom:wat[134]/O $/atom:wat[134]/H2
    $/bond:wat[135]/OH1 @/bond:SPCE/OH $/atom:wat[135]/O $/atom:wat[135]/H1
    $/bond:wat[135]/OH2 @/bond:SPCE/OH $/atom:wat[135]/O $/atom:wat[135]/H2
    $/bond:wat[136]/OH1 @/bond:SPCE/OH $/atom:wat[136]/O $/atom:wat[136]/H1
    $/bond:wat[136]/OH2 @/bond:SPCE/OH $/atom:wat[136]/O $/atom:wat[136]/H2
    $/bond:wat[137]/OH1 @/bond:SPCE/OH $/atom:wat[137]/O $/atom:wat[137]/H1
    $/bond:wat[137]/OH2 @/bond:SPCE/OH $/atom:wat[137]/O $/atom:wat[137]/H2
    $/bond:wat[138]/OH1 @/bond:SPCE/OH $/atom:wat[138]/O $/atom:wat[138]/H1
    $/bond:wat[138]/OH2 @/bond:SPCE/OH $/atom:wat[138]/O $/atom:wat[138]/H2
    $/bond:wat[139]/OH1 @/bond:SPCE/OH $/atom:wat[139]/O $/atom:wat[139]/H1
    $/bond:wat[139]/OH2 @/bond:SPCE/OH $/atom:wat[139]/O $/atom:wat[139]/H2
    $/bond:wat[140]/OH1 @/bond:SPCE/OH $/atom:wat[140]/O $/atom:wat[140]/H1
    $/bond:wat[140]/OH2 @/bond:SPCE/OH $/atom:wat[140]/O $/atom:wat[140]/H2
    $/bond:wat[141]/OH1 @/bond:SPCE/OH $/atom:wat[141]/O $/atom:wat[141]/H1
    $/bond:wat[141]/OH2 @/bond:SPCE/OH $/atom:wat[141]/O $/atom:wat[141]/H2
    $/bond:wat[142]/OH1 @/bond:SPCE/OH $/atom:wat[142]/O $/atom:wat[142]/H1
    $/bond:wat[142]/OH2 @/bond:SPCE/OH $/atom:wat[142]/O $/atom:wat[142]/H2
    $/bond:wat[143]/OH1 @/bond:SPCE/OH $/atom:wat[143]/O $/atom:wat[143]/H1
    $/bond:wat[143]/OH2 @/bond:SPCE/OH $/atom:wat[143]/O $/atom:wat[143]/H2
    $/bond:wat[144]/OH1 @/bond:SPCE/OH $/atom:wat[144]/O $/atom:wat[144]/H1
    $/bond:wat[144]/OH2 @/bond:SPCE/OH $/atom:wat[144]/O $/atom:wat[144]/H2
    $/bond:wat[145]/OH1 @/bond:SPCE/OH $/atom:wat[145]/O $/atom:wat[145]/H1
    $/bond:wat[145]/OH2 @/bond:SPCE/OH $/atom:wat[145]/O $/atom:wat[145]/H2
    $/bond:wat[146]/OH1 @/bond:SPCE/OH $/atom:wat[146]/O $/atom:wat[146]/H1
    $/bond:wat[146]/OH2 @/bond:SPCE/OH $/atom:wat[146]/O $/atom:wat[146]/H2
    $/bond:wat[147]/OH1 @/bond:SPCE/OH $/atom:wat[147]/O $/atom:wat[147]/H1
    $/bond:wat[147]/OH2 @/bond:SPCE/OH $/atom:wat[147]/O $/atom:wat[147]/H2
    $/bond:wat[148]/OH1 @/bond:SPCE/OH $/atom:wat[148]/O $/atom:wat[148]/H1
    $/bond:wat[148]/OH2 @/bond:SPCE/OH $/atom:wat[148]/O $/atom:wat[148]/H2
    $/bond:wat[149]/OH1 @/bond:SPCE/OH $/atom:wat[149]/O $/atom:wat[149]/H1
    $/bond:wat[149]/OH2 @/bond:SPCE/OH $/atom:wat[149]/O $/atom:wat[149]/H2
    $/bond:wat[150]/OH1 @/bond:SPCE/OH $/atom:wat[150]/O $/atom:wat[150]/H1
    $/bond:wat[150]/OH2 @/bond:SPCE/OH $/atom:wat[150]/O $/atom:wat[150]/H2
    $/bond:wat[151]/OH1 @/bond:SPCE/OH $/atom:wat[151]/O $/atom:wat[151]/H1
    $/bond:wat[151]/OH2 @/bond:SPCE/OH $/atom:wat[151]/O $/atom:wat[151]/H2
    $/bond:wat[152]/OH1 @/bond:SPCE/OH $/atom:wat[152]/O $/atom:wat[152]/H1
    $/bond:wat[152]/OH2 @/bond:SPCE/OH $/atom:wat[152]/O $/atom:wat[152]/H2
    $/bond:wat[153]/OH1 @/bond:SPCE/OH $/atom:wat[153]/O $/atom:wat[153]/H1
    $/bond:wat[153]/OH2 @/bond:SPCE/OH $/atom:wat[153]/O $/atom:wat[153]/H2
    $/bond:wat[154]/OH1 @/bond:SPCE/OH $/atom:wat[154]/O $/atom:wat[154]/H1
    $/bond:wat[154]/OH2 @/bond:SPCE/OH $/atom:wat[154]/O $/atom:wat[154]/H2
    $/bond:wat[155]/OH1 @/bond:SPCE/OH $/atom:wat[155]/O $/atom:wat[155]/H1
    $/bond:wat[155]/OH2 @/bond:SPCE/OH $/atom:wat[155]/O $/atom:wat[155]/H2
    $/bond:wat[156]/OH1 @/bond:SPCE/OH $/atom:wat[156]/O $/atom:wat[156]/H1
    $/bond:wat[156]/OH2 @/bond:SPCE/OH $/atom:wat[156]/O $/atom:wat[156]/H2
    $/bond:wat[157]/OH1 @/bond:SPCE/OH $/atom:wat[157]/O $/atom:wat[157]/H1
    $/bond:wat[157]/OH2 @/bond:SPCE/OH $/atom:wat[157]/O $/atom:wat[157]/H2
    $/bond:wat[158]/OH1 @/bond:SPCE/OH $/atom:wat[158]/O $/atom:wat[158]/H1
    $/bond:wat[158]/OH2 @/bond:SPCE/OH $/atom:wat[158]/O $/atom:wat[158]/H2
    $/bond:wat[159]/OH1 @/bond:SPCE/OH $/atom:wat[159]/O $/atom:wat[159]/H1
    $/bond:wat[159]/OH2 @/bond:SPCE/OH $/atom:wat[159]/O $/atom:wat[159]/H2
    $/bond:wat[160]/OH1 @/bond:SPCE/OH $/atom:wat[160]/O $/atom:wat[160]/H1
    $/bond:wat[160]/OH2 @/bond:SPCE/OH $/atom:wat[160]/O $/atom:wat[160]/H2
    $/bond:wat[161]/OH1 @/bond:SPCE/OH $/atom:wat[161]/O $/atom:wat[161]/H1
    $/bond:wat[161]/OH2 @/bond:SPCE/OH $/atom:wat[161]/O $/atom:wat[161]/H2
    $/bond:wat[162]/OH1 @/bond:SPCE/OH $/atom:wat[162]/O $/atom:wat[162]/H1
    $/bond:wat[162]/OH2 @/bond:SPCE/OH $/atom:wat[162]/O $/atom:wat[162]/H2
    $/bond:wat[163]/OH1 @/bond:SPCE/OH $/atom:wat[163]/O $/atom:wat[163]/H1
    $/bond:wat[163]/OH2 @/bond:SPCE/OH $/atom:wat[163]/O $/atom:wat[163]/H2
    $/bond:wat[164]/OH1 @/bond:SPCE/OH $/atom:wat[164]/O $/atom:wat[164]/H1
    $/bond:wat[164]/OH2 @/bond:SPCE/OH $/atom:wat[164]/O $/atom:wat[164]/H2
    $/bond:wat[165]/OH1 @/bond:SPCE/OH $/atom:wat[165]/O $/atom:wat[165]/H1
    $/bond:wat[165]/OH2 @/bond:SPCE/OH $/atom:wat[165]/O $/atom:wat[165]/H2
    $/bond:wat[166]/OH1 @/bond:SPCE/OH $/atom:wat[166]/O $/atom:wat[166]/H1
    $/bond:wat[166]/OH2 @/bond:SPCE/OH $/atom:wat[166]/O $/atom:wat[166]/H2
    $/bond:wat[167]/OH1 @/bond:SPCE/OH $/atom:wat[167]/O $/atom:wat[167]/H1
    $/bond:wat[167]/OH2 @/bond:SPCE/OH $/atom:wat[167]/O $/atom:wat[167]/H2
    $/bond:wat[168]/OH1 @/bond:SPCE/OH $/atom:wat[168]/O $/atom:wat[168]/H1
    $/bond:wat[168]/OH2 @/bond:SPCE/OH $/atom:wat[168]/O $/atom:wat[168]/H2
    $/bond:wat[169]/OH1 @/bond:SPCE/OH $/atom:wat[169]/O $/atom:wat[169]/H1
    $/bond:wat[169]/OH2 @/bond:SPCE/OH $/atom:wat[169]/O $/atom:wat[169]/H2
    $/bond:wat[170]/OH1 @/bond:SPCE/OH $/atom:wat[170]/O $/atom:wat[170]/H1
    $/bond:wat[170]/OH2 @/bond:SPCE/OH $/atom:wat[170]/O $/atom:wat[170]/H2
    $/bond:wat[171]/OH1 @/bond:SPCE/OH $/atom:wat[171]/O $/atom:wat[171]/H1
    $/bond:wat[171]/OH2 @/bond:SPCE/OH $/atom:wat[171]/O $/atom:wat[171]/H2
    $/bond:wat[172]/OH1 @/bond:SPCE/OH $/atom:wat[172]/O $/atom:wat[172]/H1
    $/bond:wat[172]/OH2 @/bond:SPCE/OH $/atom:wat[172]/O $/atom:wat[172]/H2
    $/bond:wat[173]/OH1 @/bond:SPCE/OH $/atom:wat[173]/O $/atom:wat[173]/H1
    $/bond:wat[173]/OH2 @/bond:SPCE/OH $/atom:wat[173]/O $/atom:wat[173]/H2
    $/bond:wat[174]/OH1 @/bond:SPCE/OH $/atom:wat[174]/O $/atom:wat[174]/H1
    $/bond:wat[174]/OH2 @/bond:SPCE/OH $/atom:wat[174]/O $/atom:wat[174]/H2
    $/bond:wat[175]/OH1 @/bond:SPCE/OH $/atom:wat[175]/O $/atom:wat[175]/H1
    $/bond:wat[175]/OH2 @/bond:SPCE/OH $/atom:wat[175]/O $/atom:wat[175]/H2
    $/bond:wat[176]/OH1 @/bond:SPCE/OH $/atom:wat[176]/O $/atom:wat[176]/H1
    $/bond:wat[176]/OH2 @/bond:SPCE/OH $/atom:wat[176]/O $/atom:wat[176]/H2
    $/bond:wat[177]/OH1 @/bond:SPCE/OH $/atom:wat[177]/O $/atom:wat[177]/H1
    $/bond:wat[177]/OH2 @/bond:SPCE/OH $/atom:wat[177]/O $/atom:wat[177]/H2
    $/bond:wat[178]/OH1 @/bond:SPCE/OH $/atom:wat[178]/O $/atom:wat[178]/H1
    $/bond:wat[178]/OH2 @/bond:SPCE/OH $/atom:wat[178]/O $/atom:wat[178]/H2
    $/bond:wat[179]/OH1 @/bond:SPCE/OH $/atom:wat[179]/O $/atom:wat[179]/H1
    $/bond:wat[179]/OH2 @/bond:SPCE/OH $/atom:wat[179]/O $/atom:wat[179]/H2
    $/bond:wat[180]/OH1 @/bond:SPCE/OH $/atom:wat[180]/O $/atom:wat[180]/H1
    $/bond:wat[180]/OH2 @/bond:SPCE/OH $/atom:wat[180]/O $/atom:wat[180]/H2
    $/bond:wat[181]/OH1 @/bond:SPCE/OH $/atom:wat[181]/O $/atom:wat[181]/H1
    $/bond:wat[181]/OH2 @/bond:SPCE/OH $/atom:wat[181]/O $/atom:wat[181]/H2
    $/bond:wat[182]/OH1 @/bond:SPCE/OH $/atom:wat[182]/O $/atom:wat[182]/H1
    $/bond:wat[182]/OH2 @/bond:SPCE/OH $/atom:wat[182]/O $/atom:wat[182]/H2
    $/bond:wat[183]/OH1 @/bond:SPCE/OH $/atom:wat[183]/O $/atom:wat[183]/H1
    $/bond:wat[183]/OH2 @/bond:SPCE/OH $/atom:wat[183]/O $/atom:wat[183]/H2
    $/bond:wat[184]/OH1 @/bond:SPCE/OH $/atom:wat[184]/O $/atom:wat[184]/H1
    $/bond:wat[184]/OH2 @/bond:SPCE/OH $/atom:wat[184]/O $/atom:wat[184]/H2
    $/bond:wat[185]/OH1 @/bond:SPCE/OH $/atom:wat[185]/O $/atom:wat[185]/H1
    $/bond:wat[185]/OH2 @/bond:SPCE/OH $/atom:wat[185]/O $/atom:wat[185]/H2
    $/bond:wat[186]/OH1 @/bond:SPCE/OH $/atom:wat[186]/O $/atom:wat[186]/H1
    $/bond:wat[186]/OH2 @/bond:SPCE/OH $/atom:wat[186]/O $/atom:wat[186]/H2
    $/bond:wat[187]/OH1 @/bond:SPCE/OH $/atom:wat[187]/O $/atom:wat[187]/H1
    $/bond:wat[187]/OH2 @/bond:SPCE/OH $/atom:wat[187]/O $/atom:wat[187]/H2
    $/bond:wat[188]/OH1 @/bond:SPCE/OH $/atom:wat[188]/O $/atom:wat[188]/H1
    $/bond:wat[188]/OH2 @/bond:SPCE/OH $/atom:wat[188]/O $/atom:wat[188]/H2
    $/bond:wat[189]/OH1 @/bond:SPCE/OH $/atom:wat[189]/O $/atom:wat[189]/H1
    $/bond:wat[189]/OH2 @/bond:SPCE/OH $/atom:wat[189]/O $/atom:wat[189]/H2
    $/bond:wat[190]/OH1 @/bond:SPCE/OH $/atom:wat[190]/O $/atom:wat[190]/H1
    $/bond:wat[190]/OH2 @/bond:SPCE/OH $/atom:wat[190]/O $/atom:wat[190]/H2
    $/bond:wat[191]/OH1 @/bond:SPCE/OH $/atom:wat[191]/O $/atom:wat[191]/H1
    $/bond:wat[191]/OH2 @/bond:SPCE/OH $/atom:wat[191]/O $/atom:wat[191]/H2
    $/bond:wat[192]/OH1 @/bond:SPCE/OH $/atom:wat[192]/O $/atom:wat[192]/H1
    $/bond:wat[192]/OH2 @/bond:SPCE/OH $/atom:wat[192]/O $/atom:wat[192]/H2
    $/bond:wat[193]/OH1 @/bond:SPCE/OH $/atom:wat[193]/O $/atom:wat[193]/H1
    $/bond:wat[193]/OH2 @/bond:SPCE/OH $/atom:wat[193]/O $/atom:wat[193]/H2
    $/bond:wat[194]/OH1 @/bond:SPCE/OH $/atom:wat[194]/O $/atom:wat[194]/H1
    $/bond:wat[194]/OH2 @/bond:SPCE/OH $/atom:wat[194]/O $/atom:wat[194]/H2
    $/bond:wat[195]/OH1 @/bond:SPCE/OH $/atom:wat[195]/O $/atom:wat[195]/H1
    $/bond:wat[195]/OH2 @/bond:SPCE/OH $/atom:wat[195]/O $/atom:wat[195]/H2
    $/bond:wat[196]/OH1 @/bond:SPCE/OH $/atom:wat[196]/O $/atom:wat[196]/H1
    $/bond:wat[196]/OH2 @/bond:SPCE/OH $/atom:wat[196]/O $/atom:wat[196]/H2
    $/bond:wat[197]/OH1 @/bond:SPCE/OH $/atom:wat[197]/O $/atom:wat[197]/H1
    $/bond:wat[197]/OH2 @/bond:SPCE/OH $/atom:wat[197]/O $/atom:wat[197]/H2
    $/bond:wat[198]/OH1 @/bond:SPCE/OH $/atom:wat[198]/O $/atom:wat[198]/H1
    $/bond:wat[198]/OH2 @/bond:SPCE/OH $/atom:wat[198]/O $/atom:wat[198]/H2
    $/bond:wat[199]/OH1 @/bond:SPCE/OH $/atom:wat[199]/O $/atom:wat[199]/H1
    $/bond:wat[199]/OH2 @/bond:SPCE/OH $/atom:wat[199]/O $/atom:wat[199]/H2
    $/bond:wat[200]/OH1 @/bond:SPCE/OH $/atom:wat[200]/O $/atom:wat[200]/H1
    $/bond:wat[200]/OH2 @/bond:SPCE/OH $/atom:wat[200]/O $/atom:wat[200]/H2
    $/bond:wat[201]/OH1 @/bond:SPCE/OH $/atom:wat[201]/O $/atom:wat[201]/H1
    $/bond:wat[201]/OH2 @/bond:SPCE/OH $/atom:wat[201]/O $/atom:wat[201]/H2
    $/bond:wat[202]/OH1 @/bond:SPCE/OH $/atom:wat[202]/O $/atom:wat[202]/H1
    $/bond:wat[202]/OH2 @/bond:SPCE/OH $/atom:wat[202]/O $/atom:wat[202]/H2
    $/bond:wat[203]/OH1 @/bond:SPCE/OH $/atom:wat[203]/O $/atom:wat[203]/H1
    $/bond:wat[203]/OH2 @/bond:SPCE/OH $/atom:wat[203]/O $/atom:wat[203]/H2
    $/bond:wat[204]/OH1 @/bond:SPCE/OH $/atom:wat[204]/O $/atom:wat[204]/H1
    $/bond:wat[204]/OH2 @/bond:SPCE/OH $/atom:wat[204]/O $/atom:wat[204]/H2
    $/bond:wat[205]/OH1 @/bond:SPCE/OH $/atom:wat[205]/O $/atom:wat[205]/H1
    $/bond:wat[205]/OH2 @/bond:SPCE/OH $/atom:wat[205]/O $/atom:wat[205]/H2
    $/bond:wat[206]/OH1 @/bond:SPCE/OH $/atom:wat[206]/O $/atom:wat[206]/H1
    $/bond:wat[206]/OH2 @/bond:SPCE/OH $/atom:wat[206]/O $/atom:wat[206]/H2
    $/bond:wat[207]/OH1 @/bond:SPCE/OH $/atom:wat[207]/O $/atom:wat[207]/H1
    $/bond:wat[207]/OH2 @/bond:SPCE/OH $/atom:wat[207]/O $/atom:wat[207]/H2
    $/bond:wat[208]/OH1 @/bond:SPCE/OH $/atom:wat[208]/O $/atom:wat[208]/H1
    $/bond:wat[208]/OH2 @/bond:SPCE/OH $/atom:wat[208]/O $/atom:wat[208]/H2
    $/bond:wat[209]/OH1 @/bond:SPCE/OH $/atom:wat[209]/O $/atom:wat[209]/H1
    $/bond:wat[209]/OH2 @/bond:SPCE/OH $/atom:wat[209]/O $/atom:wat[209]/H2
    $/bond:wat[210]/OH1 @/bond:SPCE/OH $/atom:wat[210]/O $/atom:wat[210]/H1
    $/bond:wat[210]/OH2 @/bond:SPCE/OH $/atom:wat[210]/O $/atom:wat[210]/H2
    $/bond:wat[211]/OH1 @/bond:SPCE/OH $/atom:wat[211]/O $/atom:wat[211]/H1
    $/bond:wat[211]/OH2 @/bond:SPCE/OH $/atom:wat[211]/O $/atom:wat[211]/H2
    $/bond:wat[212]/OH1 @/bond:SPCE/OH $/atom:wat[212]/O $/atom:wat[212]/H1
    $/bond:wat[212]/OH2 @/bond:SPCE/OH $/atom:wat[212]/O $/atom:wat[212]/H2
    $/bond:wat[213]/OH1 @/bond:SPCE/OH $/atom:wat[213]/O $/atom:wat[213]/H1
    $/bond:wat[213]/OH2 @/bond:SPCE/OH $/atom:wat[213]/O $/atom:wat[213]/H2
    $/bond:wat[214]/OH1 @/bond:SPCE/OH $/atom:wat[214]/O $/atom:wat[214]/H1
    $/bond:wat[214]/OH2 @/bond:SPCE/OH $/atom:wat[214]/O $/atom:wat[214]/H2
    $/bond:wat[215]/OH1 @/bond:SPCE/OH $/atom:wat[215]/O $/atom:wat[215]/H1
    $/bond:wat[215]/OH2 @/bond:SPCE/OH $/atom:wat[215]/O $/atom:wat[215]/H2
    $/bond:wat[216]/OH1 @/bond:SPCE/OH $/atom:wat[216]/O $/atom:wat[216]/H1
    $/bond:wat[216]/OH2 @/bond:SPCE/OH $/atom:wat[216]/O $/atom:wat[216]/H2
    $/bond:wat[217]/OH1 @/bond:SPCE/OH $/atom:wat[217]/O $/atom:wat[217]/H1
    $/bond:wat[217]/OH2 @/bond:SPCE/OH $/atom:wat[217]/O $/atom:wat[217]/H2
    $/bond:wat[218]/OH1 @/bond:SPCE/OH $/atom:wat[218]/O $/atom:wat[218]/H1
    $/bond:wat[218]/OH2 @/bond:SPCE/OH $/atom:wat[218]/O $/atom:wat[218]/H2
    $/bond:wat[219]/OH1 @/bond:SPCE/OH $/atom:wat[219]/O $/atom:wat[219]/H1
    $/bond:wat[219]/OH2 @/bond:SPCE/OH $/atom:wat[219]/O $/atom:wat[219]/H2
    $/bond:wat[220]/OH1 @/bond:SPCE/OH $/atom:wat[220]/O $/atom:wat[220]/H1
    $/bond:wat[220]/OH2 @/bond:SPCE/OH $/atom:wat[220]/O $/atom:wat[220]/H2
    $/bond:wat[221]/OH1 @/bond:SPCE/OH $/atom:wat[221]/O $/atom:wat[221]/H1
    $/bond:wat[221]/OH2 @/bond:SPCE/OH $/atom:wat[221]/O $/atom:wat[221]/H2
    $/bond:wat[222]/OH1 @/bond:SPCE/OH $/atom:wat[222]/O $/atom:wat[222]/H1
    $/bond:wat[222]/OH2 @/bond:SPCE/OH $/atom:wat[222]/O $/atom:wat[222]/H2
    $/bond:wat[223]/OH1 @/bond:SPCE/OH $/atom:wat[223]/O $/atom:wat[223]/H1
    $/bond:wat[223]/OH2 @/bond:SPCE/OH $/atom:wat[223]/O $/atom:wat[223]/H2
    $/bond:wat[224]/OH1 @/bond:SPCE/OH $/atom:wat[224]/O $/atom:wat[224]/H1
    $/bond:wat[224]/OH2 @/bond:SPCE/OH $/atom:wat[224]/O $/atom:wat[224]/H2
    $/bond:wat[225]/OH1 @/bond:SPCE/OH $/atom:wat[225]/O $/atom:wat[225]/H1
    $/bond:wat[225]/OH2 @/bond:SPCE/OH $/atom:wat[225]/O $/atom:wat[225]/H2
    $/bond:wat[226]/OH1 @/bond:SPCE/OH $/atom:wat[226]/O $/atom:wat[226]/H1
    $/bond:wat[226]/OH2 @/bond:SPCE/OH $/atom:wat[226]/O $/atom:wat[226]/H2
    $/bond:wat[227]/OH1 @/bond:SPCE/OH $/atom:wat[227]/O $/atom:wat[227]/H1
    $/bond:wat[227]/OH2 @/bond:SPCE/OH $/atom:wat[227]/O $/atom:wat[227]/H2
    $/bond:wat[228]/OH1 @/bond:SPCE/OH $/atom:wat[228]/O $/atom:wat[228]/H1
    $/bond:wat[228]/OH2 @/bond:SPCE/OH $/atom:wat[228]/O $/atom:wat[228]/H2
    $/bond:wat[229]/OH1 @/bond:SPCE/OH $/atom:wat[229]/O $/atom:wat[229]/H1
    $/bond:wat[229]/OH2 @/bond:SPCE/OH $/atom:wat[229]/O $/atom:wat[229]/H2
    $/bond:wat[230]/OH1 @/bond:SPCE/OH $/atom:wat[230]/O $/atom:wat[230]/H1
    $/bond:wat[230]/OH2 @/bond:SPCE/OH $/atom:wat[230]/O $/atom:wat[230]/H2
    $/bond:wat[231]/OH1 @/bond:SPCE/OH $/atom:wat[231]/O $/atom:wat[231]/H1
    $/bond:wat[231]/OH2 @/bond:SPCE/OH $/atom:wat[231]/O $/atom:wat[231]/H2
    $/bond:wat[232]/OH1 @/bond:SPCE/OH $/atom:wat[232]/O $/atom:wat[232]/H1
    $/bond:wat[232]/OH2 @/bond:SPCE/OH $/atom:wat[232]/O $/atom:wat[232]/H2
    $/bond:wat[233]/OH1 @/bond:SPCE/OH $/atom:wat[233]/O $/atom:wat[233]/H1
    $/bond:wat[233]/OH2 @/bond:SPCE/OH $/atom:wat[233]/O $/atom:wat[233]/H2
    $/bond:wat[234]/OH1 @/bond:SPCE/OH $/atom:wat[234]/O $/atom:wat[234]/H1
    $/bond:wat[234]/OH2 @/bond:SPCE/OH $/atom:wat[234]/O $/atom:wat[234]/H2
    $/bond:wat[235]/OH1 @/bond:SPCE/OH $/atom:wat[235]/O $/atom:wat[235]/H1
    $/bond:wat[235]/OH2 @/bond:SPCE/OH $/atom:wat[235]/O $/atom:wat[235]/H2
    $/bond:wat[236]/OH1 @/bond:SPCE/OH $/atom:wat[236]/O $/atom:wat[236]/H1
    $/bond:wat[236]/OH2 @/bond:SPCE/OH $/atom:wat[236]/O $/atom:wat[236]/H2
    $/bond:wat[237]/OH1 @/bond:SPCE/OH $/atom:wat[237]/O $/atom:wat[237]/H1
    $/bond:wat[237]/OH2 @/bond:SPCE/OH $/atom:wat[237]/O $/atom:wat[237]/H2
    $/bond:wat[238]/OH1 @/bond:SPCE/OH $/atom:wat[238]/O $/atom:wat[238]/H1
    $/bond:wat[238]/OH2 @/bond:SPCE/OH $/atom:wat[238]/O $/atom:wat[238]/H2
    $/bond:wat[239]/OH1 @/bond:SPCE/OH $/atom:wat[239]/O $/atom:wat[239]/H1
    $/bond:wat[239]/OH2 @/bond:SPCE/OH $/atom:wat[239]/O $/atom:wat[239]/H2
    $/bond:wat[240]/OH1 @/bond:SPCE/OH $/atom:wat[240]/O $/atom:wat[240]/H1
    $/bond:wat[240]/OH2 @/bond:SPCE/OH $/atom:wat[240]/O $/atom:wat[240]/H2
    $/bond:wat[241]/OH1 @/bond:SPCE/OH $/atom:wat[241]/O $/atom:wat[241]/H1
    $/bond:wat[241]/OH2 @/bond:SPCE/OH $/atom:wat[241]/O $/atom:wat[241]/H2
    $/bond:wat[242]/OH1 @/bond:SPCE/OH $/atom:wat[242]/O $/atom:wat[242]/H1
    $/bond:wat[242]/OH2 @/bond:SPCE/OH $/atom:wat[242]/O $/atom:wat[242]/H2
    $/bond:wat[243]/OH1 @/bond:SPCE/OH $/atom:wat[243]/O $/atom:wat[243]/H1
    $/bond:wat[243]/OH2 @/bond:SPCE/OH $/atom:wat[243]/O $/atom:wat[243]/H2
    $/bond:wat[244]/OH1 @/bond:SPCE/OH $/atom:wat[244]/O $/atom:wat[244]/H1
    $/bond:wat[244]/OH2 @/bond:SPCE/OH $/atom:wat[244]/O $/atom:wat[244]/H2
    $/bond:wat[245]/OH1 @/bond:SPCE/OH $/atom:wat[245]/O $/atom:wat[245]/H1
    $/bond:wat[245]/OH2 @/bond:SPCE/OH $/atom:wat[245]/O $/atom:wat[245]/H2
    $/bond:wat[246]/OH1 @/bond:SPCE/OH $/atom:wat[246]/O $/atom:wat[246]/H1
    $/bond:wat[246]/OH2 @/bond:SPCE/OH $/atom:wat[246]/O $/atom:wat[246]/H2
    $/bond:wat[247]/OH1 @/bond:SPCE/OH $/atom:wat[247]/O $/atom:wat[247]/H1
    $/bond:wat[247]/OH2 @/bond:SPCE/OH $/atom:wat[247]/O $/atom:wat[247]/H2
    $/bond:wat[248]/OH1 @/bond:SPCE/OH $/atom:wat[248]/O $/atom:wat[248]/H1
    $/bond:wat[248]/OH2 @/bond:SPCE/OH $/atom:wat[248]/O $/atom:wat[248]/H2
    $/bond:wat[249]/OH1 @/bond:SPCE/OH $/atom:wat[249]/O $/atom:wat[249]/H1
    $/bond:wat[249]/OH2 @/bond:SPCE/OH $/atom:wat[249]/O $/atom:wat[249]/H2
    $/bond:wat[250]/OH1 @/bond:SPCE/OH $/atom:wat[250]/O $/atom:wat[250]/H1
    $/bond:wat[250]/OH2 @/bond:SPCE/OH $/atom:wat[250]/O $/atom:wat[250]/H2
    $/bond:wat[251]/OH1 @/bond:SPCE/OH $/atom:wat[251]/O $/atom:wat[251]/H1
    $/bond:wat[251]/OH2 @/bond:SPCE/OH $/atom:wat[251]/O $/atom:wat[251]/H2
    $/bond:wat[252]/OH1 @/bond:SPCE/OH $/atom:wat[252]/O $/atom:wat[252]/H1
    $/bond:wat[252]/OH2 @/bond:SPCE/OH $/atom:wat[252]/O $/atom:wat[252]/H2
    $/bond:wat[253]/OH1 @/bond:SPCE/OH $/atom:wat[253]/O $/atom:wat[253]/H1
    $/bond:wat[253]/OH2 @/bond:SPCE/OH $/atom:wat[253]/O $/atom:wat[253]/H2
    $/bond:wat[254]/OH1 @/bond:SPCE/OH $/atom:wat[254]/O $/atom:wat[254]/H1
    $/bond:wat[254]/OH2 @/bond:SPCE/OH $/atom:wat[254]/O $/atom:wat[254]/H2
    $/bond:wat[255]/OH1 @/bond:SPCE/OH $/atom:wat[255]/O $/atom:wat[255]/H1
    $/bond:wat[255]/OH2 @/bond:SPCE/OH $/atom:wat[255]/O $/atom:wat[255]/H2
    $/bond:wat[256]/OH1 @/bond:SPCE/OH $/atom:wat[256]/O $/atom:wat[256]/H1
    $/bond:wat[256]/OH2 @/bond:SPCE/OH $/atom:wat[256]/O $/atom:wat[256]/H2
    $/bond:wat[257]/OH1 @/bond:SPCE/OH $/atom:wat[257]/O $/atom:wat[257]/H1
    $/bond:wat[257]/OH2 @/bond:SPCE/OH $/atom:wat[257]/O $/atom:wat[257]/H2
    $/bond:wat[258]/OH1 @/bond:SPCE/OH $/atom:wat[258]/O $/atom:wat[258]/H1
    $/bond:wat[258]/OH2 @/bond:SPCE/OH $/atom:wat[258]/O $/atom:wat[258]/H2
    $/bond:wat[259]/OH1 @/bond:SPCE/OH $/atom:wat[259]/O $/atom:wat[259]/H1
    $/bond:wat[259]/OH2 @/bond:SPCE/OH $/atom:wat[259]/O $/atom:wat[259]/H2
