    $/angle:wat[0]/HOH @/angle:SPCE/HOH $/atom:wat[0]/H1 $/atom:wat[0]/O $/atom:wat[0]/H2
    $/angle:wat[1]/HOH @/angle:SPCE/HOH $/atom:wat[1]/H1 $/atom:wat[1]/O $/atom:wat[1]/H2
    $/angle:wat[2]/HOH @/angle:SPCE/HOH $/atom:wat[2]/H1 $/atom:wat[2]/O $/atom:wat[2]/H2
    $/angle:wat[3]/HOH @/angle:SPCE/HOH $/atom:wat[3]/H1 $/atom:wat[3]/O $/atom:wat[3]/H2
    $/angle:wat[4]/HOH @/angle:SPCE/HOH $/atom:wat[4]/H1 $/atom:wat[4]/O $/atom:wat[4]/H2
    $/angle:wat[5]/HOH @/angle:SPCE/HOH $/atom:wat[5]/H1 $/atom:wat[5]/O $/atom:wat[5]/H2
    $/angle:wat[6]/HOH @/angle:SPCE/HOH $/atom:wat[6]/H1 $/atom:wat[6]/O $/atom:wat[6]/H2
    $/angle:wat[7]/HOH @/angle:SPCE/HOH $/atom:wat[7]/H1 $/atom:wat[7]/O $/atom:wat[7]/H2
    $/angle:wat[8]/HOH @/angle:SPCE/HOH $/atom:wat[8]/H1 $/atom:wat[8]/O $/atom:wat[8]/H2
    $/angle:wat[9]/HOH @/angle:SPCE/HOH $/atom:wat[9]/H1 $/atom:wat[9]/O $/atom:wat[9]/H2
    $/angle:wat[10]/HOH @/angle:SPCE/HOH $/atom:wat[10]/H1 $/atom:wat[10]/O $/atom:wat[10]/H2
    $/angle:wat[11]/HOH @/angle:SPCE/HOH $/atom:wat[11]/H1 $/atom:wat[11]/O $/atom:wat[11]/H2
    $/angle:wat[12]/HOH @/angle:SPCE/HOH $/atom:wat[12]/H1 $/atom:wat[12]/O $/atom:wat[12]/H2
    $/angle:wat[13]/HOH @/angle:SPCE/HOH $/atom:wat[13]/H1 $/atom:wat[13]/O $/atom:wat[13]/H2
    $/angle:wat[14]/HOH @/angle:SPCE/HOH $/atom:wat[14]/H1 $/atom:wat[14]/O $/atom:wat[14]/H2
    $/angle:wat[15]/HOH @/angle:SPCE/HOH $/atom:wat[15]/H1 $/atom:wat[15]/O $/atom:wat[15]/H2
    $/angle:wat[16]/HOH @/angle:SPCE/HOH $/atom:wat[16]/H1 $/atom:wat[16]/O $/atom:wat[16]/H2
    $/angle:wat[17]/HOH @/angle:SPCE/HOH $/atom:wat[17]/H1 $/atom:wat[17]/O $/atom:wat[17]/H2
    $/angle:wat[18]/HOH @/angle:SPCE/HOH $/atom:wat[18]/H1 $/atom:wat[18]/O $/atom:wat[18]/H2
    $/angle:wat[19]/HOH @/angle:SPCE/HOH $/atom:wat[19]/H1 $/atom:wat[19]/O $/atom:wat[19]/H2
    $/angle:wat[20]/HOH @/angle:SPCE/HOH $/atom:wat[20]/H1 $/atom:wat[20]/O $/atom:wat[20]/H2
    $/angle:wat[21]/HOH @/angle:SPCE/HOH $/atom:wat[21]/H1 $/atom:wat[21]/O $/atom:wat[21]/H2
    $/angle:wat[22]/HOH @/angle:SPCE/HOH $/atom:wat[22]/H1 $/atom:wat[22]/O $/atom:wat[22]/H2
    $/angle:wat[23]/HOH @/angle:SPCE/HOH $/atom:wat[23]/H1 $/atom:wat[23]/O $/atom:wat[23]/H2
    $/angle:wat[24]/HOH @/angle:SPCE/HOH $/atom:wat[24]/H1 $/atom:wat[24]/O $/atom:wat[24]/H2
    $/angle:wat[25]/HOH @/angle:SPCE/HOH $/atom:wat[25]/H1 $/atom:wat[25]/O $/atom:wat[25]/H2
    $/angle:wat[26]/HOH @/angle:SPCE/HOH $/atom:wat[26]/H1 $/atom:wat[26]/O $/atom:wat[26]/H2
    $/angle:wat[27]/HOH @/angle:SPCE/HOH $/atom:wat[27]/H1 $/atom:wat[27]/O $/atom:wat[27]/H2
    $/angle:wat[28]/HOH @/angle:SPCE/HOH $/atom:wat[28]/H1 $/atom:wat[28]/O $/atom:wat[28]/H2
    $/angle:wat[29]/HOH @/angle:SPCE/HOH $/atom:wat[29]/H1 $/atom:wat[29]/O $/atom:wat[29]/H2
    $/angle:wat[30]/HOH @/angle:SPCE/HOH $/atom:wat[30]/H1 $/atom:wat[30]/O $/atom:wat[30]/H2
    $/angle:wat[31]/HOH @/angle:SPCE/HOH $/atom:wat[31]/H1 $/atom:wat[31]/O $/atom:wat[31]/H2
    $/angle:wat[32]/HOH @/angle:SPCE/HOH $/atom:wat[32]/H1 $/atom:wat[32]/O $/atom:wat[32]/H2
    $/angle:wat[33]/HOH @/angle:SPCE/HOH $/atom:wat[33]/H1 $/atom:wat[33]/O $/atom:wat[33]/H2
    $/angle:wat[34]/HOH @/angle:SPCE/HOH $/atom:wat[34]/H1 $/atom:wat[34]/O $/atom:wat[34]/H2
    $/angle:wat[35]/HOH @/angle:SPCE/HOH $/atom:wat[35]/H1 $/atom:wat[35]/O $/atom:wat[35]/H2
    $/angle:wat[36]/HOH @/angle:SPCE/HOH $/atom:wat[36]/H1 $/atom:wat[36]/O $/atom:wat[36]/H2
    $/angle:wat[37]/HOH @/angle:SPCE/HOH $/atom:wat[37]/H1 $/atom:wat[37]/O $/atom:wat[37]/H2
    $/angle:wat[38]/HOH @/angle:SPCE/HOH $/atom:wat[38]/H1 $/atom:wat[38]/O $/atom:wat[38]/H2
    $/angle:wat[39]/HOH @/angle:SPCE/HOH $/atom:wat[39]/H1 $/atom:wat[39]/O $/atom:wat[39]/H2
    $/angle:wat[40]/HOH @/angle:SPCE/HOH $/atom:wat[40]/H1 $/atom:wat[40]/O $/atom:wat[40]/H2
    $/angle:wat[41]/HOH @/angle:SPCE/HOH $/atom:wat[41]/H1 $/atom:wat[41]/O $/atom:wat[41]/H2
    $/angle:wat[42]/HOH @/angle:SPCE/HOH $/atom:wat[42]/H1 $/atom:wat[42]/O $/atom:wat[42]/H2
    $/angle:wat[43]/HOH @/angle:SPCE/HOH $/atom:wat[43]/H1 $/atom:wat[43]/O $/atom:wat[43]/H2
    $/angle:wat[44]/HOH @/angle:SPCE/HOH $/atom:wat[44]/H1 $/atom:wat[44]/O $/atom:wat[44]/H2
    $/angle:wat[45]/HOH @/angle:SPCE/HOH $/atom:wat[45]/H1 $/atom:wat[45]/O $/atom:wat[45]/H2
    $/angle:wat[46]/HOH @/angle:SPCE/HOH $/atom:wat[46]/H1 $/atom:wat[46]/O $/atom:wat[46]/H2
    $/angle:wat[47]/HOH @/angle:SPCE/HOH $/atom:wat[47]/H1 $/atom:wat[47]/O $/atom:wat[47]/H2
    $/angle:wat[48]/HOH @/angle:SPCE/HOH $/atom:wat[48]/H1 $/atom:wat[48]/O $/atom:wat[48]/H2
    $/angle:wat[49]/HOH @/angle:SPCE/HOH $/atom:wat[49]/H1 $/atom:wat[49]/O $/atom:wat[49]/H2
    $/angle:wat[50]/HOH @/angle:SPCE/HOH $/atom:wat[50]/H1 $/atom:wat[50]/O $/atom:wat[50]/H2
    $/angle:wat[51]/HOH @/angle:SPCE/HOH $/atom:wat[51]/H1 $/atom:wat[51]/O $/atom:wat[51]/H2
    $/angle:wat[52]/HOH @/angle:SPCE/HOH $/atom:wat[52]/H1 $/atom:wat[52]/O $/atom:wat[52]/H2
    $/angle:wat[53]/HOH @/angle:SPCE/HOH $/atom:wat[53]/H1 $/atom:wat[53]/O $/atom:wat[53]/H2
    $/angle:wat[54]/HOH @/angle:SPCE/HOH $/atom:wat[54]/H1 $/atom:wat[54]/O $/atom:wat[54]/H2
    $/angle:wat[55]/HOH @/angle:SPCE/HOH $/atom:wat[55]/H1 $/atom:wat[55]/O $/atom:wat[55]/H2
    $/angle:wat[56]/HOH @/angle:SPCE/HOH $/atom:wat[56]/H1 $/atom:wat[56]/O $/atom:wat[56]/H2
    $/angle:wat[57]/HOH @/angle:SPCE/HOH $/atom:wat[57]/H1 $/atom:wat[57]/O $/atom:wat[57]/H2
    $/angle:wat[58]/HOH @/angle:SPCE/HOH $/atom:wat[58]/H1 $/atom:wat[58]/O $/atom:wat[58]/H2
    $/angle:wat[59]/HOH @/angle:SPCE/HOH $/atom:wat[59]/H1 $/atom:wat[59]/O $/atom:wat[59]/H2
    $/angle:wat[60]/HOH @/angle:SPCE/HOH $/atom:wat[60]/H1 $/atom:wat[60]/O $/atom:wat[60]/H2
    $/angle:wat[61]/HOH @/angle:SPCE/HOH $/atom:wat[61]/H1 $/atom:wat[61]/O $/atom:wat[61]/H2
    $/angle:wat[62]/HOH @/angle:SPCE/HOH $/atom:wat[62]/H1 $/atom:wat[62]/O $/atom:wat[62]/H2
    $/angle:wat[63]/HOH @/angle:SPCE/HOH $/atom:wat[63]/H1 $/atom:wat[63]/O $/atom:wat[63]/H2
    $/angle:wat[64]/HOH @/angle:SPCE/HOH $/atom:wat[64]/H1 $/atom:wat[64]/O $/atom:wat[64]/H2
    $/angle:wat[65]/HOH @/angle:SPCE/HOH $/atom:wat[65]/H1 $/atom:wat[65]/O $/atom:wat[65]/H2
    $/angle:wat[66]/HOH @/angle:SPCE/HOH $/atom:wat[66]/H1 $/atom:wat[66]/O $/atom:wat[66]/H2
    $/angle:wat[67]/HOH @/angle:SPCE/HOH $/atom:wat[67]/H1 $/atom:wat[67]/O $/atom:wat[67]/H2
    $/angle:wat[68]/HOH @/angle:SPCE/HOH $/atom:wat[68]/H1 $/atom:wat[68]/O $/atom:wat[68]/H2
    $/angle:wat[69]/HOH @/angle:SPCE/HOH $/atom:wat[69]/H1 $/atom:wat[69]/O $/atom:wat[69]/H2
    $/angle:wat[70]/HOH @/angle:SPCE/HOH $/atom:wat[70]/H1 $/atom:wat[70]/O $/atom:wat[70]/H2
    $/angle:wat[71]/HOH @/angle:SPCE/HOH $/atom:wat[71]/H1 $/atom:wat[71]/O $/atom:wat[71]/H2
    $/angle:wat[72]/HOH @/angle:SPCE/HOH $/atom:wat[72]/H1 $/atom:wat[72]/O $/atom:wat[72]/H2
    $/angle:wat[73]/HOH @/angle:SPCE/HOH $/atom:wat[73]/H1 $/atom:wat[73]/O $/atom:wat[73]/H2
    $/angle:wat[74]/HOH @/angle:SPCE/HOH $/atom:wat[74]/H1 $/atom:wat[74]/O $/atom:wat[74]/H2
    $/angle:wat[75]/HOH @/angle:SPCE/HOH $/atom:wat[75]/H1 $/atom:wat[75]/O $/atom:wat[75]/H2
    $/angle:wat[76]/HOH @/angle:SPCE/HOH $/atom:wat[76]/H1 $/atom:wat[76]/O $/atom:wat[76]/H2
    $/angle:wat[77]/HOH @/angle:SPCE/HOH $/atom:wat[77]/H1 $/atom:wat[77]/O $/atom:wat[77]/H2
    $/angle:wat[78]/HOH @/angle:SPCE/HOH $/atom:wat[78]/H1 $/atom:wat[78]/O $/atom:wat[78]/H2
    $/angle:wat[79]/HOH @/angle:SPCE/HOH $/atom:wat[79]/H1 $/atom:wat[79]/O $/atom:wat[79]/H2
    $/angle:wat[80]/HOH @/angle:SPCE/HOH $/atom:wat[80]/H1 $/atom:wat[80]/O $/atom:wat[80]/H2
    $/angle:wat[81]/HOH @/angle:SPCE/HOH $/atom:wat[81]/H1 $/atom:wat[81]/O $/atom:wat[81]/H2
    $/angle:wat[82]/HOH @/angle:SPCE/HOH $/atom:wat[82]/H1 $/atom:wat[82]/O $/atom:wat[82]/H2
    $/angle:wat[83]/HOH @/angle:SPCE/HOH $/atom:wat[83]/H1 $/atom:wat[83]/O $/atom:wat[83]/H2
    $/angle:wat[84]/HOH @/angle:SPCE/HOH $/atom:wat[84]/H1 $/atom:wat[84]/O $/atom:wat[84]/H2
    $/angle:wat[85]/HOH @/angle:SPCE/HOH $/atom:wat[85]/H1 $/atom:wat[85]/O $/atom:wat[85]/H2
    $/angle:wat[86]/HOH @/angle:SPCE/HOH $/atom:wat[86]/H1 $/atom:wat[86]/O $/atom:wat[86]/H2
    $/angle:wat[87]/HOH @/angle:SPCE/HOH $/atom:wat[87]/H1 $/atom:wat[87]/O $/atom:wat[87]/H2
    $/angle:wat[88]/HOH @/angle:SPCE/HOH $/atom:wat[88]/H1 $/atom:wat[88]/O $/atom:wat[88]/H2
    $/angle:wat[89]/HOH @/angle:SPCE/HOH $/atom:wat[89]/H1 $/atom:wat[89]/O $/atom:wat[89]/H2
    $/angle:wat[90]/HOH @/angle:SPCE/HOH $/atom:wat[90]/H1 $/atom:wat[90]/O $/atom:wat[90]/H2
    $/angle:wat[91]/HOH @/angle:SPCE/HOH $/atom:wat[91]/H1 $/atom:wat[91]/O $/atom:wat[91]/H2
    $/angle:wat[92]/HOH @/angle:SPCE/HOH $/atom:wat[92]/H1 $/atom:wat[92]/O $/atom:wat[92]/H2
    $/angle:wat[93]/HOH @/angle:SPCE/HOH $/atom:wat[93]/H1 $/atom:wat[93]/O $/atom:wat[93]/H2
    $/angle:wat[94]/HOH @/angle:SPCE/HOH $/atom:wat[94]/H1 $/atom:wat[94]/O $/atom:wat[94]/H2
    $/angle:wat[95]/HOH @/angle:SPCE/HOH $/atom:wat[95]/H1 $/atom:wat[95]/O $/atom:wat[95]/H2
    $/angle:wat[96]/HOH @/angle:SPCE/HOH $/atom:wat[96]/H1 $/atom:wat[96]/O $/atom:wat[96]/H2
    $/angle:wat[97]/HOH @/angle:SPCE/HOH $/atom:wat[97]/H1 $/atom:wat[97]/O $/atom:wat[97]/H2
    $/angle:wat[98]/HOH @/angle:SPCE/HOH $/atom:wat[98]/H1 $/atom:wat[98]/O $/atom:wat[98]/H2
    $/angle:wat[99]/HOH @/angle:SPCE/HOH $/atom:wat[99]/H1 $/atom:wat[99]/O $/atom:wat[99]/H2
    $/angle:wat[100]/HOH @/angle:SPCE/HOH $/atom:wat[100]/H1 $/atom:wat[100]/O $/atom:wat[100]/H2
    $/angle:wat[101]/HOH @/angle:SPCE/HOH $/atom:wat[101]/H1 $/atom:wat[101]/O $/atom:wat[101]/H2
    $/angle:wat[102]/HOH @/angle:SPCE/HOH $/atom:wat[102]/H1 $/atom:wat[102]/O $/atom:wat[102]/H2
    $/angle:wat[103]/HOH @/angle:SPCE/HOH $/atom:wat[103]/H1 $/atom:wat[103]/O $/atom:wat[103]/H2
    $/angle:wat[104]/HOH @/angle:SPCE/HOH $/atom:wat[104]/H1 $/atom:wat[104]/O $/atom:wat[104]/H2
    $/angle:wat[105]/HOH @/angle:SPCE/HOH $/atom:wat[105]/H1 $/atom:wat[105]/O $/atom:wat[105]/H2
    $/angle:wat[106]/HOH @/angle:SPCE/HOH $/atom:wat[106]/H1 $/atom:wat[106]/O $/atom:wat[106]/H2
    $/angle:wat[107]/HOH @/angle:SPCE/HOH $/atom:wat[107]/H1 $/atom:wat[107]/O $/atom:wat[107]/H2
    $/angle:wat[108]/HOH @/angle:SPCE/HOH $/atom:wat[108]/H1 $/atom:wat[108]/O $/atom:wat[108]/H2
    $/angle:wat[109]/HOH @/angle:SPCE/HOH $/atom:wat[109]/H1 $/atom:wat[109]/O $/atom:wat[109]/H2
    $/angle:wat[110]/HOH @/angle:SPCE/HOH $/atom:wat[110]/H1 $/atom:wat[110]/O $/atom:wat[110]/H2
    $/angle:wat[111]/HOH @/angle:SPCE/HOH $/atom:wat[111]/H1 $/atom:wat[111]/O $/atom:wat[111]/H2
    $/angle:wat[112]/HOH @/angle:SPCE/HOH $/atom:wat[112]/H1 $/atom:wat[112]/O $/atom:wat[112]/H2
    $/angle:wat[113]/HOH @/angle:SPCE/HOH $/atom:wat[113]/H1 $/atom:wat[113]/O $/atom:wat[113]/H2
    $/angle:wat[114]/HOH @/angle:SPCE/HOH $/atom:wat[114]/H1 $/atom:wat[114]/O $/atom:wat[114]/H2
    $/angle:wat[115]/HOH @/angle:SPCE/HOH $/atom:wat[115]/H1 $/atom:wat[115]/O $/atom:wat[115]/H2
    $/angle:wat[116]/HOH @/angle:SPCE/HOH $/atom:wat[116]/H1 $/atom:wat[116]/O $/atom:wat[116]/H2
    $/angle:wat[117]/HOH @/angle:SPCE/HOH $/atom:wat[117]/H1 $/atom:wat[117]/O $/atom:wat[117]/H2
    $/angle:wat[118]/HOH @/angle:SPCE/HOH $/atom:wat[118]/H1 $/atom:wat[118]/O $/atom:wat[118]/H2
    $/angle:wat[119]/HOH @/angle:SPCE/HOH $/atom:wat[119]/H1 $/atom:wat[119]/O $/atom:wat[119]/H2
    $/angle:wat[120]/HOH @/angle:SPCE/HOH $/atom:wat[120]/H1 $/atom:wat[120]/O $/atom:wat[120]/H2
    $/angle:wat[121]/HOH @/angle:SPCE/HOH $/atom:wat[121]/H1 $/atom:wat[121]/O $/atom:wat[121]/H2
    $/angle:wat[122]/HOH @/angle:SPCE/HOH $/atom:wat[122]/H1 $/atom:wat[122]/O $/atom:wat[122]/H2
    $/angle:wat[123]/HOH @/angle:SPCE/HOH $/atom:wat[123]/H1 $/atom:wat[123]/O $/atom:wat[123]/H2
    $/angle:wat[124]/HOH @/angle:SPCE/HOH $/atom:wat[124]/H1 $/atom:wat[124]/O $/atom:wat[124]/H2
    $/angle:wat[125]/HOH @/angle:SPCE/HOH $/atom:wat[125]/H1 $/atom:wat[125]/O $/atom:wat[125]/H2
    $/angle:wat[126]/HOH @/angle:SPCE/HOH $/atom:wat[126]/H1 $/atom:wat[126]/O $/atom:wat[126]/H2
    $/angle:wat[127]/HOH @/angle:SPCE/HOH $/atom:wat[127]/H1 $/atom:wat[127]/O $/atom:wat[127]/H2
    $/angle:wat[128]/HOH @/angle:SPCE/HOH $/atom:wat[128]/H1 $/atom:wat[128]/O $/atom:wat[128]/H2
    $/angle:wat[129]/HOH @/angle:SPCE/HOH $/atom:wat[129]/H1 $/atom:wat[129]/O $/atom:wat[129]/H2
    $/angle:wat[130]/HOH @/angle:SPCE/HOH $/atom:wat[130]/H1 $/atom:wat[130]/O $/atom:wat[130]/H2
    $/angle:wat[131]/HOH @/angle:SPCE/HOH $/atom:wat[131]/H1 $/atom:wat[131]/O $/atom:wat[131]/H2
    $/angle:wat[132]/HOH @/angle:SPCE/HOH $/atom:wat[132]/H1 $/atom:wat[132]/O $/atom:wat[132]/H2
    $/angle:wat[133]/HOH @/angle:SPCE/HOH $/atom:wat[133]/H1 $/atom:wat[133]/O $/atom:wat[133]/H2
    $/angle:wat[134]/HOH @/angle:SPCE/HOH $/atom:wat[134]/H1 $/atom:wat[134]/O $/atom:wat[134]/H2
    $/angle:wat[135]/HOH @/angle:SPCE/HOH $/atom:wat[135]/H1 $/atom:wat[135]/O $/atom:wat[135]/H2
    $/angle:wat[136]/HOH @/angle:SPCE/HOH $/atom:wat[136]/H1 $/atom:wat[136]/O $/atom:wat[136]/H2
    $/angle:wat[137]/HOH @/angle:SPCE/HOH $/atom:wat[137]/H1 $/atom:wat[137]/O $/atom:wat[137]/H2
    $/angle:wat[138]/HOH @/angle:SPCE/HOH $/atom:wat[138]/H1 $/atom:wat[138]/O $/atom:wat[138]/H2
    $/angle:wat[139]/HOH @/angle:SPCE/HOH $/atom:wat[139]/H1 $/atom:wat[139]/O $/atom:wat[139]/H2
    $/angle:wat[140]/HOH @/angle:SPCE/HOH $/atom:wat[140]/H1 $/atom:wat[140]/O $/atom:wat[140]/H2
    $/angle:wat[141]/HOH @/angle:SPCE/HOH $/atom:wat[141]/H1 $/atom:wat[141]/O $/atom:wat[141]/H2
    $/angle:wat[142]/HOH @/angle:SPCE/HOH $/atom:wat[142]/H1 $/atom:wat[142]/O $/atom:wat[142]/H2
    $/angle:wat[143]/HOH @/angle:SPCE/HOH $/atom:wat[143]/H1 $/atom:wat[143]/O $/atom:wat[143]/H2
    $/angle:wat[144]/HOH @/angle:SPCE/HOH $/atom:wat[144]/H1 $/atom:wat[144]/O $/atom:wat[144]/H2
    $/angle:wat[145]/HOH @/angle:SPCE/HOH $/atom:wat[145]/H1 $/atom:wat[145]/O $/atom:wat[145]/H2
    $/angle:wat[146]/HOH @/angle:SPCE/HOH $/atom:wat[146]/H1 $/atom:wat[146]/O $/atom:wat[146]/H2
    $/angle:wat[147]/HOH @/angle:SPCE/HOH $/atom:wat[147]/H1 $/atom:wat[147]/O $/atom:wat[147]/H2
    $/angle:wat[148]/HOH @/angle:SPCE/HOH $/atom:wat[148]/H1 $/atom:wat[148]/O $/atom:wat[148]/H2
    $/angle:wat[149]/HOH @/angle:SPCE/HOH $/atom:wat[149]/H1 $/atom:wat[149]/O $/atom:wat[149]/H2
    $/angle:wat[150]/HOH @/angle:SPCE/HOH $/atom:wat[150]/H1 $/atom:wat[150]/O $/atom:wat[150]/H2
    $/angle:wat[151]/HOH @/angle:SPCE/HOH $/atom:wat[151]/H1 $/atom:wat[151]/O $/atom:wat[151]/H2
    $/angle:wat[152]/HOH @/angle:SPCE/HOH $/atom:wat[152]/H1 $/atom:wat[152]/O $/atom:wat[152]/H2
    $/angle:wat[153]/HOH @/angle:SPCE/HOH $/atom:wat[153]/H1 $/atom:wat[153]/O $/atom:wat[153]/H2
    $/angle:wat[154]/HOH @/angle:SPCE/HOH $/atom:wat[154]/H1 $/atom:wat[154]/O $/atom:wat[154]/H2
    $/angle:wat[155]/HOH @/angle:SPCE/HOH $/atom:wat[155]/H1 $/atom:wat[155]/O $/atom:wat[155]/H2
    $/angle:wat[156]/HOH @/angle:SPCE/HOH $/atom:wat[156]/H1 $/atom:wat[156]/O $/atom:wat[156]/H2
    $/angle:wat[157]/HOH @/angle:SPCE/HOH $/atom:wat[157]/H1 $/atom:wat[157]/O $/atom:wat[157]/H2
    $/angle:wat[158]/HOH @/angle:SPCE/HOH $/atom:wat[158]/H1 $/atom:wat[158]/O $/atom:wat[158]/H2
    $/angle:wat[159]/HOH @/angle:SPCE/HOH $/atom:wat[159]/H1 $/atom:wat[159]/O $/atom:wat[159]/H2
    $/angle:wat[160]/HOH @/angle:SPCE/HOH $/atom:wat[160]/H1 $/atom:wat[160]/O $/atom:wat[160]/H2
    $/angle:wat[161]/HOH @/angle:SPCE/HOH $/atom:wat[161]/H1 $/atom:wat[161]/O $/atom:wat[161]/H2
    $/angle:wat[162]/HOH @/angle:SPCE/HOH $/atom:wat[162]/H1 $/atom:wat[162]/O $/atom:wat[162]/H2
    $/angle:wat[163]/HOH @/angle:SPCE/HOH $/atom:wat[163]/H1 $/atom:wat[163]/O $/atom:wat[163]/H2
    $/angle:wat[164]/HOH @/angle:SPCE/HOH $/atom:wat[164]/H1 $/atom:wat[164]/O $/atom:wat[164]/H2
    $/angle:wat[165]/HOH @/angle:SPCE/HOH $/atom:wat[165]/H1 $/atom:wat[165]/O $/atom:wat[165]/H2
    $/angle:wat[166]/HOH @/angle:SPCE/HOH $/atom:wat[166]/H1 $/atom:wat[166]/O $/atom:wat[166]/H2
    $/angle:wat[167]/HOH @/angle:SPCE/HOH $/atom:wat[167]/H1 $/atom:wat[167]/O $/atom:wat[167]/H2
    $/angle:wat[168]/HOH @/angle:SPCE/HOH $/atom:wat[168]/H1 $/atom:wat[168]/O $/atom:wat[168]/H2
    $/angle:wat[169]/HOH @/angle:SPCE/HOH $/atom:wat[169]/H1 $/atom:wat[169]/O $/atom:wat[169]/H2
    $/angle:wat[170]/HOH @/angle:SPCE/HOH $/atom:wat[170]/H1 $/atom:wat[170]/O $/atom:wat[170]/H2
    $/angle:wat[171]/HOH @/angle:SPCE/HOH $/atom:wat[171]/H1 $/atom:wat[171]/O $/atom:wat[171]/H2
    $/angle:wat[172]/HOH @/angle:SPCE/HOH $/atom:wat[172]/H1 $/atom:wat[172]/O $/atom:wat[172]/H2
    $/angle:wat[173]/HOH @/angle:SPCE/HOH $/atom:wat[173]/H1 $/atom:wat[173]/O $/atom:wat[173]/H2
    $/angle:wat[174]/HOH @/angle:SPCE/HOH $/atom:wat[174]/H1 $/atom:wat[174]/O $/atom:wat[174]/H2
    $/angle:wat[175]/HOH @/angle:SPCE/HOH $/atom:wat[175]/H1 $/atom:wat[175]/O $/atom:wat[175]/H2
    $/angle:wat[176]/HOH @/angle:SPCE/HOH $/atom:wat[176]/H1 $/atom:wat[176]/O $/atom:wat[176]/H2
    $/angle:wat[177]/HOH @/angle:SPCE/HOH $/atom:wat[177]/H1 $/atom:wat[177]/O $/atom:wat[177]/H2
    $/angle:wat[178]/HOH @/angle:SPCE/HOH $/atom:wat[178]/H1 $/atom:wat[178]/O $/atom:wat[178]/H2
    $/angle:wat[179]/HOH @/angle:SPCE/HOH $/atom:wat[179]/H1 $/atom:wat[179]/O $/atom:wat[179]/H2
    $/angle:wat[180]/HOH @/angle:SPCE/HOH $/atom:wat[180]/H1 $/atom:wat[180]/O $/atom:wat[180]/H2
    $/angle:wat[181]/HOH @/angle:SPCE/HOH $/atom:wat[181]/H1 $/atom:wat[181]/O $/atom:wat[181]/H2
    $/angle:wat[182]/HOH @/angle:SPCE/HOH $/atom:wat[182]/H1 $/atom:wat[182]/O $/atom:wat[182]/H2
    $/angle:wat[183]/HOH @/angle:SPCE/HOH $/atom:wat[183]/H1 $/atom:wat[183]/O $/atom:wat[183]/H2
    $/angle:wat[184]/HOH @/angle:SPCE/HOH $/atom:wat[184]/H1 $/atom:wat[184]/O $/atom:wat[184]/H2
    $/angle:wat[185]/HOH @/angle:SPCE/HOH $/atom:wat[185]/H1 $/atom:wat[185]/O $/atom:wat[185]/H2
    $/angle:wat[186]/HOH @/angle:SPCE/HOH $/atom:wat[186]/H1 $/atom:wat[186]/O $/atom:wat[186]/H2
    $/angle:wat[187]/HOH @/angle:SPCE/HOH $/atom:wat[187]/H1 $/atom:wat[187]/O $/atom:wat[187]/H2
    $/angle:wat[188]/HOH @/angle:SPCE/HOH $/atom:wat[188]/H1 $/atom:wat[188]/O $/atom:wat[188]/H2
    $/angle:wat[189]/HOH @/angle:SPCE/HOH $/atom:wat[189]/H1 $/atom:wat[189]/O $/atom:wat[189]/H2
    $/angle:wat[190]/HOH @/angle:SPCE/HOH $/atom:wat[190]/H1 $/atom:wat[190]/O $/atom:wat[190]/H2
    $/angle:wat[191]/HOH @/angle:SPCE/HOH $/atom:wat[191]/H1 $/atom:wat[191]/O $/atom:wat[191]/H2
    $/angle:wat[192]/HOH @/angle:SPCE/HOH $/atom:wat[192]/H1 $/atom:wat[192]/O $/atom:wat[192]/H2
    $/angle:wat[193]/HOH @/angle:SPCE/HOH $/atom:wat[193]/H1 $/atom:wat[193]/O $/atom:wat[193]/H2
    $/angle:wat[194]/HOH @/angle:SPCE/HOH $/atom:wat[194]/H1 $/atom:wat[194]/O $/atom:wat[194]/H2
    $/angle:wat[195]/HOH @/angle:SPCE/HOH $/atom:wat[195]/H1 $/atom:wat[195]/O $/atom:wat[195]/H2
    $/angle:wat[196]/HOH @/angle:SPCE/HOH $/atom:wat[196]/H1 $/atom:wat[196]/O $/atom:wat[196]/H2
    $/angle:wat[197]/HOH @/angle:SPCE/HOH $/atom:wat[197]/H1 $/atom:wat[197]/O $/atom:wat[197]/H2
    $/angle:wat[198]/HOH @/angle:SPCE/HOH $/atom:wat[198]/H1 $/atom:wat[198]/O $/atom:wat[198]/H2
    $/angle:wat[199]/HOH @/angle:SPCE/HOH $/atom:wat[199]/H1 $/atom:wat[199]/O $/atom:wat[199]/H2
    $/angle:wat[200]/HOH @/angle:SPCE/HOH $/atom:wat[200]/H1 $/atom:wat[200]/O $/atom:wat[200]/H2
    $/angle:wat[201]/HOH @/angle:SPCE/HOH $/atom:wat[201]/H1 $/atom:wat[201]/O $/atom:wat[201]/H2
    $/angle:wat[202]/HOH @/angle:SPCE/HOH $/atom:wat[202]/H1 $/atom:wat[202]/O $/atom:wat[202]/H2
    $/angle:wat[203]/HOH @/angle:SPCE/HOH $/atom:wat[203]/H1 $/atom:wat[203]/O $/atom:wat[203]/H2
    $/angle:wat[204]/HOH @/angle:SPCE/HOH $/atom:wat[204]/H1 $/atom:wat[204]/O $/atom:wat[204]/H2
    $/angle:wat[205]/HOH @/angle:SPCE/HOH $/atom:wat[205]/H1 $/atom:wat[205]/O $/atom:wat[205]/H2
    $/angle:wat[206]/HOH @/angle:SPCE/HOH $/atom:wat[206]/H1 $/atom:wat[206]/O $/atom:wat[206]/H2
    $/angle:wat[207]/HOH @/angle:SPCE/HOH $/atom:wat[207]/H1 $/atom:wat[207]/O $/atom:wat[207]/H2
    $/angle:wat[208]/HOH @/angle:SPCE/HOH $/atom:wat[208]/H1 $/atom:wat[208]/O $/atom:wat[208]/H2
    $/angle:wat[209]/HOH @/angle:SPCE/HOH $/atom:wat[209]/H1 $/atom:wat[209]/O $/atom:wat[209]/H2
    $/angle:wat[210]/HOH @/angle:SPCE/HOH $/atom:wat[210]/H1 $/atom:wat[210]/O $/atom:wat[210]/H2
    $/angle:wat[211]/HOH @/angle:SPCE/HOH $/atom:wat[211]/H1 $/atom:wat[211]/O $/atom:wat[211]/H2
    $/angle:wat[212]/HOH @/angle:SPCE/HOH $/atom:wat[212]/H1 $/atom:wat[212]/O $/atom:wat[212]/H2
    $/angle:wat[213]/HOH @/angle:SPCE/HOH $/atom:wat[213]/H1 $/atom:wat[213]/O $/atom:wat[213]/H2
    $/angle:wat[214]/HOH @/angle:SPCE/HOH $/atom:wat[214]/H1 $/atom:wat[214]/O $/atom:wat[214]/H2
    $/angle:wat[215]/HOH @/angle:SPCE/HOH $/atom:wat[215]/H1 $/atom:wat[215]/O $/atom:wat[215]/H2
    $/angle:wat[216]/HOH @/angle:SPCE/HOH $/atom:wat[216]/H1 $/atom:wat[216]/O $/atom:wat[216]/H2
    $/angle:wat[217]/HOH @/angle:SPCE/HOH $/atom:wat[217]/H1 $/atom:wat[217]/O $/atom:wat[217]/H2
    $/angle:wat[218]/HOH @/angle:SPCE/HOH $/atom:wat[218]/H1 $/atom:wat[218]/O $/atom:wat[218]/H2
    $/angle:wat[219]/HOH @/angle:SPCE/HOH $/atom:wat[219]/H1 $/atom:wat[219]/O $/atom:wat[219]/H2
    $/angle:wat[220]/HOH @/angle:SPCE/HOH $/atom:wat[220]/H1 $/atom:wat[220]/O $/atom:wat[220]/H2
    $/angle:wat[221]/HOH @/angle:SPCE/HOH $/atom:wat[221]/H1 $/atom:wat[221]/O $/atom:wat[221]/H2
    $/angle:wat[222]/HOH @/angle:SPCE/HOH $/atom:wat[222]/H1 $/atom:wat[222]/O $/atom:wat[222]/H2
    $/angle:wat[223]/HOH @/angle:SPCE/HOH $/atom:wat[223]/H1 $/atom:wat[223]/O $/atom:wat[223]/H2
    $/angle:wat[224]/HOH @/angle:SPCE/HOH $/atom:wat[224]/H1 $/atom:wat[224]/O $/atom:wat[224]/H2
    $/angle:wat[225]/HOH @/angle:SPCE/HOH $/atom:wat[225]/H1 $/atom:wat[225]/O $/atom:wat[225]/H2
    $/angle:wat[226]/HOH @/angle:SPCE/HOH $/atom:wat[226]/H1 $/atom:wat[226]/O $/atom:wat[226]/H2
    $/angle:wat[227]/HOH @/angle:SPCE/HOH $/atom:wat[227]/H1 $/atom:wat[227]/O $/atom:wat[227]/H2
    $/angle:wat[228]/HOH @/angle:SPCE/HOH $/atom:wat[228]/H1 $/atom:wat[228]/O $/atom:wat[228]/H2
    $/angle:wat[229]/HOH @/angle:SPCE/HOH $/atom:wat[229]/H1 $/atom:wat[229]/O $/atom:wat[229]/H2
    $/angle:wat[230]/HOH @/angle:SPCE/HOH $/atom:wat[230]/H1 $/atom:wat[230]/O $/atom:wat[230]/H2
    $/angle:wat[231]/HOH @/angle:SPCE/HOH $/atom:wat[231]/H1 $/atom:wat[231]/O $/atom:wat[231]/H2
    $/angle:wat[232]/HOH @/angle:SPCE/HOH $/atom:wat[232]/H1 $/atom:wat[232]/O $/atom:wat[232]/H2
    $/angle:wat[233]/HOH @/angle:SPCE/HOH $/atom:wat[233]/H1 $/atom:wat[233]/O $/atom:wat[233]/H2
    $/angle:wat[234]/HOH @/angle:SPCE/HOH $/atom:wat[234]/H1 $/atom:wat[234]/O $/atom:wat[234]/H2
    $/angle:wat[235]/HOH @/angle:SPCE/HOH $/atom:wat[235]/H1 $/atom:wat[235]/O $/atom:wat[235]/H2
    $/angle:wat[236]/HOH @/angle:SPCE/HOH $/atom:wat[236]/H1 $/atom:wat[236]/O $/atom:wat[236]/H2
    $/angle:wat[237]/HOH @/angle:SPCE/HOH $/atom:wat[237]/H1 $/atom:wat[237]/O $/atom:wat[237]/H2
    $/angle:wat[238]/HOH @/angle:SPCE/HOH $/atom:wat[238]/H1 $/atom:wat[238]/O $/atom:wat[238]/H2
    $/angle:wat[239]/HOH @/angle:SPCE/HOH $/atom:wat[239]/H1 $/atom:wat[239]/O $/atom:wat[239]/H2
    $/angle:wat[240]/HOH @/angle:SPCE/HOH $/atom:wat[240]/H1 $/atom:wat[240]/O $/atom:wat[240]/H2
    $/angle:wat[241]/HOH @/angle:SPCE/HOH $/atom:wat[241]/H1 $/atom:wat[241]/O $/atom:wat[241]/H2
    $/angle:wat[242]/HOH @/angle:SPCE/HOH $/atom:wat[242]/H1 $/atom:wat[242]/O $/atom:wat[242]/H2
    $/angle:wat[243]/HOH @/angle:SPCE/HOH $/atom:wat[243]/H1 $/atom:wat[243]/O $/atom:wat[243]/H2
    $/angle:wat[244]/HOH @/angle:SPCE/HOH $/atom:wat[244]/H1 $/atom:wat[244]/O $/atom:wat[244]/H2
    $/angle:wat[245]/HOH @/angle:SPCE/HOH $/atom:wat[245]/H1 $/atom:wat[245]/O $/atom:wat[245]/H2
    $/angle:wat[246]/HOH @/angle:SPCE/HOH $/atom:wat[246]/H1 $/atom:wat[246]/O $/atom:wat[246]/H2
    $/angle:wat[247]/HOH @/angle:SPCE/HOH $/atom:wat[247]/H1 $/atom:wat[247]/O $/atom:wat[247]/H2
    $/angle:wat[248]/HOH @/angle:SPCE/HOH $/atom:wat[248]/H1 $/atom:wat[248]/O $/atom:wat[248]/H2
    $/angle:wat[249]/HOH @/angle:SPCE/HOH $/atom:wat[249]/H1 $/atom:wat[249]/O $/atom:wat[249]/H2
    $/angle:wat[250]/HOH @/angle:SPCE/HOH $/atom:wat[250]/H1 $/atom:wat[250]/O $/atom:wat[250]/H2
    $/angle:wat[251]/HOH @/angle:SPCE/HOH $/atom:wat[251]/H1 $/atom:wat[251]/O $/atom:wat[251]/H2
    $/angle:wat[252]/HOH @/angle:SPCE/HOH $/atom:wat[252]/H1 $/atom:wat[252]/O $/atom:wat[252]/H2
    $/angle:wat[253]/HOH @/angle:SPCE/HOH $/atom:wat[253]/H1 $/atom:wat[253]/O $/atom:wat[253]/H2
    $/angle:wat[254]/HOH @/angle:SPCE/HOH $/atom:wat[254]/H1 $/atom:wat[254]/O $/atom:wat[254]/H2
    $/angle:wat[255]/HOH @/angle:SPCE/HOH $/atom:wat[255]/H1 $/atom:wat[255]/O $/atom:wat[255]/H2
    $/angle:wat[256]/HOH @/angle:SPCE/HOH $/atom:wat[256]/H1 $/atom:wat[256]/O $/atom:wat[256]/H2
    $/angle:wat[257]/HOH @/angle:SPCE/HOH $/atom:wat[257]/H1 $/atom:wat[257]/O $/atom:wat[257]/H2
    $/angle:wat[258]/HOH @/angle:SPCE/HOH $/atom:wat[258]/H1 $/atom:wat[258]/O $/atom:wat[258]/H2
    $/angle:wat[259]/HOH @/angle:SPCE/HOH $/atom:wat[259]/H1 $/atom:wat[259]/O $/atom:wat[259]/H2
