# from https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# text-editor temporary files:
*~

# misc rubbish
deleteme*
DELETEME*

######## files specific to moltemplate and lammps ########

# latex/bibtex temporary files for the moltemplate manual:
moltemplate_manual*.aux
moltemplate_manual*.bbl
moltemplate_manual*.blg
moltemplate_manual*.log
moltemplate_manual*.out
moltemplate_manual*.toc

######## files created by running LAMMPS: ########

log.lammps
log.cite
traj*.lammpstrj

######## files generated by running moltemplate: ########

system.data
system.in
system.in.init
system.in.settings
system.in.charges
system.psf
ttree_assignments.txt
output_ttree/

# Sections from the LAMMPS data file generated by moltemplate.sh
"Data Header"*
"Data Atoms"*
"Data Masses"*
"Data Velocities"*
"Data Bonds"*
"Data Bond List"*
"Data Bonds AtomId AtomId"*
"Data Angles"*
"Data Dihedrals"*
"Data Impropers"*
"Data Bond Coeffs"*
"Data Angle Coeffs"*
"Data Dihedral Coeffs"*
"Data Improper Coeffs"*
"Data Pair Coeffs"*
"Data PairIJ Coeffs"*

# interactions-by-type (not id. This is not part of the LAMMPS standard.)
"Data Charge By Bond"*
"Data Bonds By Type"*
"Data Angles By Type"*
"Data Dihedrals By Type"*
"Data Impropers By Type"*

# class2 data sections
"Data BondBond Coeffs"*
"Data BondAngle Coeffs"*
"Data MiddleBondTorsion Coeffs"*
"Data EndBondTorsion Coeffs"*
"Data AngleTorsion Coeffs"*
"Data AngleAngleTorsion Coeffs"*
"Data BondBond13 Coeffs"*
"Data AngleAngle Coeffs"*

# sections for non-point-like particles:
"Data Ellipsoids"*
"Data Lines"*
"Data Triangles"*

# periodic boundary conditions
"Data Boundary"*

# Sections from the LAMMPS input script(s) generated by moltemplate.sh

"In Init"*
"In Settings"*
"In Coords"*
"In Charges"*
#temporary file created by moltemplate.sh for storing coordinates
tmp_atom_coords.dat

