$/angle:bytype1 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a13 $/atom:proteins[0][0][0]/a14 $/atom:proteins[0][0][0]/a15
$/angle:bytype2 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a13 $/atom:proteins[0][0][1]/a14 $/atom:proteins[0][0][1]/a15
$/angle:bytype3 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a13 $/atom:proteins[0][1][0]/a14 $/atom:proteins[0][1][0]/a15
$/angle:bytype4 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a13 $/atom:proteins[0][1][1]/a14 $/atom:proteins[0][1][1]/a15
$/angle:bytype5 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a13 $/atom:proteins[1][0][0]/a14 $/atom:proteins[1][0][0]/a15
$/angle:bytype6 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a13 $/atom:proteins[1][0][1]/a14 $/atom:proteins[1][0][1]/a15
$/angle:bytype7 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a13 $/atom:proteins[1][1][0]/a14 $/atom:proteins[1][1][0]/a15
$/angle:bytype8 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a13 $/atom:proteins[1][1][1]/a14 $/atom:proteins[1][1][1]/a15
$/angle:bytype9 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a7 $/atom:proteins[0][0][0]/a8 $/atom:proteins[0][0][0]/a9
$/angle:bytype10 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a6 $/atom:proteins[0][0][0]/a7 $/atom:proteins[0][0][0]/a8
$/angle:bytype11 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a16 $/atom:proteins[0][0][0]/a17 $/atom:proteins[0][0][0]/a18
$/angle:bytype12 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a7 $/atom:proteins[0][0][1]/a8 $/atom:proteins[0][0][1]/a9
$/angle:bytype13 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a6 $/atom:proteins[0][0][1]/a7 $/atom:proteins[0][0][1]/a8
$/angle:bytype14 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a16 $/atom:proteins[0][0][1]/a17 $/atom:proteins[0][0][1]/a18
$/angle:bytype15 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a7 $/atom:proteins[0][1][0]/a8 $/atom:proteins[0][1][0]/a9
$/angle:bytype16 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a6 $/atom:proteins[0][1][0]/a7 $/atom:proteins[0][1][0]/a8
$/angle:bytype17 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a16 $/atom:proteins[0][1][0]/a17 $/atom:proteins[0][1][0]/a18
$/angle:bytype18 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a7 $/atom:proteins[0][1][1]/a8 $/atom:proteins[0][1][1]/a9
$/angle:bytype19 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a6 $/atom:proteins[0][1][1]/a7 $/atom:proteins[0][1][1]/a8
$/angle:bytype20 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a16 $/atom:proteins[0][1][1]/a17 $/atom:proteins[0][1][1]/a18
$/angle:bytype21 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a7 $/atom:proteins[1][0][0]/a8 $/atom:proteins[1][0][0]/a9
$/angle:bytype22 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a6 $/atom:proteins[1][0][0]/a7 $/atom:proteins[1][0][0]/a8
$/angle:bytype23 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a16 $/atom:proteins[1][0][0]/a17 $/atom:proteins[1][0][0]/a18
$/angle:bytype24 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a7 $/atom:proteins[1][0][1]/a8 $/atom:proteins[1][0][1]/a9
$/angle:bytype25 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a6 $/atom:proteins[1][0][1]/a7 $/atom:proteins[1][0][1]/a8
$/angle:bytype26 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a16 $/atom:proteins[1][0][1]/a17 $/atom:proteins[1][0][1]/a18
$/angle:bytype27 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a7 $/atom:proteins[1][1][0]/a8 $/atom:proteins[1][1][0]/a9
$/angle:bytype28 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a6 $/atom:proteins[1][1][0]/a7 $/atom:proteins[1][1][0]/a8
$/angle:bytype29 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a16 $/atom:proteins[1][1][0]/a17 $/atom:proteins[1][1][0]/a18
$/angle:bytype30 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a7 $/atom:proteins[1][1][1]/a8 $/atom:proteins[1][1][1]/a9
$/angle:bytype31 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a6 $/atom:proteins[1][1][1]/a7 $/atom:proteins[1][1][1]/a8
$/angle:bytype32 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a16 $/atom:proteins[1][1][1]/a17 $/atom:proteins[1][1][1]/a18
$/angle:bytype33 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a15 $/atom:proteins[0][0][0]/a16 $/atom:proteins[0][0][0]/a17
$/angle:bytype34 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a15 $/atom:proteins[0][0][1]/a16 $/atom:proteins[0][0][1]/a17
$/angle:bytype35 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a15 $/atom:proteins[0][1][0]/a16 $/atom:proteins[0][1][0]/a17
$/angle:bytype36 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a15 $/atom:proteins[0][1][1]/a16 $/atom:proteins[0][1][1]/a17
$/angle:bytype37 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a15 $/atom:proteins[1][0][0]/a16 $/atom:proteins[1][0][0]/a17
$/angle:bytype38 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a15 $/atom:proteins[1][0][1]/a16 $/atom:proteins[1][0][1]/a17
$/angle:bytype39 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a15 $/atom:proteins[1][1][0]/a16 $/atom:proteins[1][1][0]/a17
$/angle:bytype40 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a15 $/atom:proteins[1][1][1]/a16 $/atom:proteins[1][1][1]/a17
$/angle:bytype41 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a2 $/atom:proteins[0][0][0]/a3 $/atom:proteins[0][0][0]/a4
$/angle:bytype42 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a4 $/atom:proteins[0][0][0]/a5 $/atom:proteins[0][0][0]/a6
$/angle:bytype43 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a9 $/atom:proteins[0][0][0]/a10 $/atom:proteins[0][0][0]/a11
$/angle:bytype44 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a11 $/atom:proteins[0][0][0]/a12 $/atom:proteins[0][0][0]/a13
$/angle:bytype45 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a2 $/atom:proteins[0][0][1]/a3 $/atom:proteins[0][0][1]/a4
$/angle:bytype46 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a4 $/atom:proteins[0][0][1]/a5 $/atom:proteins[0][0][1]/a6
$/angle:bytype47 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a9 $/atom:proteins[0][0][1]/a10 $/atom:proteins[0][0][1]/a11
$/angle:bytype48 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a11 $/atom:proteins[0][0][1]/a12 $/atom:proteins[0][0][1]/a13
$/angle:bytype49 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a2 $/atom:proteins[0][1][0]/a3 $/atom:proteins[0][1][0]/a4
$/angle:bytype50 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a4 $/atom:proteins[0][1][0]/a5 $/atom:proteins[0][1][0]/a6
$/angle:bytype51 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a9 $/atom:proteins[0][1][0]/a10 $/atom:proteins[0][1][0]/a11
$/angle:bytype52 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a11 $/atom:proteins[0][1][0]/a12 $/atom:proteins[0][1][0]/a13
$/angle:bytype53 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a2 $/atom:proteins[0][1][1]/a3 $/atom:proteins[0][1][1]/a4
$/angle:bytype54 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a4 $/atom:proteins[0][1][1]/a5 $/atom:proteins[0][1][1]/a6
$/angle:bytype55 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a9 $/atom:proteins[0][1][1]/a10 $/atom:proteins[0][1][1]/a11
$/angle:bytype56 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a11 $/atom:proteins[0][1][1]/a12 $/atom:proteins[0][1][1]/a13
$/angle:bytype57 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a2 $/atom:proteins[1][0][0]/a3 $/atom:proteins[1][0][0]/a4
$/angle:bytype58 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a4 $/atom:proteins[1][0][0]/a5 $/atom:proteins[1][0][0]/a6
$/angle:bytype59 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a9 $/atom:proteins[1][0][0]/a10 $/atom:proteins[1][0][0]/a11
$/angle:bytype60 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a11 $/atom:proteins[1][0][0]/a12 $/atom:proteins[1][0][0]/a13
$/angle:bytype61 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a2 $/atom:proteins[1][0][1]/a3 $/atom:proteins[1][0][1]/a4
$/angle:bytype62 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a4 $/atom:proteins[1][0][1]/a5 $/atom:proteins[1][0][1]/a6
$/angle:bytype63 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a9 $/atom:proteins[1][0][1]/a10 $/atom:proteins[1][0][1]/a11
$/angle:bytype64 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a11 $/atom:proteins[1][0][1]/a12 $/atom:proteins[1][0][1]/a13
$/angle:bytype65 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a2 $/atom:proteins[1][1][0]/a3 $/atom:proteins[1][1][0]/a4
$/angle:bytype66 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a4 $/atom:proteins[1][1][0]/a5 $/atom:proteins[1][1][0]/a6
$/angle:bytype67 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a9 $/atom:proteins[1][1][0]/a10 $/atom:proteins[1][1][0]/a11
$/angle:bytype68 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a11 $/atom:proteins[1][1][0]/a12 $/atom:proteins[1][1][0]/a13
$/angle:bytype69 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a2 $/atom:proteins[1][1][1]/a3 $/atom:proteins[1][1][1]/a4
$/angle:bytype70 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a4 $/atom:proteins[1][1][1]/a5 $/atom:proteins[1][1][1]/a6
$/angle:bytype71 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a9 $/atom:proteins[1][1][1]/a10 $/atom:proteins[1][1][1]/a11
$/angle:bytype72 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a11 $/atom:proteins[1][1][1]/a12 $/atom:proteins[1][1][1]/a13
$/angle:bytype73 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a14 $/atom:proteins[0][0][0]/a15 $/atom:proteins[0][0][0]/a16
$/angle:bytype74 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a14 $/atom:proteins[0][0][1]/a15 $/atom:proteins[0][0][1]/a16
$/angle:bytype75 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a14 $/atom:proteins[0][1][0]/a15 $/atom:proteins[0][1][0]/a16
$/angle:bytype76 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a14 $/atom:proteins[0][1][1]/a15 $/atom:proteins[0][1][1]/a16
$/angle:bytype77 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a14 $/atom:proteins[1][0][0]/a15 $/atom:proteins[1][0][0]/a16
$/angle:bytype78 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a14 $/atom:proteins[1][0][1]/a15 $/atom:proteins[1][0][1]/a16
$/angle:bytype79 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a14 $/atom:proteins[1][1][0]/a15 $/atom:proteins[1][1][0]/a16
$/angle:bytype80 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a14 $/atom:proteins[1][1][1]/a15 $/atom:proteins[1][1][1]/a16
$/angle:bytype81 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a1 $/atom:proteins[0][0][0]/a2 $/atom:proteins[0][0][0]/a3
$/angle:bytype82 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a3 $/atom:proteins[0][0][0]/a4 $/atom:proteins[0][0][0]/a5
$/angle:bytype83 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a10 $/atom:proteins[0][0][0]/a11 $/atom:proteins[0][0][0]/a12
$/angle:bytype84 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a12 $/atom:proteins[0][0][0]/a13 $/atom:proteins[0][0][0]/a14
$/angle:bytype85 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a25 $/atom:proteins[0][0][0]/a26 $/atom:proteins[0][0][0]/a27
$/angle:bytype86 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a1 $/atom:proteins[0][0][1]/a2 $/atom:proteins[0][0][1]/a3
$/angle:bytype87 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a3 $/atom:proteins[0][0][1]/a4 $/atom:proteins[0][0][1]/a5
$/angle:bytype88 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a10 $/atom:proteins[0][0][1]/a11 $/atom:proteins[0][0][1]/a12
$/angle:bytype89 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a12 $/atom:proteins[0][0][1]/a13 $/atom:proteins[0][0][1]/a14
$/angle:bytype90 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a25 $/atom:proteins[0][0][1]/a26 $/atom:proteins[0][0][1]/a27
$/angle:bytype91 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a1 $/atom:proteins[0][1][0]/a2 $/atom:proteins[0][1][0]/a3
$/angle:bytype92 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a3 $/atom:proteins[0][1][0]/a4 $/atom:proteins[0][1][0]/a5
$/angle:bytype93 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a10 $/atom:proteins[0][1][0]/a11 $/atom:proteins[0][1][0]/a12
$/angle:bytype94 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a12 $/atom:proteins[0][1][0]/a13 $/atom:proteins[0][1][0]/a14
$/angle:bytype95 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a25 $/atom:proteins[0][1][0]/a26 $/atom:proteins[0][1][0]/a27
$/angle:bytype96 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a1 $/atom:proteins[0][1][1]/a2 $/atom:proteins[0][1][1]/a3
$/angle:bytype97 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a3 $/atom:proteins[0][1][1]/a4 $/atom:proteins[0][1][1]/a5
$/angle:bytype98 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a10 $/atom:proteins[0][1][1]/a11 $/atom:proteins[0][1][1]/a12
$/angle:bytype99 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a12 $/atom:proteins[0][1][1]/a13 $/atom:proteins[0][1][1]/a14
$/angle:bytype100 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a25 $/atom:proteins[0][1][1]/a26 $/atom:proteins[0][1][1]/a27
$/angle:bytype101 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a1 $/atom:proteins[1][0][0]/a2 $/atom:proteins[1][0][0]/a3
$/angle:bytype102 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a3 $/atom:proteins[1][0][0]/a4 $/atom:proteins[1][0][0]/a5
$/angle:bytype103 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a10 $/atom:proteins[1][0][0]/a11 $/atom:proteins[1][0][0]/a12
$/angle:bytype104 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a12 $/atom:proteins[1][0][0]/a13 $/atom:proteins[1][0][0]/a14
$/angle:bytype105 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a25 $/atom:proteins[1][0][0]/a26 $/atom:proteins[1][0][0]/a27
$/angle:bytype106 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a1 $/atom:proteins[1][0][1]/a2 $/atom:proteins[1][0][1]/a3
$/angle:bytype107 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a3 $/atom:proteins[1][0][1]/a4 $/atom:proteins[1][0][1]/a5
$/angle:bytype108 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a10 $/atom:proteins[1][0][1]/a11 $/atom:proteins[1][0][1]/a12
$/angle:bytype109 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a12 $/atom:proteins[1][0][1]/a13 $/atom:proteins[1][0][1]/a14
$/angle:bytype110 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a25 $/atom:proteins[1][0][1]/a26 $/atom:proteins[1][0][1]/a27
$/angle:bytype111 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a1 $/atom:proteins[1][1][0]/a2 $/atom:proteins[1][1][0]/a3
$/angle:bytype112 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a3 $/atom:proteins[1][1][0]/a4 $/atom:proteins[1][1][0]/a5
$/angle:bytype113 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a10 $/atom:proteins[1][1][0]/a11 $/atom:proteins[1][1][0]/a12
$/angle:bytype114 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a12 $/atom:proteins[1][1][0]/a13 $/atom:proteins[1][1][0]/a14
$/angle:bytype115 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a25 $/atom:proteins[1][1][0]/a26 $/atom:proteins[1][1][0]/a27
$/angle:bytype116 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a1 $/atom:proteins[1][1][1]/a2 $/atom:proteins[1][1][1]/a3
$/angle:bytype117 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a3 $/atom:proteins[1][1][1]/a4 $/atom:proteins[1][1][1]/a5
$/angle:bytype118 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a10 $/atom:proteins[1][1][1]/a11 $/atom:proteins[1][1][1]/a12
$/angle:bytype119 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a12 $/atom:proteins[1][1][1]/a13 $/atom:proteins[1][1][1]/a14
$/angle:bytype120 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a25 $/atom:proteins[1][1][1]/a26 $/atom:proteins[1][1][1]/a27
$/angle:bytype121 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a5 $/atom:proteins[0][0][0]/a6 $/atom:proteins[0][0][0]/a7
$/angle:bytype122 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a8 $/atom:proteins[0][0][0]/a9 $/atom:proteins[0][0][0]/a10
$/angle:bytype123 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a5 $/atom:proteins[0][0][1]/a6 $/atom:proteins[0][0][1]/a7
$/angle:bytype124 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a8 $/atom:proteins[0][0][1]/a9 $/atom:proteins[0][0][1]/a10
$/angle:bytype125 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a5 $/atom:proteins[0][1][0]/a6 $/atom:proteins[0][1][0]/a7
$/angle:bytype126 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a8 $/atom:proteins[0][1][0]/a9 $/atom:proteins[0][1][0]/a10
$/angle:bytype127 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a5 $/atom:proteins[0][1][1]/a6 $/atom:proteins[0][1][1]/a7
$/angle:bytype128 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a8 $/atom:proteins[0][1][1]/a9 $/atom:proteins[0][1][1]/a10
$/angle:bytype129 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a5 $/atom:proteins[1][0][0]/a6 $/atom:proteins[1][0][0]/a7
$/angle:bytype130 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a8 $/atom:proteins[1][0][0]/a9 $/atom:proteins[1][0][0]/a10
$/angle:bytype131 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a5 $/atom:proteins[1][0][1]/a6 $/atom:proteins[1][0][1]/a7
$/angle:bytype132 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a8 $/atom:proteins[1][0][1]/a9 $/atom:proteins[1][0][1]/a10
$/angle:bytype133 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a5 $/atom:proteins[1][1][0]/a6 $/atom:proteins[1][1][0]/a7
$/angle:bytype134 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a8 $/atom:proteins[1][1][0]/a9 $/atom:proteins[1][1][0]/a10
$/angle:bytype135 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a5 $/atom:proteins[1][1][1]/a6 $/atom:proteins[1][1][1]/a7
$/angle:bytype136 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a8 $/atom:proteins[1][1][1]/a9 $/atom:proteins[1][1][1]/a10
$/angle:bytype137 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a17 $/atom:proteins[0][0][0]/a18 $/atom:proteins[0][0][0]/a19
$/angle:bytype138 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a17 $/atom:proteins[0][0][1]/a18 $/atom:proteins[0][0][1]/a19
$/angle:bytype139 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a17 $/atom:proteins[0][1][0]/a18 $/atom:proteins[0][1][0]/a19
$/angle:bytype140 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a17 $/atom:proteins[0][1][1]/a18 $/atom:proteins[0][1][1]/a19
$/angle:bytype141 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a17 $/atom:proteins[1][0][0]/a18 $/atom:proteins[1][0][0]/a19
$/angle:bytype142 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a17 $/atom:proteins[1][0][1]/a18 $/atom:proteins[1][0][1]/a19
$/angle:bytype143 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a17 $/atom:proteins[1][1][0]/a18 $/atom:proteins[1][1][0]/a19
$/angle:bytype144 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a17 $/atom:proteins[1][1][1]/a18 $/atom:proteins[1][1][1]/a19
$/angle:bytype145 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a18 $/atom:proteins[0][0][0]/a19 $/atom:proteins[0][0][0]/a20
$/angle:bytype146 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a22 $/atom:proteins[0][0][0]/a23 $/atom:proteins[0][0][0]/a24
$/angle:bytype147 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a21 $/atom:proteins[0][0][0]/a22 $/atom:proteins[0][0][0]/a23
$/angle:bytype148 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a18 $/atom:proteins[0][0][1]/a19 $/atom:proteins[0][0][1]/a20
$/angle:bytype149 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a22 $/atom:proteins[0][0][1]/a23 $/atom:proteins[0][0][1]/a24
$/angle:bytype150 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a21 $/atom:proteins[0][0][1]/a22 $/atom:proteins[0][0][1]/a23
$/angle:bytype151 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a18 $/atom:proteins[0][1][0]/a19 $/atom:proteins[0][1][0]/a20
$/angle:bytype152 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a22 $/atom:proteins[0][1][0]/a23 $/atom:proteins[0][1][0]/a24
$/angle:bytype153 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a21 $/atom:proteins[0][1][0]/a22 $/atom:proteins[0][1][0]/a23
$/angle:bytype154 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a18 $/atom:proteins[0][1][1]/a19 $/atom:proteins[0][1][1]/a20
$/angle:bytype155 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a22 $/atom:proteins[0][1][1]/a23 $/atom:proteins[0][1][1]/a24
$/angle:bytype156 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a21 $/atom:proteins[0][1][1]/a22 $/atom:proteins[0][1][1]/a23
$/angle:bytype157 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a18 $/atom:proteins[1][0][0]/a19 $/atom:proteins[1][0][0]/a20
$/angle:bytype158 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a22 $/atom:proteins[1][0][0]/a23 $/atom:proteins[1][0][0]/a24
$/angle:bytype159 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a21 $/atom:proteins[1][0][0]/a22 $/atom:proteins[1][0][0]/a23
$/angle:bytype160 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a18 $/atom:proteins[1][0][1]/a19 $/atom:proteins[1][0][1]/a20
$/angle:bytype161 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a22 $/atom:proteins[1][0][1]/a23 $/atom:proteins[1][0][1]/a24
$/angle:bytype162 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a21 $/atom:proteins[1][0][1]/a22 $/atom:proteins[1][0][1]/a23
$/angle:bytype163 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a18 $/atom:proteins[1][1][0]/a19 $/atom:proteins[1][1][0]/a20
$/angle:bytype164 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a22 $/atom:proteins[1][1][0]/a23 $/atom:proteins[1][1][0]/a24
$/angle:bytype165 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a21 $/atom:proteins[1][1][0]/a22 $/atom:proteins[1][1][0]/a23
$/angle:bytype166 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a18 $/atom:proteins[1][1][1]/a19 $/atom:proteins[1][1][1]/a20
$/angle:bytype167 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a22 $/atom:proteins[1][1][1]/a23 $/atom:proteins[1][1][1]/a24
$/angle:bytype168 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a21 $/atom:proteins[1][1][1]/a22 $/atom:proteins[1][1][1]/a23
$/angle:bytype169 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a19 $/atom:proteins[0][0][0]/a20 $/atom:proteins[0][0][0]/a21
$/angle:bytype170 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a20 $/atom:proteins[0][0][0]/a21 $/atom:proteins[0][0][0]/a22
$/angle:bytype171 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a23 $/atom:proteins[0][0][0]/a24 $/atom:proteins[0][0][0]/a25
$/angle:bytype172 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][0]/a24 $/atom:proteins[0][0][0]/a25 $/atom:proteins[0][0][0]/a26
$/angle:bytype173 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a19 $/atom:proteins[0][0][1]/a20 $/atom:proteins[0][0][1]/a21
$/angle:bytype174 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a20 $/atom:proteins[0][0][1]/a21 $/atom:proteins[0][0][1]/a22
$/angle:bytype175 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a23 $/atom:proteins[0][0][1]/a24 $/atom:proteins[0][0][1]/a25
$/angle:bytype176 @/angle:1beadFrustrated/backbone $/atom:proteins[0][0][1]/a24 $/atom:proteins[0][0][1]/a25 $/atom:proteins[0][0][1]/a26
$/angle:bytype177 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a19 $/atom:proteins[0][1][0]/a20 $/atom:proteins[0][1][0]/a21
$/angle:bytype178 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a20 $/atom:proteins[0][1][0]/a21 $/atom:proteins[0][1][0]/a22
$/angle:bytype179 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a23 $/atom:proteins[0][1][0]/a24 $/atom:proteins[0][1][0]/a25
$/angle:bytype180 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][0]/a24 $/atom:proteins[0][1][0]/a25 $/atom:proteins[0][1][0]/a26
$/angle:bytype181 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a19 $/atom:proteins[0][1][1]/a20 $/atom:proteins[0][1][1]/a21
$/angle:bytype182 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a20 $/atom:proteins[0][1][1]/a21 $/atom:proteins[0][1][1]/a22
$/angle:bytype183 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a23 $/atom:proteins[0][1][1]/a24 $/atom:proteins[0][1][1]/a25
$/angle:bytype184 @/angle:1beadFrustrated/backbone $/atom:proteins[0][1][1]/a24 $/atom:proteins[0][1][1]/a25 $/atom:proteins[0][1][1]/a26
$/angle:bytype185 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a19 $/atom:proteins[1][0][0]/a20 $/atom:proteins[1][0][0]/a21
$/angle:bytype186 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a20 $/atom:proteins[1][0][0]/a21 $/atom:proteins[1][0][0]/a22
$/angle:bytype187 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a23 $/atom:proteins[1][0][0]/a24 $/atom:proteins[1][0][0]/a25
$/angle:bytype188 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][0]/a24 $/atom:proteins[1][0][0]/a25 $/atom:proteins[1][0][0]/a26
$/angle:bytype189 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a19 $/atom:proteins[1][0][1]/a20 $/atom:proteins[1][0][1]/a21
$/angle:bytype190 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a20 $/atom:proteins[1][0][1]/a21 $/atom:proteins[1][0][1]/a22
$/angle:bytype191 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a23 $/atom:proteins[1][0][1]/a24 $/atom:proteins[1][0][1]/a25
$/angle:bytype192 @/angle:1beadFrustrated/backbone $/atom:proteins[1][0][1]/a24 $/atom:proteins[1][0][1]/a25 $/atom:proteins[1][0][1]/a26
$/angle:bytype193 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a19 $/atom:proteins[1][1][0]/a20 $/atom:proteins[1][1][0]/a21
$/angle:bytype194 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a20 $/atom:proteins[1][1][0]/a21 $/atom:proteins[1][1][0]/a22
$/angle:bytype195 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a23 $/atom:proteins[1][1][0]/a24 $/atom:proteins[1][1][0]/a25
$/angle:bytype196 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][0]/a24 $/atom:proteins[1][1][0]/a25 $/atom:proteins[1][1][0]/a26
$/angle:bytype197 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a19 $/atom:proteins[1][1][1]/a20 $/atom:proteins[1][1][1]/a21
$/angle:bytype198 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a20 $/atom:proteins[1][1][1]/a21 $/atom:proteins[1][1][1]/a22
$/angle:bytype199 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a23 $/atom:proteins[1][1][1]/a24 $/atom:proteins[1][1][1]/a25
$/angle:bytype200 @/angle:1beadFrustrated/backbone $/atom:proteins[1][1][1]/a24 $/atom:proteins[1][1][1]/a25 $/atom:proteins[1][1][1]/a26
