    $/bond:proteins[0][0][0]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a1 $/atom:proteins[0][0][0]/a2
    $/bond:proteins[0][0][0]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a2 $/atom:proteins[0][0][0]/a3
    $/bond:proteins[0][0][0]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a3 $/atom:proteins[0][0][0]/a4
    $/bond:proteins[0][0][0]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a4 $/atom:proteins[0][0][0]/a5
    $/bond:proteins[0][0][0]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a5 $/atom:proteins[0][0][0]/a6
    $/bond:proteins[0][0][0]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a6 $/atom:proteins[0][0][0]/a7
    $/bond:proteins[0][0][0]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a7 $/atom:proteins[0][0][0]/a8
    $/bond:proteins[0][0][0]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a8 $/atom:proteins[0][0][0]/a9
    $/bond:proteins[0][0][0]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a9 $/atom:proteins[0][0][0]/a10
    $/bond:proteins[0][0][0]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a10 $/atom:proteins[0][0][0]/a11
    $/bond:proteins[0][0][0]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a11 $/atom:proteins[0][0][0]/a12
    $/bond:proteins[0][0][0]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a12 $/atom:proteins[0][0][0]/a13
    $/bond:proteins[0][0][0]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a13 $/atom:proteins[0][0][0]/a14
    $/bond:proteins[0][0][0]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a14 $/atom:proteins[0][0][0]/a15
    $/bond:proteins[0][0][0]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a15 $/atom:proteins[0][0][0]/a16
    $/bond:proteins[0][0][0]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a16 $/atom:proteins[0][0][0]/a17
    $/bond:proteins[0][0][0]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a17 $/atom:proteins[0][0][0]/a18
    $/bond:proteins[0][0][0]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a18 $/atom:proteins[0][0][0]/a19
    $/bond:proteins[0][0][0]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a19 $/atom:proteins[0][0][0]/a20
    $/bond:proteins[0][0][0]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a20 $/atom:proteins[0][0][0]/a21
    $/bond:proteins[0][0][0]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a21 $/atom:proteins[0][0][0]/a22
    $/bond:proteins[0][0][0]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a22 $/atom:proteins[0][0][0]/a23
    $/bond:proteins[0][0][0]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a23 $/atom:proteins[0][0][0]/a24
    $/bond:proteins[0][0][0]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a24 $/atom:proteins[0][0][0]/a25
    $/bond:proteins[0][0][0]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a25 $/atom:proteins[0][0][0]/a26
    $/bond:proteins[0][0][0]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][0]/a26 $/atom:proteins[0][0][0]/a27
    $/bond:proteins[0][0][1]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a1 $/atom:proteins[0][0][1]/a2
    $/bond:proteins[0][0][1]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a2 $/atom:proteins[0][0][1]/a3
    $/bond:proteins[0][0][1]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a3 $/atom:proteins[0][0][1]/a4
    $/bond:proteins[0][0][1]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a4 $/atom:proteins[0][0][1]/a5
    $/bond:proteins[0][0][1]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a5 $/atom:proteins[0][0][1]/a6
    $/bond:proteins[0][0][1]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a6 $/atom:proteins[0][0][1]/a7
    $/bond:proteins[0][0][1]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a7 $/atom:proteins[0][0][1]/a8
    $/bond:proteins[0][0][1]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a8 $/atom:proteins[0][0][1]/a9
    $/bond:proteins[0][0][1]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a9 $/atom:proteins[0][0][1]/a10
    $/bond:proteins[0][0][1]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a10 $/atom:proteins[0][0][1]/a11
    $/bond:proteins[0][0][1]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a11 $/atom:proteins[0][0][1]/a12
    $/bond:proteins[0][0][1]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a12 $/atom:proteins[0][0][1]/a13
    $/bond:proteins[0][0][1]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a13 $/atom:proteins[0][0][1]/a14
    $/bond:proteins[0][0][1]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a14 $/atom:proteins[0][0][1]/a15
    $/bond:proteins[0][0][1]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a15 $/atom:proteins[0][0][1]/a16
    $/bond:proteins[0][0][1]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a16 $/atom:proteins[0][0][1]/a17
    $/bond:proteins[0][0][1]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a17 $/atom:proteins[0][0][1]/a18
    $/bond:proteins[0][0][1]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a18 $/atom:proteins[0][0][1]/a19
    $/bond:proteins[0][0][1]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a19 $/atom:proteins[0][0][1]/a20
    $/bond:proteins[0][0][1]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a20 $/atom:proteins[0][0][1]/a21
    $/bond:proteins[0][0][1]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a21 $/atom:proteins[0][0][1]/a22
    $/bond:proteins[0][0][1]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a22 $/atom:proteins[0][0][1]/a23
    $/bond:proteins[0][0][1]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a23 $/atom:proteins[0][0][1]/a24
    $/bond:proteins[0][0][1]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a24 $/atom:proteins[0][0][1]/a25
    $/bond:proteins[0][0][1]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a25 $/atom:proteins[0][0][1]/a26
    $/bond:proteins[0][0][1]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][0][1]/a26 $/atom:proteins[0][0][1]/a27
    $/bond:proteins[0][1][0]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a1 $/atom:proteins[0][1][0]/a2
    $/bond:proteins[0][1][0]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a2 $/atom:proteins[0][1][0]/a3
    $/bond:proteins[0][1][0]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a3 $/atom:proteins[0][1][0]/a4
    $/bond:proteins[0][1][0]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a4 $/atom:proteins[0][1][0]/a5
    $/bond:proteins[0][1][0]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a5 $/atom:proteins[0][1][0]/a6
    $/bond:proteins[0][1][0]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a6 $/atom:proteins[0][1][0]/a7
    $/bond:proteins[0][1][0]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a7 $/atom:proteins[0][1][0]/a8
    $/bond:proteins[0][1][0]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a8 $/atom:proteins[0][1][0]/a9
    $/bond:proteins[0][1][0]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a9 $/atom:proteins[0][1][0]/a10
    $/bond:proteins[0][1][0]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a10 $/atom:proteins[0][1][0]/a11
    $/bond:proteins[0][1][0]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a11 $/atom:proteins[0][1][0]/a12
    $/bond:proteins[0][1][0]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a12 $/atom:proteins[0][1][0]/a13
    $/bond:proteins[0][1][0]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a13 $/atom:proteins[0][1][0]/a14
    $/bond:proteins[0][1][0]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a14 $/atom:proteins[0][1][0]/a15
    $/bond:proteins[0][1][0]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a15 $/atom:proteins[0][1][0]/a16
    $/bond:proteins[0][1][0]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a16 $/atom:proteins[0][1][0]/a17
    $/bond:proteins[0][1][0]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a17 $/atom:proteins[0][1][0]/a18
    $/bond:proteins[0][1][0]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a18 $/atom:proteins[0][1][0]/a19
    $/bond:proteins[0][1][0]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a19 $/atom:proteins[0][1][0]/a20
    $/bond:proteins[0][1][0]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a20 $/atom:proteins[0][1][0]/a21
    $/bond:proteins[0][1][0]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a21 $/atom:proteins[0][1][0]/a22
    $/bond:proteins[0][1][0]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a22 $/atom:proteins[0][1][0]/a23
    $/bond:proteins[0][1][0]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a23 $/atom:proteins[0][1][0]/a24
    $/bond:proteins[0][1][0]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a24 $/atom:proteins[0][1][0]/a25
    $/bond:proteins[0][1][0]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a25 $/atom:proteins[0][1][0]/a26
    $/bond:proteins[0][1][0]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][0]/a26 $/atom:proteins[0][1][0]/a27
    $/bond:proteins[0][1][1]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a1 $/atom:proteins[0][1][1]/a2
    $/bond:proteins[0][1][1]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a2 $/atom:proteins[0][1][1]/a3
    $/bond:proteins[0][1][1]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a3 $/atom:proteins[0][1][1]/a4
    $/bond:proteins[0][1][1]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a4 $/atom:proteins[0][1][1]/a5
    $/bond:proteins[0][1][1]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a5 $/atom:proteins[0][1][1]/a6
    $/bond:proteins[0][1][1]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a6 $/atom:proteins[0][1][1]/a7
    $/bond:proteins[0][1][1]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a7 $/atom:proteins[0][1][1]/a8
    $/bond:proteins[0][1][1]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a8 $/atom:proteins[0][1][1]/a9
    $/bond:proteins[0][1][1]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a9 $/atom:proteins[0][1][1]/a10
    $/bond:proteins[0][1][1]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a10 $/atom:proteins[0][1][1]/a11
    $/bond:proteins[0][1][1]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a11 $/atom:proteins[0][1][1]/a12
    $/bond:proteins[0][1][1]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a12 $/atom:proteins[0][1][1]/a13
    $/bond:proteins[0][1][1]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a13 $/atom:proteins[0][1][1]/a14
    $/bond:proteins[0][1][1]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a14 $/atom:proteins[0][1][1]/a15
    $/bond:proteins[0][1][1]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a15 $/atom:proteins[0][1][1]/a16
    $/bond:proteins[0][1][1]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a16 $/atom:proteins[0][1][1]/a17
    $/bond:proteins[0][1][1]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a17 $/atom:proteins[0][1][1]/a18
    $/bond:proteins[0][1][1]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a18 $/atom:proteins[0][1][1]/a19
    $/bond:proteins[0][1][1]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a19 $/atom:proteins[0][1][1]/a20
    $/bond:proteins[0][1][1]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a20 $/atom:proteins[0][1][1]/a21
    $/bond:proteins[0][1][1]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a21 $/atom:proteins[0][1][1]/a22
    $/bond:proteins[0][1][1]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a22 $/atom:proteins[0][1][1]/a23
    $/bond:proteins[0][1][1]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a23 $/atom:proteins[0][1][1]/a24
    $/bond:proteins[0][1][1]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a24 $/atom:proteins[0][1][1]/a25
    $/bond:proteins[0][1][1]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a25 $/atom:proteins[0][1][1]/a26
    $/bond:proteins[0][1][1]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[0][1][1]/a26 $/atom:proteins[0][1][1]/a27
    $/bond:proteins[1][0][0]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a1 $/atom:proteins[1][0][0]/a2
    $/bond:proteins[1][0][0]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a2 $/atom:proteins[1][0][0]/a3
    $/bond:proteins[1][0][0]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a3 $/atom:proteins[1][0][0]/a4
    $/bond:proteins[1][0][0]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a4 $/atom:proteins[1][0][0]/a5
    $/bond:proteins[1][0][0]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a5 $/atom:proteins[1][0][0]/a6
    $/bond:proteins[1][0][0]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a6 $/atom:proteins[1][0][0]/a7
    $/bond:proteins[1][0][0]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a7 $/atom:proteins[1][0][0]/a8
    $/bond:proteins[1][0][0]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a8 $/atom:proteins[1][0][0]/a9
    $/bond:proteins[1][0][0]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a9 $/atom:proteins[1][0][0]/a10
    $/bond:proteins[1][0][0]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a10 $/atom:proteins[1][0][0]/a11
    $/bond:proteins[1][0][0]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a11 $/atom:proteins[1][0][0]/a12
    $/bond:proteins[1][0][0]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a12 $/atom:proteins[1][0][0]/a13
    $/bond:proteins[1][0][0]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a13 $/atom:proteins[1][0][0]/a14
    $/bond:proteins[1][0][0]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a14 $/atom:proteins[1][0][0]/a15
    $/bond:proteins[1][0][0]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a15 $/atom:proteins[1][0][0]/a16
    $/bond:proteins[1][0][0]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a16 $/atom:proteins[1][0][0]/a17
    $/bond:proteins[1][0][0]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a17 $/atom:proteins[1][0][0]/a18
    $/bond:proteins[1][0][0]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a18 $/atom:proteins[1][0][0]/a19
    $/bond:proteins[1][0][0]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a19 $/atom:proteins[1][0][0]/a20
    $/bond:proteins[1][0][0]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a20 $/atom:proteins[1][0][0]/a21
    $/bond:proteins[1][0][0]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a21 $/atom:proteins[1][0][0]/a22
    $/bond:proteins[1][0][0]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a22 $/atom:proteins[1][0][0]/a23
    $/bond:proteins[1][0][0]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a23 $/atom:proteins[1][0][0]/a24
    $/bond:proteins[1][0][0]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a24 $/atom:proteins[1][0][0]/a25
    $/bond:proteins[1][0][0]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a25 $/atom:proteins[1][0][0]/a26
    $/bond:proteins[1][0][0]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][0]/a26 $/atom:proteins[1][0][0]/a27
    $/bond:proteins[1][0][1]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a1 $/atom:proteins[1][0][1]/a2
    $/bond:proteins[1][0][1]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a2 $/atom:proteins[1][0][1]/a3
    $/bond:proteins[1][0][1]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a3 $/atom:proteins[1][0][1]/a4
    $/bond:proteins[1][0][1]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a4 $/atom:proteins[1][0][1]/a5
    $/bond:proteins[1][0][1]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a5 $/atom:proteins[1][0][1]/a6
    $/bond:proteins[1][0][1]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a6 $/atom:proteins[1][0][1]/a7
    $/bond:proteins[1][0][1]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a7 $/atom:proteins[1][0][1]/a8
    $/bond:proteins[1][0][1]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a8 $/atom:proteins[1][0][1]/a9
    $/bond:proteins[1][0][1]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a9 $/atom:proteins[1][0][1]/a10
    $/bond:proteins[1][0][1]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a10 $/atom:proteins[1][0][1]/a11
    $/bond:proteins[1][0][1]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a11 $/atom:proteins[1][0][1]/a12
    $/bond:proteins[1][0][1]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a12 $/atom:proteins[1][0][1]/a13
    $/bond:proteins[1][0][1]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a13 $/atom:proteins[1][0][1]/a14
    $/bond:proteins[1][0][1]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a14 $/atom:proteins[1][0][1]/a15
    $/bond:proteins[1][0][1]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a15 $/atom:proteins[1][0][1]/a16
    $/bond:proteins[1][0][1]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a16 $/atom:proteins[1][0][1]/a17
    $/bond:proteins[1][0][1]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a17 $/atom:proteins[1][0][1]/a18
    $/bond:proteins[1][0][1]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a18 $/atom:proteins[1][0][1]/a19
    $/bond:proteins[1][0][1]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a19 $/atom:proteins[1][0][1]/a20
    $/bond:proteins[1][0][1]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a20 $/atom:proteins[1][0][1]/a21
    $/bond:proteins[1][0][1]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a21 $/atom:proteins[1][0][1]/a22
    $/bond:proteins[1][0][1]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a22 $/atom:proteins[1][0][1]/a23
    $/bond:proteins[1][0][1]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a23 $/atom:proteins[1][0][1]/a24
    $/bond:proteins[1][0][1]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a24 $/atom:proteins[1][0][1]/a25
    $/bond:proteins[1][0][1]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a25 $/atom:proteins[1][0][1]/a26
    $/bond:proteins[1][0][1]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][0][1]/a26 $/atom:proteins[1][0][1]/a27
    $/bond:proteins[1][1][0]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a1 $/atom:proteins[1][1][0]/a2
    $/bond:proteins[1][1][0]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a2 $/atom:proteins[1][1][0]/a3
    $/bond:proteins[1][1][0]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a3 $/atom:proteins[1][1][0]/a4
    $/bond:proteins[1][1][0]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a4 $/atom:proteins[1][1][0]/a5
    $/bond:proteins[1][1][0]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a5 $/atom:proteins[1][1][0]/a6
    $/bond:proteins[1][1][0]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a6 $/atom:proteins[1][1][0]/a7
    $/bond:proteins[1][1][0]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a7 $/atom:proteins[1][1][0]/a8
    $/bond:proteins[1][1][0]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a8 $/atom:proteins[1][1][0]/a9
    $/bond:proteins[1][1][0]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a9 $/atom:proteins[1][1][0]/a10
    $/bond:proteins[1][1][0]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a10 $/atom:proteins[1][1][0]/a11
    $/bond:proteins[1][1][0]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a11 $/atom:proteins[1][1][0]/a12
    $/bond:proteins[1][1][0]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a12 $/atom:proteins[1][1][0]/a13
    $/bond:proteins[1][1][0]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a13 $/atom:proteins[1][1][0]/a14
    $/bond:proteins[1][1][0]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a14 $/atom:proteins[1][1][0]/a15
    $/bond:proteins[1][1][0]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a15 $/atom:proteins[1][1][0]/a16
    $/bond:proteins[1][1][0]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a16 $/atom:proteins[1][1][0]/a17
    $/bond:proteins[1][1][0]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a17 $/atom:proteins[1][1][0]/a18
    $/bond:proteins[1][1][0]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a18 $/atom:proteins[1][1][0]/a19
    $/bond:proteins[1][1][0]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a19 $/atom:proteins[1][1][0]/a20
    $/bond:proteins[1][1][0]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a20 $/atom:proteins[1][1][0]/a21
    $/bond:proteins[1][1][0]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a21 $/atom:proteins[1][1][0]/a22
    $/bond:proteins[1][1][0]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a22 $/atom:proteins[1][1][0]/a23
    $/bond:proteins[1][1][0]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a23 $/atom:proteins[1][1][0]/a24
    $/bond:proteins[1][1][0]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a24 $/atom:proteins[1][1][0]/a25
    $/bond:proteins[1][1][0]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a25 $/atom:proteins[1][1][0]/a26
    $/bond:proteins[1][1][0]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][0]/a26 $/atom:proteins[1][1][0]/a27
    $/bond:proteins[1][1][1]/b1 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a1 $/atom:proteins[1][1][1]/a2
    $/bond:proteins[1][1][1]/b2 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a2 $/atom:proteins[1][1][1]/a3
    $/bond:proteins[1][1][1]/b3 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a3 $/atom:proteins[1][1][1]/a4
    $/bond:proteins[1][1][1]/b4 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a4 $/atom:proteins[1][1][1]/a5
    $/bond:proteins[1][1][1]/b5 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a5 $/atom:proteins[1][1][1]/a6
    $/bond:proteins[1][1][1]/b6 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a6 $/atom:proteins[1][1][1]/a7
    $/bond:proteins[1][1][1]/b7 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a7 $/atom:proteins[1][1][1]/a8
    $/bond:proteins[1][1][1]/b8 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a8 $/atom:proteins[1][1][1]/a9
    $/bond:proteins[1][1][1]/b9 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a9 $/atom:proteins[1][1][1]/a10
    $/bond:proteins[1][1][1]/b10 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a10 $/atom:proteins[1][1][1]/a11
    $/bond:proteins[1][1][1]/b11 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a11 $/atom:proteins[1][1][1]/a12
    $/bond:proteins[1][1][1]/b12 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a12 $/atom:proteins[1][1][1]/a13
    $/bond:proteins[1][1][1]/b13 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a13 $/atom:proteins[1][1][1]/a14
    $/bond:proteins[1][1][1]/b14 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a14 $/atom:proteins[1][1][1]/a15
    $/bond:proteins[1][1][1]/b15 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a15 $/atom:proteins[1][1][1]/a16
    $/bond:proteins[1][1][1]/b16 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a16 $/atom:proteins[1][1][1]/a17
    $/bond:proteins[1][1][1]/b17 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a17 $/atom:proteins[1][1][1]/a18
    $/bond:proteins[1][1][1]/b18 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a18 $/atom:proteins[1][1][1]/a19
    $/bond:proteins[1][1][1]/b19 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a19 $/atom:proteins[1][1][1]/a20
    $/bond:proteins[1][1][1]/b20 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a20 $/atom:proteins[1][1][1]/a21
    $/bond:proteins[1][1][1]/b21 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a21 $/atom:proteins[1][1][1]/a22
    $/bond:proteins[1][1][1]/b22 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a22 $/atom:proteins[1][1][1]/a23
    $/bond:proteins[1][1][1]/b23 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a23 $/atom:proteins[1][1][1]/a24
    $/bond:proteins[1][1][1]/b24 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a24 $/atom:proteins[1][1][1]/a25
    $/bond:proteins[1][1][1]/b25 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a25 $/atom:proteins[1][1][1]/a26
    $/bond:proteins[1][1][1]/b26 @/bond:1beadFrustrated/backbone  $/atom:proteins[1][1][1]/a26 $/atom:proteins[1][1][1]/a27
