    $/dihedral:proteins[0][0][0]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a1 $/atom:proteins[0][0][0]/a2 $/atom:proteins[0][0][0]/a3 $/atom:proteins[0][0][0]/a4
    $/dihedral:proteins[0][0][0]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a2 $/atom:proteins[0][0][0]/a3 $/atom:proteins[0][0][0]/a4 $/atom:proteins[0][0][0]/a5
    $/dihedral:proteins[0][0][0]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a3 $/atom:proteins[0][0][0]/a4 $/atom:proteins[0][0][0]/a5 $/atom:proteins[0][0][0]/a6
    $/dihedral:proteins[0][0][0]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a4 $/atom:proteins[0][0][0]/a5 $/atom:proteins[0][0][0]/a6 $/atom:proteins[0][0][0]/a7
    $/dihedral:proteins[0][0][0]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a8 $/atom:proteins[0][0][0]/a9 $/atom:proteins[0][0][0]/a10 $/atom:proteins[0][0][0]/a11
    $/dihedral:proteins[0][0][0]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a9 $/atom:proteins[0][0][0]/a10 $/atom:proteins[0][0][0]/a11 $/atom:proteins[0][0][0]/a12
    $/dihedral:proteins[0][0][0]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a10 $/atom:proteins[0][0][0]/a11 $/atom:proteins[0][0][0]/a12 $/atom:proteins[0][0][0]/a13
    $/dihedral:proteins[0][0][0]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a11 $/atom:proteins[0][0][0]/a12 $/atom:proteins[0][0][0]/a13 $/atom:proteins[0][0][0]/a14
    $/dihedral:proteins[0][0][0]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][0]/a12 $/atom:proteins[0][0][0]/a13 $/atom:proteins[0][0][0]/a14 $/atom:proteins[0][0][0]/a15
    $/dihedral:proteins[0][0][0]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a15 $/atom:proteins[0][0][0]/a16 $/atom:proteins[0][0][0]/a17 $/atom:proteins[0][0][0]/a18
    $/dihedral:proteins[0][0][0]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a16 $/atom:proteins[0][0][0]/a17 $/atom:proteins[0][0][0]/a18 $/atom:proteins[0][0][0]/a19
    $/dihedral:proteins[0][0][0]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a17 $/atom:proteins[0][0][0]/a18 $/atom:proteins[0][0][0]/a19 $/atom:proteins[0][0][0]/a20
    $/dihedral:proteins[0][0][0]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a18 $/atom:proteins[0][0][0]/a19 $/atom:proteins[0][0][0]/a20 $/atom:proteins[0][0][0]/a21
    $/dihedral:proteins[0][0][0]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a19 $/atom:proteins[0][0][0]/a20 $/atom:proteins[0][0][0]/a21 $/atom:proteins[0][0][0]/a22
    $/dihedral:proteins[0][0][0]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a20 $/atom:proteins[0][0][0]/a21 $/atom:proteins[0][0][0]/a22 $/atom:proteins[0][0][0]/a23
    $/dihedral:proteins[0][0][0]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a21 $/atom:proteins[0][0][0]/a22 $/atom:proteins[0][0][0]/a23 $/atom:proteins[0][0][0]/a24
    $/dihedral:proteins[0][0][0]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a22 $/atom:proteins[0][0][0]/a23 $/atom:proteins[0][0][0]/a24 $/atom:proteins[0][0][0]/a25
    $/dihedral:proteins[0][0][0]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a23 $/atom:proteins[0][0][0]/a24 $/atom:proteins[0][0][0]/a25 $/atom:proteins[0][0][0]/a26
    $/dihedral:proteins[0][0][0]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][0]/a24 $/atom:proteins[0][0][0]/a25 $/atom:proteins[0][0][0]/a26 $/atom:proteins[0][0][0]/a27
    $/dihedral:proteins[0][0][1]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a1 $/atom:proteins[0][0][1]/a2 $/atom:proteins[0][0][1]/a3 $/atom:proteins[0][0][1]/a4
    $/dihedral:proteins[0][0][1]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a2 $/atom:proteins[0][0][1]/a3 $/atom:proteins[0][0][1]/a4 $/atom:proteins[0][0][1]/a5
    $/dihedral:proteins[0][0][1]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a3 $/atom:proteins[0][0][1]/a4 $/atom:proteins[0][0][1]/a5 $/atom:proteins[0][0][1]/a6
    $/dihedral:proteins[0][0][1]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a4 $/atom:proteins[0][0][1]/a5 $/atom:proteins[0][0][1]/a6 $/atom:proteins[0][0][1]/a7
    $/dihedral:proteins[0][0][1]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a8 $/atom:proteins[0][0][1]/a9 $/atom:proteins[0][0][1]/a10 $/atom:proteins[0][0][1]/a11
    $/dihedral:proteins[0][0][1]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a9 $/atom:proteins[0][0][1]/a10 $/atom:proteins[0][0][1]/a11 $/atom:proteins[0][0][1]/a12
    $/dihedral:proteins[0][0][1]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a10 $/atom:proteins[0][0][1]/a11 $/atom:proteins[0][0][1]/a12 $/atom:proteins[0][0][1]/a13
    $/dihedral:proteins[0][0][1]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a11 $/atom:proteins[0][0][1]/a12 $/atom:proteins[0][0][1]/a13 $/atom:proteins[0][0][1]/a14
    $/dihedral:proteins[0][0][1]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][0][1]/a12 $/atom:proteins[0][0][1]/a13 $/atom:proteins[0][0][1]/a14 $/atom:proteins[0][0][1]/a15
    $/dihedral:proteins[0][0][1]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a15 $/atom:proteins[0][0][1]/a16 $/atom:proteins[0][0][1]/a17 $/atom:proteins[0][0][1]/a18
    $/dihedral:proteins[0][0][1]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a16 $/atom:proteins[0][0][1]/a17 $/atom:proteins[0][0][1]/a18 $/atom:proteins[0][0][1]/a19
    $/dihedral:proteins[0][0][1]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a17 $/atom:proteins[0][0][1]/a18 $/atom:proteins[0][0][1]/a19 $/atom:proteins[0][0][1]/a20
    $/dihedral:proteins[0][0][1]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a18 $/atom:proteins[0][0][1]/a19 $/atom:proteins[0][0][1]/a20 $/atom:proteins[0][0][1]/a21
    $/dihedral:proteins[0][0][1]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a19 $/atom:proteins[0][0][1]/a20 $/atom:proteins[0][0][1]/a21 $/atom:proteins[0][0][1]/a22
    $/dihedral:proteins[0][0][1]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a20 $/atom:proteins[0][0][1]/a21 $/atom:proteins[0][0][1]/a22 $/atom:proteins[0][0][1]/a23
    $/dihedral:proteins[0][0][1]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a21 $/atom:proteins[0][0][1]/a22 $/atom:proteins[0][0][1]/a23 $/atom:proteins[0][0][1]/a24
    $/dihedral:proteins[0][0][1]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a22 $/atom:proteins[0][0][1]/a23 $/atom:proteins[0][0][1]/a24 $/atom:proteins[0][0][1]/a25
    $/dihedral:proteins[0][0][1]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a23 $/atom:proteins[0][0][1]/a24 $/atom:proteins[0][0][1]/a25 $/atom:proteins[0][0][1]/a26
    $/dihedral:proteins[0][0][1]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][0][1]/a24 $/atom:proteins[0][0][1]/a25 $/atom:proteins[0][0][1]/a26 $/atom:proteins[0][0][1]/a27
    $/dihedral:proteins[0][1][0]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a1 $/atom:proteins[0][1][0]/a2 $/atom:proteins[0][1][0]/a3 $/atom:proteins[0][1][0]/a4
    $/dihedral:proteins[0][1][0]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a2 $/atom:proteins[0][1][0]/a3 $/atom:proteins[0][1][0]/a4 $/atom:proteins[0][1][0]/a5
    $/dihedral:proteins[0][1][0]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a3 $/atom:proteins[0][1][0]/a4 $/atom:proteins[0][1][0]/a5 $/atom:proteins[0][1][0]/a6
    $/dihedral:proteins[0][1][0]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a4 $/atom:proteins[0][1][0]/a5 $/atom:proteins[0][1][0]/a6 $/atom:proteins[0][1][0]/a7
    $/dihedral:proteins[0][1][0]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a8 $/atom:proteins[0][1][0]/a9 $/atom:proteins[0][1][0]/a10 $/atom:proteins[0][1][0]/a11
    $/dihedral:proteins[0][1][0]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a9 $/atom:proteins[0][1][0]/a10 $/atom:proteins[0][1][0]/a11 $/atom:proteins[0][1][0]/a12
    $/dihedral:proteins[0][1][0]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a10 $/atom:proteins[0][1][0]/a11 $/atom:proteins[0][1][0]/a12 $/atom:proteins[0][1][0]/a13
    $/dihedral:proteins[0][1][0]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a11 $/atom:proteins[0][1][0]/a12 $/atom:proteins[0][1][0]/a13 $/atom:proteins[0][1][0]/a14
    $/dihedral:proteins[0][1][0]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][0]/a12 $/atom:proteins[0][1][0]/a13 $/atom:proteins[0][1][0]/a14 $/atom:proteins[0][1][0]/a15
    $/dihedral:proteins[0][1][0]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a15 $/atom:proteins[0][1][0]/a16 $/atom:proteins[0][1][0]/a17 $/atom:proteins[0][1][0]/a18
    $/dihedral:proteins[0][1][0]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a16 $/atom:proteins[0][1][0]/a17 $/atom:proteins[0][1][0]/a18 $/atom:proteins[0][1][0]/a19
    $/dihedral:proteins[0][1][0]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a17 $/atom:proteins[0][1][0]/a18 $/atom:proteins[0][1][0]/a19 $/atom:proteins[0][1][0]/a20
    $/dihedral:proteins[0][1][0]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a18 $/atom:proteins[0][1][0]/a19 $/atom:proteins[0][1][0]/a20 $/atom:proteins[0][1][0]/a21
    $/dihedral:proteins[0][1][0]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a19 $/atom:proteins[0][1][0]/a20 $/atom:proteins[0][1][0]/a21 $/atom:proteins[0][1][0]/a22
    $/dihedral:proteins[0][1][0]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a20 $/atom:proteins[0][1][0]/a21 $/atom:proteins[0][1][0]/a22 $/atom:proteins[0][1][0]/a23
    $/dihedral:proteins[0][1][0]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a21 $/atom:proteins[0][1][0]/a22 $/atom:proteins[0][1][0]/a23 $/atom:proteins[0][1][0]/a24
    $/dihedral:proteins[0][1][0]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a22 $/atom:proteins[0][1][0]/a23 $/atom:proteins[0][1][0]/a24 $/atom:proteins[0][1][0]/a25
    $/dihedral:proteins[0][1][0]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a23 $/atom:proteins[0][1][0]/a24 $/atom:proteins[0][1][0]/a25 $/atom:proteins[0][1][0]/a26
    $/dihedral:proteins[0][1][0]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][0]/a24 $/atom:proteins[0][1][0]/a25 $/atom:proteins[0][1][0]/a26 $/atom:proteins[0][1][0]/a27
    $/dihedral:proteins[0][1][1]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a1 $/atom:proteins[0][1][1]/a2 $/atom:proteins[0][1][1]/a3 $/atom:proteins[0][1][1]/a4
    $/dihedral:proteins[0][1][1]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a2 $/atom:proteins[0][1][1]/a3 $/atom:proteins[0][1][1]/a4 $/atom:proteins[0][1][1]/a5
    $/dihedral:proteins[0][1][1]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a3 $/atom:proteins[0][1][1]/a4 $/atom:proteins[0][1][1]/a5 $/atom:proteins[0][1][1]/a6
    $/dihedral:proteins[0][1][1]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a4 $/atom:proteins[0][1][1]/a5 $/atom:proteins[0][1][1]/a6 $/atom:proteins[0][1][1]/a7
    $/dihedral:proteins[0][1][1]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a8 $/atom:proteins[0][1][1]/a9 $/atom:proteins[0][1][1]/a10 $/atom:proteins[0][1][1]/a11
    $/dihedral:proteins[0][1][1]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a9 $/atom:proteins[0][1][1]/a10 $/atom:proteins[0][1][1]/a11 $/atom:proteins[0][1][1]/a12
    $/dihedral:proteins[0][1][1]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a10 $/atom:proteins[0][1][1]/a11 $/atom:proteins[0][1][1]/a12 $/atom:proteins[0][1][1]/a13
    $/dihedral:proteins[0][1][1]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a11 $/atom:proteins[0][1][1]/a12 $/atom:proteins[0][1][1]/a13 $/atom:proteins[0][1][1]/a14
    $/dihedral:proteins[0][1][1]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[0][1][1]/a12 $/atom:proteins[0][1][1]/a13 $/atom:proteins[0][1][1]/a14 $/atom:proteins[0][1][1]/a15
    $/dihedral:proteins[0][1][1]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a15 $/atom:proteins[0][1][1]/a16 $/atom:proteins[0][1][1]/a17 $/atom:proteins[0][1][1]/a18
    $/dihedral:proteins[0][1][1]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a16 $/atom:proteins[0][1][1]/a17 $/atom:proteins[0][1][1]/a18 $/atom:proteins[0][1][1]/a19
    $/dihedral:proteins[0][1][1]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a17 $/atom:proteins[0][1][1]/a18 $/atom:proteins[0][1][1]/a19 $/atom:proteins[0][1][1]/a20
    $/dihedral:proteins[0][1][1]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a18 $/atom:proteins[0][1][1]/a19 $/atom:proteins[0][1][1]/a20 $/atom:proteins[0][1][1]/a21
    $/dihedral:proteins[0][1][1]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a19 $/atom:proteins[0][1][1]/a20 $/atom:proteins[0][1][1]/a21 $/atom:proteins[0][1][1]/a22
    $/dihedral:proteins[0][1][1]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a20 $/atom:proteins[0][1][1]/a21 $/atom:proteins[0][1][1]/a22 $/atom:proteins[0][1][1]/a23
    $/dihedral:proteins[0][1][1]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a21 $/atom:proteins[0][1][1]/a22 $/atom:proteins[0][1][1]/a23 $/atom:proteins[0][1][1]/a24
    $/dihedral:proteins[0][1][1]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a22 $/atom:proteins[0][1][1]/a23 $/atom:proteins[0][1][1]/a24 $/atom:proteins[0][1][1]/a25
    $/dihedral:proteins[0][1][1]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a23 $/atom:proteins[0][1][1]/a24 $/atom:proteins[0][1][1]/a25 $/atom:proteins[0][1][1]/a26
    $/dihedral:proteins[0][1][1]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[0][1][1]/a24 $/atom:proteins[0][1][1]/a25 $/atom:proteins[0][1][1]/a26 $/atom:proteins[0][1][1]/a27
    $/dihedral:proteins[1][0][0]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a1 $/atom:proteins[1][0][0]/a2 $/atom:proteins[1][0][0]/a3 $/atom:proteins[1][0][0]/a4
    $/dihedral:proteins[1][0][0]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a2 $/atom:proteins[1][0][0]/a3 $/atom:proteins[1][0][0]/a4 $/atom:proteins[1][0][0]/a5
    $/dihedral:proteins[1][0][0]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a3 $/atom:proteins[1][0][0]/a4 $/atom:proteins[1][0][0]/a5 $/atom:proteins[1][0][0]/a6
    $/dihedral:proteins[1][0][0]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a4 $/atom:proteins[1][0][0]/a5 $/atom:proteins[1][0][0]/a6 $/atom:proteins[1][0][0]/a7
    $/dihedral:proteins[1][0][0]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a8 $/atom:proteins[1][0][0]/a9 $/atom:proteins[1][0][0]/a10 $/atom:proteins[1][0][0]/a11
    $/dihedral:proteins[1][0][0]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a9 $/atom:proteins[1][0][0]/a10 $/atom:proteins[1][0][0]/a11 $/atom:proteins[1][0][0]/a12
    $/dihedral:proteins[1][0][0]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a10 $/atom:proteins[1][0][0]/a11 $/atom:proteins[1][0][0]/a12 $/atom:proteins[1][0][0]/a13
    $/dihedral:proteins[1][0][0]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a11 $/atom:proteins[1][0][0]/a12 $/atom:proteins[1][0][0]/a13 $/atom:proteins[1][0][0]/a14
    $/dihedral:proteins[1][0][0]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][0]/a12 $/atom:proteins[1][0][0]/a13 $/atom:proteins[1][0][0]/a14 $/atom:proteins[1][0][0]/a15
    $/dihedral:proteins[1][0][0]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a15 $/atom:proteins[1][0][0]/a16 $/atom:proteins[1][0][0]/a17 $/atom:proteins[1][0][0]/a18
    $/dihedral:proteins[1][0][0]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a16 $/atom:proteins[1][0][0]/a17 $/atom:proteins[1][0][0]/a18 $/atom:proteins[1][0][0]/a19
    $/dihedral:proteins[1][0][0]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a17 $/atom:proteins[1][0][0]/a18 $/atom:proteins[1][0][0]/a19 $/atom:proteins[1][0][0]/a20
    $/dihedral:proteins[1][0][0]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a18 $/atom:proteins[1][0][0]/a19 $/atom:proteins[1][0][0]/a20 $/atom:proteins[1][0][0]/a21
    $/dihedral:proteins[1][0][0]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a19 $/atom:proteins[1][0][0]/a20 $/atom:proteins[1][0][0]/a21 $/atom:proteins[1][0][0]/a22
    $/dihedral:proteins[1][0][0]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a20 $/atom:proteins[1][0][0]/a21 $/atom:proteins[1][0][0]/a22 $/atom:proteins[1][0][0]/a23
    $/dihedral:proteins[1][0][0]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a21 $/atom:proteins[1][0][0]/a22 $/atom:proteins[1][0][0]/a23 $/atom:proteins[1][0][0]/a24
    $/dihedral:proteins[1][0][0]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a22 $/atom:proteins[1][0][0]/a23 $/atom:proteins[1][0][0]/a24 $/atom:proteins[1][0][0]/a25
    $/dihedral:proteins[1][0][0]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a23 $/atom:proteins[1][0][0]/a24 $/atom:proteins[1][0][0]/a25 $/atom:proteins[1][0][0]/a26
    $/dihedral:proteins[1][0][0]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][0]/a24 $/atom:proteins[1][0][0]/a25 $/atom:proteins[1][0][0]/a26 $/atom:proteins[1][0][0]/a27
    $/dihedral:proteins[1][0][1]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a1 $/atom:proteins[1][0][1]/a2 $/atom:proteins[1][0][1]/a3 $/atom:proteins[1][0][1]/a4
    $/dihedral:proteins[1][0][1]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a2 $/atom:proteins[1][0][1]/a3 $/atom:proteins[1][0][1]/a4 $/atom:proteins[1][0][1]/a5
    $/dihedral:proteins[1][0][1]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a3 $/atom:proteins[1][0][1]/a4 $/atom:proteins[1][0][1]/a5 $/atom:proteins[1][0][1]/a6
    $/dihedral:proteins[1][0][1]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a4 $/atom:proteins[1][0][1]/a5 $/atom:proteins[1][0][1]/a6 $/atom:proteins[1][0][1]/a7
    $/dihedral:proteins[1][0][1]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a8 $/atom:proteins[1][0][1]/a9 $/atom:proteins[1][0][1]/a10 $/atom:proteins[1][0][1]/a11
    $/dihedral:proteins[1][0][1]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a9 $/atom:proteins[1][0][1]/a10 $/atom:proteins[1][0][1]/a11 $/atom:proteins[1][0][1]/a12
    $/dihedral:proteins[1][0][1]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a10 $/atom:proteins[1][0][1]/a11 $/atom:proteins[1][0][1]/a12 $/atom:proteins[1][0][1]/a13
    $/dihedral:proteins[1][0][1]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a11 $/atom:proteins[1][0][1]/a12 $/atom:proteins[1][0][1]/a13 $/atom:proteins[1][0][1]/a14
    $/dihedral:proteins[1][0][1]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][0][1]/a12 $/atom:proteins[1][0][1]/a13 $/atom:proteins[1][0][1]/a14 $/atom:proteins[1][0][1]/a15
    $/dihedral:proteins[1][0][1]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a15 $/atom:proteins[1][0][1]/a16 $/atom:proteins[1][0][1]/a17 $/atom:proteins[1][0][1]/a18
    $/dihedral:proteins[1][0][1]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a16 $/atom:proteins[1][0][1]/a17 $/atom:proteins[1][0][1]/a18 $/atom:proteins[1][0][1]/a19
    $/dihedral:proteins[1][0][1]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a17 $/atom:proteins[1][0][1]/a18 $/atom:proteins[1][0][1]/a19 $/atom:proteins[1][0][1]/a20
    $/dihedral:proteins[1][0][1]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a18 $/atom:proteins[1][0][1]/a19 $/atom:proteins[1][0][1]/a20 $/atom:proteins[1][0][1]/a21
    $/dihedral:proteins[1][0][1]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a19 $/atom:proteins[1][0][1]/a20 $/atom:proteins[1][0][1]/a21 $/atom:proteins[1][0][1]/a22
    $/dihedral:proteins[1][0][1]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a20 $/atom:proteins[1][0][1]/a21 $/atom:proteins[1][0][1]/a22 $/atom:proteins[1][0][1]/a23
    $/dihedral:proteins[1][0][1]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a21 $/atom:proteins[1][0][1]/a22 $/atom:proteins[1][0][1]/a23 $/atom:proteins[1][0][1]/a24
    $/dihedral:proteins[1][0][1]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a22 $/atom:proteins[1][0][1]/a23 $/atom:proteins[1][0][1]/a24 $/atom:proteins[1][0][1]/a25
    $/dihedral:proteins[1][0][1]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a23 $/atom:proteins[1][0][1]/a24 $/atom:proteins[1][0][1]/a25 $/atom:proteins[1][0][1]/a26
    $/dihedral:proteins[1][0][1]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][0][1]/a24 $/atom:proteins[1][0][1]/a25 $/atom:proteins[1][0][1]/a26 $/atom:proteins[1][0][1]/a27
    $/dihedral:proteins[1][1][0]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a1 $/atom:proteins[1][1][0]/a2 $/atom:proteins[1][1][0]/a3 $/atom:proteins[1][1][0]/a4
    $/dihedral:proteins[1][1][0]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a2 $/atom:proteins[1][1][0]/a3 $/atom:proteins[1][1][0]/a4 $/atom:proteins[1][1][0]/a5
    $/dihedral:proteins[1][1][0]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a3 $/atom:proteins[1][1][0]/a4 $/atom:proteins[1][1][0]/a5 $/atom:proteins[1][1][0]/a6
    $/dihedral:proteins[1][1][0]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a4 $/atom:proteins[1][1][0]/a5 $/atom:proteins[1][1][0]/a6 $/atom:proteins[1][1][0]/a7
    $/dihedral:proteins[1][1][0]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a8 $/atom:proteins[1][1][0]/a9 $/atom:proteins[1][1][0]/a10 $/atom:proteins[1][1][0]/a11
    $/dihedral:proteins[1][1][0]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a9 $/atom:proteins[1][1][0]/a10 $/atom:proteins[1][1][0]/a11 $/atom:proteins[1][1][0]/a12
    $/dihedral:proteins[1][1][0]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a10 $/atom:proteins[1][1][0]/a11 $/atom:proteins[1][1][0]/a12 $/atom:proteins[1][1][0]/a13
    $/dihedral:proteins[1][1][0]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a11 $/atom:proteins[1][1][0]/a12 $/atom:proteins[1][1][0]/a13 $/atom:proteins[1][1][0]/a14
    $/dihedral:proteins[1][1][0]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][0]/a12 $/atom:proteins[1][1][0]/a13 $/atom:proteins[1][1][0]/a14 $/atom:proteins[1][1][0]/a15
    $/dihedral:proteins[1][1][0]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a15 $/atom:proteins[1][1][0]/a16 $/atom:proteins[1][1][0]/a17 $/atom:proteins[1][1][0]/a18
    $/dihedral:proteins[1][1][0]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a16 $/atom:proteins[1][1][0]/a17 $/atom:proteins[1][1][0]/a18 $/atom:proteins[1][1][0]/a19
    $/dihedral:proteins[1][1][0]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a17 $/atom:proteins[1][1][0]/a18 $/atom:proteins[1][1][0]/a19 $/atom:proteins[1][1][0]/a20
    $/dihedral:proteins[1][1][0]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a18 $/atom:proteins[1][1][0]/a19 $/atom:proteins[1][1][0]/a20 $/atom:proteins[1][1][0]/a21
    $/dihedral:proteins[1][1][0]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a19 $/atom:proteins[1][1][0]/a20 $/atom:proteins[1][1][0]/a21 $/atom:proteins[1][1][0]/a22
    $/dihedral:proteins[1][1][0]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a20 $/atom:proteins[1][1][0]/a21 $/atom:proteins[1][1][0]/a22 $/atom:proteins[1][1][0]/a23
    $/dihedral:proteins[1][1][0]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a21 $/atom:proteins[1][1][0]/a22 $/atom:proteins[1][1][0]/a23 $/atom:proteins[1][1][0]/a24
    $/dihedral:proteins[1][1][0]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a22 $/atom:proteins[1][1][0]/a23 $/atom:proteins[1][1][0]/a24 $/atom:proteins[1][1][0]/a25
    $/dihedral:proteins[1][1][0]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a23 $/atom:proteins[1][1][0]/a24 $/atom:proteins[1][1][0]/a25 $/atom:proteins[1][1][0]/a26
    $/dihedral:proteins[1][1][0]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][0]/a24 $/atom:proteins[1][1][0]/a25 $/atom:proteins[1][1][0]/a26 $/atom:proteins[1][1][0]/a27
    $/dihedral:proteins[1][1][1]/d1  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a1 $/atom:proteins[1][1][1]/a2 $/atom:proteins[1][1][1]/a3 $/atom:proteins[1][1][1]/a4
    $/dihedral:proteins[1][1][1]/d2  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a2 $/atom:proteins[1][1][1]/a3 $/atom:proteins[1][1][1]/a4 $/atom:proteins[1][1][1]/a5
    $/dihedral:proteins[1][1][1]/d3  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a3 $/atom:proteins[1][1][1]/a4 $/atom:proteins[1][1][1]/a5 $/atom:proteins[1][1][1]/a6
    $/dihedral:proteins[1][1][1]/d4  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a4 $/atom:proteins[1][1][1]/a5 $/atom:proteins[1][1][1]/a6 $/atom:proteins[1][1][1]/a7
    $/dihedral:proteins[1][1][1]/d8  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a8 $/atom:proteins[1][1][1]/a9 $/atom:proteins[1][1][1]/a10 $/atom:proteins[1][1][1]/a11
    $/dihedral:proteins[1][1][1]/d9  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a9 $/atom:proteins[1][1][1]/a10 $/atom:proteins[1][1][1]/a11 $/atom:proteins[1][1][1]/a12
    $/dihedral:proteins[1][1][1]/d10  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a10 $/atom:proteins[1][1][1]/a11 $/atom:proteins[1][1][1]/a12 $/atom:proteins[1][1][1]/a13
    $/dihedral:proteins[1][1][1]/d11  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a11 $/atom:proteins[1][1][1]/a12 $/atom:proteins[1][1][1]/a13 $/atom:proteins[1][1][1]/a14
    $/dihedral:proteins[1][1][1]/d12  @/dihedral:1beadFrustrated/beta  $/atom:proteins[1][1][1]/a12 $/atom:proteins[1][1][1]/a13 $/atom:proteins[1][1][1]/a14 $/atom:proteins[1][1][1]/a15
    $/dihedral:proteins[1][1][1]/d15  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a15 $/atom:proteins[1][1][1]/a16 $/atom:proteins[1][1][1]/a17 $/atom:proteins[1][1][1]/a18
    $/dihedral:proteins[1][1][1]/d16  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a16 $/atom:proteins[1][1][1]/a17 $/atom:proteins[1][1][1]/a18 $/atom:proteins[1][1][1]/a19
    $/dihedral:proteins[1][1][1]/d17  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a17 $/atom:proteins[1][1][1]/a18 $/atom:proteins[1][1][1]/a19 $/atom:proteins[1][1][1]/a20
    $/dihedral:proteins[1][1][1]/d18  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a18 $/atom:proteins[1][1][1]/a19 $/atom:proteins[1][1][1]/a20 $/atom:proteins[1][1][1]/a21
    $/dihedral:proteins[1][1][1]/d19  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a19 $/atom:proteins[1][1][1]/a20 $/atom:proteins[1][1][1]/a21 $/atom:proteins[1][1][1]/a22
    $/dihedral:proteins[1][1][1]/d20  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a20 $/atom:proteins[1][1][1]/a21 $/atom:proteins[1][1][1]/a22 $/atom:proteins[1][1][1]/a23
    $/dihedral:proteins[1][1][1]/d21  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a21 $/atom:proteins[1][1][1]/a22 $/atom:proteins[1][1][1]/a23 $/atom:proteins[1][1][1]/a24
    $/dihedral:proteins[1][1][1]/d22  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a22 $/atom:proteins[1][1][1]/a23 $/atom:proteins[1][1][1]/a24 $/atom:proteins[1][1][1]/a25
    $/dihedral:proteins[1][1][1]/d23  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a23 $/atom:proteins[1][1][1]/a24 $/atom:proteins[1][1][1]/a25 $/atom:proteins[1][1][1]/a26
    $/dihedral:proteins[1][1][1]/d24  @/dihedral:1beadFrustrated/alpha  $/atom:proteins[1][1][1]/a24 $/atom:proteins[1][1][1]/a25 $/atom:proteins[1][1][1]/a26 $/atom:proteins[1][1][1]/a27
