    pair_coeff @/atom:1beadFrustrated/B @/atom:1beadFrustrated/B lj/charmm/coul/charmm/inter 1.0          1.0 1 -1
    pair_coeff @/atom:1beadFrustrated/B @/atom:1beadFrustrated/L lj/charmm/coul/charmm/inter 0.5833333333 1.0 1 0
    pair_coeff @/atom:1beadFrustrated/B @/atom:1beadFrustrated/N lj/charmm/coul/charmm/inter 0.6666666667 1.0 1 0
    pair_coeff @/atom:1beadFrustrated/L @/atom:1beadFrustrated/L lj/charmm/coul/charmm/inter 0.1666666667 1.0 1 1
    pair_coeff @/atom:1beadFrustrated/L @/atom:1beadFrustrated/N lj/charmm/coul/charmm/inter 0.25         1.0 1 0
    pair_coeff @/atom:1beadFrustrated/N @/atom:1beadFrustrated/N lj/charmm/coul/charmm/inter 0.3333333333 1.0 1 0
    bond_coeff     @/bond:1beadFrustrated/backbone   harmonic    100.0  1.0
    angle_coeff    @/angle:1beadFrustrated/backbone  harmonic   13.3333333333  105.0
    #                              style           file                 keyword
    dihedral_coeff @/dihedral:1beadFrustrated/alpha table  table_dihedral_frustrated.dat FRUSTRATED_ALPHA
    dihedral_coeff @/dihedral:1beadFrustrated/beta  table  table_dihedral_frustrated.dat FRUSTRATED_BETA
    # No need to specify dihedral interactions in the turn regions. (none exist)
    # Optional: define the atoms in the "proteins" group
    group proteins type @/atom:1beadFrustrated/B
    group proteins type @/atom:1beadFrustrated/L
    group proteins type @/atom:1beadFrustrated/N
    # If for some reason there are multiple chaperones present, 
    # I assume that they interact repulsively (hence, L=0)

    #            i     j        pairStyle                   eps sig K L

    pair_coeff @/atom:Minichaperone/C @/atom:Minichaperone/C  lj/charmm/coul/charmm/inter 1.0 3.0 1 0

    # Optional: define the atoms in the "chaperonins" group:
    # (Defining a group for the chaperone makes it easy to immobilize it later.)

    group chaperones type @/atom:Minichaperone/C
  pair_coeff @/atom:Minichaperone/C @/atom:1beadFrustrated/B  table  table_minichaperone_h=0.6.dat CH_H0.6
  pair_coeff @/atom:Minichaperone/C @/atom:1beadFrustrated/L  table  table_minichaperone_h=0.dat   CH_H0
  pair_coeff @/atom:Minichaperone/C @/atom:1beadFrustrated/N  table  table_minichaperone_h=0.dat   CH_H0
