---
Language:                             Cpp
BasedOnStyle:                         LLVM
AccessModifierOffset:                 -1
AlignConsecutiveAssignments:          false
AlignConsecutiveDeclarations:         false
AlignEscapedNewlines:                 Left
AlignOperands:                        false
AllowShortBlocksOnASingleLine:        true
AllowShortFunctionsOnASingleLine:     Inline
AllowShortIfStatementsOnASingleLine:  WithoutElse
AllowShortLambdasOnASingleLine:       None
AllowShortLoopsOnASingleLine:         true
BraceWrapping:
  AfterFunction:                      true
BreakBeforeBraces:                    Custom
BreakConstructorInitializers:         AfterColon
BreakInheritanceList:                 AfterColon
ColumnLimit:                          100
IndentCaseLabels:                     true
IndentWidth:                          2
NamespaceIndentation:                 Inner
ObjCBlockIndentWidth:                 2
PenaltyBreakAssignment:               4
ReflowComments:                       false
SpaceAfterCStyleCast:                 true
SpacesBeforeTrailingComments:         4
SpacesInContainerLiterals:            false
Standard:                             Cpp11
TabWidth:                             2
UseTab:                               Never
...
