/Makefile.package
/Makefile.package.settings
/MAKE/MINE
/Make.py.last
/lmp_*

/style_*.h
/packages_*.h
/lmpinstalledpkgs.h
/lmpgitversion.h

/*_gpu.h
/*_gpu.cpp
/*_intel.h
/*_intel.cpp
/*_kokkos.h
/*_kokkos_impl.h
/*_kokkos.cpp
/*_omp.h
/*_omp.cpp
/*_opt.h
/*_opt.cpp
/*_tally.h
/*_tally.cpp
/*_rx.h
/*_rx.cpp
/*_ssa.h
/*_ssa.cpp

/kim_query.cpp
/kim_query.h
/pair_kim.cpp
/pair_kim.h

/kokkos.cpp
/kokkos.h
/kokkos_type.h
/kokkos_few.h
/kokkos_base.h

/manifold*.cpp
/manifold*.h
/fix_*manifold*.cpp
/fix_*manifold*.h

/meam*.h
/meam*.cpp
/pair_meamc.cpp
/pair_meamc.h

/ptm_*.cpp
/ptm_*.h
/compute_ptm.cpp
/compute_ptm.h

/fix_qeq*.cpp
/fix_qeq*.h

/compute_test_nbl.cpp
/compute_test_nbl.h
/pair_multi_lucy.cpp
/pair_multi_lucy.h

/colvarproxy_lammps.cpp
/colvarproxy_lammps.h
/colvarproxy_lammps_version.h
/fix_colvars.cpp
/fix_colvars.h
/fix_plumed.cpp
/fix_plumed.h
/dump_molfile.cpp
/dump_molfile.h
/molfile_interface.cpp
/molfile_interface.h
/type_detector.h

/intel_buffers.cpp
/intel_buffers.h
/intel_intrinsics.h
/intel_intrinsics_airebo.h
/intel_preprocess.h
/intel_simd.h

/atom_vec_edpd.cpp
/atom_vec_edpd.h
/atom_vec_mdpd.cpp
/atom_vec_mdpd.h
/atom_vec_tdpd.cpp
/atom_vec_tdpd.h
/compute_edpd_temp_atom.cpp
/compute_edpd_temp_atom.h
/compute_tdpd_cc_atom.cpp
/compute_tdpd_cc_atom.h
/fix_edpd_source.cpp
/fix_edpd_source.h
/fix_mvv_dpd.cpp
/fix_mvv_dpd.h
/fix_mvv_edpd.cpp
/fix_mvv_edpd.h
/fix_mvv_tdpd.cpp
/fix_mvv_tdpd.h
/fix_tdpd_source.cpp
/fix_tdpd_source.h
/pair_edpd.cpp
/pair_edpd.h
/pair_mdpd.cpp
/pair_mdpd.h
/pair_mdpd_rhosum.cpp
/pair_mdpd_rhosum.h
/pair_tdpd.cpp
/pair_tdpd.h

/compute_sna_atom.cpp
/compute_sna_atom.h
/compute_snad_atom.cpp
/compute_snad_atom.h
/compute_snav_atom.cpp
/compute_snav_atom.h
/openmp_snap.h
/pair_snap.cpp
/pair_snap.h
/sna.cpp
/sna.h

/uef_*.cpp
/uef_*.h
/compute_*uef.cpp
/compute_*uef.h
/dump_*uef.cpp
/dump_*uef.h
/fix_*uef.cpp
/fix_*uef.h

/atom_vec_wavepacket.cpp
/atom_vec_wavepacket.h
/fix_nve_awpmd.cpp
/fix_nve_awpmd.h
/pair_awpmd_cut.cpp
/pair_awpmd_cut.h

/dihedral_charmmfsw.cpp
/dihedral_charmmfsw.h
/pair_lj_charmmfsw_coul_charmmfsh.cpp
/pair_lj_charmmfsw_coul_charmmfsh.h
/pair_lj_charmmfsw_coul_long.cpp
/pair_lj_charmmfsw_coul_long.h

/atom_vec_spin.cpp
/atom_vec_spin.h
/compute_spin.cpp
/compute_spin.h
/fix_langevin_spin.cpp
/fix_langevin_spin.h
/fix_neb_spin.cpp
/fix_neb_spin.h
/fix_nve_spin.cpp
/fix_nve_spin.h
/fix_precession_spin.cpp
/fix_precession_spin.h
/fix_setforce_spin.cpp
/fix_setforce_spin.h
/min_spin.cpp
/min_spin.h
/min_spin_oso_cg.cpp
/min_spin_oso_cg.h
/min_spin_oso_lbfgs.cpp
/min_spin_oso_lbfgs.h
/neb_spin.cpp
/neb_spin.h
/pair_spin.cpp
/pair_spin.h
/pair_spin_dmi.cpp
/pair_spin_dmi.h
/pair_spin_dipole_cut.cpp
/pair_spin_dipole_cut.h
/pair_spin_dipole_long.cpp
/pair_spin_dipole_long.h
/pair_spin_exchange.cpp
/pair_spin_exchange.h
/pair_spin_magelec.cpp
/pair_spin_magelec.h
/pair_spin_neel.cpp
/pair_spin_neel.h

/angle_cg_cmm.cpp
/angle_cg_cmm.h
/angle_charmm.cpp
/angle_charmm.h
/angle_class2.cpp
/angle_class2.h
/angle_class2_p6.cpp
/angle_class2_p6.h
/angle_cosine_buck6d.cpp
/angle_cosine_buck6d.h
/angle_cosine.cpp
/angle_cosine.h
/angle_cosine_delta.cpp
/angle_cosine_delta.h
/angle_cosine_periodic.cpp
/angle_cosine_periodic.h
/angle_cosine_shift.cpp
/angle_cosine_shift.h
/angle_cosine_shift_exp.cpp
/angle_cosine_shift_exp.h
/angle_cosine_squared.cpp
/angle_cosine_squared.h
/angle_cross.cpp
/angle_cross.h
/angle_dipole.cpp
/angle_dipole.h
/angle_fourier.cpp
/angle_fourier.h
/angle_fourier_simple.cpp
/angle_fourier_simple.h
/angle_harmonic.cpp
/angle_harmonic.h
/angle_mm3.cpp
/angle_mm3.h
/angle_quartic.cpp
/angle_quartic.h
/angle_sdk.cpp
/angle_sdk.h
/angle_table.cpp
/angle_table.h
/atom_vec_angle.cpp
/atom_vec_angle.h
/atom_vec_bond.cpp
/atom_vec_bond.h
/atom_vec_colloid.cpp
/atom_vec_colloid.h
/atom_vec_dipole.cpp
/atom_vec_dipole.h
/atom_vec_dpd.cpp
/atom_vec_dpd.h
/atom_vec_electron.cpp
/atom_vec_electron.h
/atom_vec_ellipsoid.cpp
/atom_vec_ellipsoid.h
/atom_vec_full.cpp
/atom_vec_full.h
/atom_vec_full_hars.cpp
/atom_vec_full_hars.h
/atom_vec_granular.cpp
/atom_vec_granular.h
/atom_vec_meso.cpp
/atom_vec_meso.h
/atom_vec_molecular.cpp
/atom_vec_molecular.h
/atom_vec_peri.cpp
/atom_vec_peri.h
/atom_vec_template.cpp
/atom_vec_template.h
/body_nparticle.cpp
/body_nparticle.h
/body_rounded_polygon.cpp
/body_rounded_polygon.h
/body_rounded_polyhedron.cpp
/body_rounded_polyhedron.h
/bond_class2.cpp
/bond_class2.h
/bond_fene.cpp
/bond_fene.h
/bond_fene_expand.cpp
/bond_fene_expand.h
/bond_gromos.cpp
/bond_gromos.h
/bond_harmonic.cpp
/bond_harmonic.h
/bond_harmonic_shift.cpp
/bond_harmonic_shift.h
/bond_harmonic_shift_cut.cpp
/bond_harmonic_shift_cut.h
/bond_mm3.cpp
/bond_mm3.h
/bond_morse.cpp
/bond_morse.h
/bond_nonlinear.cpp
/bond_nonlinear.h
/bond_oxdna_fene.cpp
/bond_oxdna_fene.h
/bond_oxdna2_fene.cpp
/bond_oxdna2_fene.h
/bond_quartic.cpp
/bond_quartic.h
/bond_table.cpp
/bond_table.h
/cg_cmm_parms.cpp
/cg_cmm_parms.h
/commgrid.cpp
/commgrid.h
/compute_ackland_atom.cpp
/compute_ackland_atom.h
/compute_basal_atom.cpp
/compute_basal_atom.h
/compute_body_local.cpp
/compute_body_local.h
/compute_cnp_atom.cpp
/compute_cnp_atom.h
/compute_damage_atom.cpp
/compute_damage_atom.h
/compute_dilatation_atom.cpp
/compute_dilatation_atom.h
/compute_dpd.cpp
/compute_dpd.h
/compute_dpd_atom.cpp
/compute_dpd_atom.h
/compute_entropy_atom.cpp
/compute_entropy_atom.h
/compute_erotate_asphere.cpp
/compute_erotate_asphere.h
/compute_erotate_rigid.cpp
/compute_erotate_rigid.h
/compute_event_displace.cpp
/compute_event_displace.h
/compute_fep.cpp
/compute_fep.h
/compute_force_tally.cpp
/compute_force_tally.h
/compute_heat_flux_tally.cpp
/compute_heat_flux_tally.h
/compute_ke_atom_eff.cpp
/compute_ke_atom_eff.h
/compute_ke_eff.cpp
/compute_ke_eff.h
/compute_ke_rigid.cpp
/compute_ke_rigid.h
/compute_meso_e_atom.cpp
/compute_meso_e_atom.h
/compute_meso_rho_atom.cpp
/compute_meso_rho_atom.h
/compute_meso_t_atom.cpp
/compute_meso_t_atom.h
/compute_msd_nongauss.cpp
/compute_msd_nongauss.h
/compute_pe_tally.cpp
/compute_pe_tally.h
/compute_plasticity_atom.cpp
/compute_plasticity_atom.h
/compute_pressure_bocs.cpp
/compute_pressure_bocs.h
/compute_pressure_cylinder.cpp
/compute_pressure_cylinder.h
/compute_pressure_grem.cpp
/compute_pressure_grem.h
/compute_ptm_atom.cpp
/compute_ptm_atom.h
/compute_rigid_local.cpp
/compute_rigid_local.h
/compute_smd_triangle_vertices.cpp
/compute_smd_triangle_vertices.h
/compute_spec_atom.cpp
/compute_spec_atom.h
/compute_stress_mop.cpp
/compute_stress_mop.h
/compute_stress_mop_profile.cpp
/compute_stress_mop_profile.h
/compute_stress_tally.cpp
/compute_stress_tally.h
/compute_temp_asphere.cpp
/compute_temp_asphere.h
/compute_temp_body.cpp
/compute_temp_body.h
/compute_temp_deform_eff.cpp
/compute_temp_deform_eff.h
/compute_temp_eff.cpp
/compute_temp_eff.h
/compute_temp_region_eff.cpp
/compute_temp_region_eff.h
/compute_temp_rotate.cpp
/compute_temp_rotate.h
/compute_ti.cpp
/compute_ti.h
/compute_voronoi_atom.cpp
/compute_voronoi_atom.h
/dihedral_charmm.cpp
/dihedral_charmm.h
/dihedral_class2.cpp
/dihedral_class2.h
/dihedral_cosine_shift_exp.cpp
/dihedral_cosine_shift_exp.h
/dihedral_fourier.cpp
/dihedral_fourier.h
/dihedral_harmonic.cpp
/dihedral_harmonic.h
/dihedral_helix.cpp
/dihedral_helix.h
/dihedral_hybrid.cpp
/dihedral_hybrid.h
/dihedral_multi_harmonic.cpp
/dihedral_multi_harmonic.h
/dihedral_nharmonic.cpp
/dihedral_nharmonic.h
/dihedral_opls.cpp
/dihedral_opls.h
/dihedral_quadratic.cpp
/dihedral_quadratic.h
/dihedral_spherical.cpp
/dihedral_spherical.h
/dihedral_table.cpp
/dihedral_table.h
/dihedral_table_cut.cpp
/dihedral_table_cut.h
/dump_atom_adios.cpp
/dump_atom_adios.h
/dump_atom_gz.cpp
/dump_atom_gz.h
/dump_xyz_gz.cpp
/dump_xyz_gz.h
/dump_atom_mpiio.cpp
/dump_atom_mpiio.h
/dump_cfg_gz.cpp
/dump_cfg_gz.h
/dump_cfg_mpiio.cpp
/dump_cfg_mpiio.h
/dump_custom_adios.cpp
/dump_custom_adios.h
/dump_custom_gz.cpp
/dump_custom_gz.h
/dump_custom_mpiio.cpp
/dump_custom_mpiio.h
/dump_h5md.cpp
/dump_h5md.h
/dump_netcdf.cpp
/dump_netcdf.h
/dump_netcdf_mpiio.cpp
/dump_netcdf_mpiio.h
/dump_vtk.cpp
/dump_vtk.h
/dump_xtc.cpp
/dump_xtc.h
/dump_xyz_mpiio.cpp
/dump_xyz_mpiio.h
/dynamical_matrix.cpp
/dynamical_matrix.h
/ewald.cpp
/ewald.h
/ewald_cg.cpp
/ewald_cg.h
/ewald_dipole.cpp
/ewald_dipole.h
/ewald_dipole_spin.cpp
/ewald_dipole_spin.h
/ewald_disp.cpp
/ewald_disp.h
/ewald_n.cpp
/ewald_n.h
/fft3d.cpp
/fft3d.h
/fft3d_wrap.cpp
/fft3d_wrap.h
/fix_adapt_fep.cpp
/fix_adapt_fep.h
/fix_addtorque.cpp
/fix_addtorque.h
/fix_append_atoms.cpp
/fix_append_atoms.h
/fix_atc.cpp
/fix_atc.h
/fix_ave_correlate_long.cpp
/fix_ave_correlate_long.h
/fix_bocs.cpp
/fix_bocs.h
/fix_bond_break.cpp
/fix_bond_break.h
/fix_bond_create.cpp
/fix_bond_create.h
/fix_bond_react.cpp
/fix_bond_react.h
/fix_bond_swap.cpp
/fix_bond_swap.h
/fix_client_md.cpp
/fix_client_md.h
/fix_cmap.cpp
/fix_cmap.h
/fix_deposit.cpp
/fix_deposit.h
/fix_dpd_energy.cpp
/fix_dpd_energy.h
/fix_efield.cpp
/fix_efield.h
/fix_electron_stopping.cpp
/fix_electron_stopping.h
/fix_eos_cv.cpp
/fix_eos_cv.h
/fix_eos_table.cpp
/fix_eos_table.h
/fix_evaporate.cpp
/fix_evaporate.h
/fix_ffl.cpp
/fix_ffl.h
/fix_filter_corotate.cpp
/fix_filter_corotate.h
/fix_viscosity.cpp
/fix_viscosity.h
/fix_ehex.cpp
/fix_ehex.h
/fix_event.cpp
/fix_event.h
/fix_event_hyper.cpp
/fix_event_hyper.h
/fix_event_prd.cpp
/fix_event_prd.h
/fix_event_tad.cpp
/fix_event_tad.h
/fix_flow_gauss.cpp
/fix_flow_gauss.h
/fix_freeze.cpp
/fix_freeze.h
/fix_gcmc.cpp
/fix_gcmc.h
/fix_gld.cpp
/fix_gld.h
/fix_gle.cpp
/fix_gle.h
/fix_gpu.cpp
/fix_gpu.h
/fix_grem.cpp
/fix_grem.h
/fix_hyper.cpp
/fix_hyper.h
/fix_hyper_global.cpp
/fix_hyper_global.h
/fix_hyper_local.cpp
/fix_hyper_local.h
/fix_imd.cpp
/fix_imd.h
/fix_ipi.cpp
/fix_ipi.h
/fix_lambdah_calc.cpp
/fix_lambdah_calc.h
/fix_langevin_eff.cpp
/fix_langevin_eff.h
/fix_latte.cpp
/fix_latte.h
/fix_lb_fluid.cpp
/fix_lb_fluid.h
/fix_lb_momentum.cpp
/fix_lb_momentum.h
/fix_lb_pc.cpp
/fix_lb_pc.h
/fix_lb_rigid_pc_sphere.cpp
/fix_lb_rigid_pc_sphere.h
/fix_lb_viscous.cpp
/fix_lb_viscous.h
/fix_load_report.cpp
/fix_load_report.h
/fix_meso.cpp
/fix_meso.h
/fix_meso_move.cpp
/fix_meso_move.h
/fix_meso_stationary.cpp
/fix_meso_stationary.h
/fix_mscg.cpp
/fix_mscg.h
/fix_msst.cpp
/fix_msst.h
/fix_neb.cpp
/fix_neb.h
/fix_nh_asphere.cpp
/fix_nh_asphere.h
/fix_nph_asphere.cpp
/fix_nph_asphere.h
/fix_npt_asphere.cpp
/fix_npt_asphere.h
/fix_nve_asphere.cpp
/fix_nve_asphere.h
/fix_nve_asphere_noforce.cpp
/fix_nve_asphere_noforce.h
/fix_nve_dot.cpp
/fix_nve_dot.h
/fix_nve_dotc_langevin.cpp
/fix_nve_dotc_langevin.h
/fix_nh_body.cpp
/fix_nh_body.h
/fix_nph_body.cpp
/fix_nph_body.h
/fix_npt_body.cpp
/fix_npt_body.h
/fix_nvk.cpp
/fix_nvk.h
/fix_nvt_body.cpp
/fix_nvt_body.h
/fix_nve_body.cpp
/fix_nve_body.h
/fix_nvt_asphere.cpp
/fix_nvt_asphere.h
/fix_nh_eff.cpp
/fix_nh_eff.h
/fix_nph_eff.cpp
/fix_nph_eff.h
/fix_nphug.cpp
/fix_nphug.h
/fix_npt_eff.cpp
/fix_npt_eff.h
/fix_nve_eff.cpp
/fix_nve_eff.h
/fix_nve_line.cpp
/fix_nve_line.h
/fix_nvt_eff.cpp
/fix_nvt_eff.h
/fix_nvt_sllod_eff.cpp
/fix_nvt_sllod_eff.h
/fix_nve_tri.cpp
/fix_nve_tri.h
/fix_oneway.cpp
/fix_oneway.h
/fix_orient_bcc.cpp
/fix_orient_bcc.h
/fix_orient_fcc.cpp
/fix_orient_fcc.h
/fix_peri_neigh.cpp
/fix_peri_neigh.h
/fix_phonon.cpp
/fix_phonon.h
/fix_poems.cpp
/fix_poems.h
/fix_pour.cpp
/fix_pour.h
/fix_qeq_comb.cpp
/fix_qeq_comb.h
/fix_qeq_reax.cpp
/fix_qeq_fire.cpp
/fix_qeq_fire.h
/fix_qeq_reax.h
/fix_qmmm.cpp
/fix_qmmm.h
/fix_reaxc.cpp
/fix_reaxc.h
/fix_reaxc_bonds.cpp
/fix_reaxc_bonds.h
/fix_reaxc_species.cpp
/fix_reaxc_species.h
/fix_rhok.cpp
/fix_rhok.h
/fix_rigid.cpp
/fix_rigid.h
/fix_rigid_meso.cpp
/fix_rigid_meso.h
/fix_rigid_nh.cpp
/fix_rigid_nh.h
/fix_rigid_nph.cpp
/fix_rigid_nph.h
/fix_rigid_npt.cpp
/fix_rigid_npt.h
/fix_rigid_nve.cpp
/fix_rigid_nve.h
/fix_rigid_nvt.cpp
/fix_rigid_nvt.h
/fix_rigid_nh_small.cpp
/fix_rigid_nh_small.h
/fix_rigid_nph_small.cpp
/fix_rigid_nph_small.h
/fix_rigid_npt_small.cpp
/fix_rigid_npt_small.h
/fix_rigid_nve_small.cpp
/fix_rigid_nve_small.h
/fix_rigid_nvt_small.cpp
/fix_rigid_nvt_small.h
/fix_rigid_small.cpp
/fix_rigid_small.h
/fix_shake.cpp
/fix_shake.h
/fix_shardlow.cpp
/fix_shardlow.h
/random_external_state.h
/fix_smd.cpp
/fix_smd.h
/fix_species.cpp
/fix_species.h
/fix_spring_pull.cpp
/fix_spring_pull.h
/fix_srd.cpp
/fix_srd.h
/fix_temp_rescale_eff.cpp
/fix_temp_rescale_eff.h
/fix_thermal_conductivity.cpp
/fix_thermal_conductivity.h
/fix_ti_rs.cpp
/fix_ti_rs.h
/fix_ti_spring.cpp
/fix_ti_spring.h
/fix_ttm.cpp
/fix_ttm.h
/fix_tune_kspace.cpp
/fix_tune_kspace.h
/fix_wall_body_polygon.cpp
/fix_wall_body_polygon.h
/fix_wall_body_polyhedron.cpp
/fix_wall_body_polyhedron.h
/fix_wall_colloid.cpp
/fix_wall_colloid.h
/fix_wall_ees.cpp
/fix_wall_ees.h
/fix_wall_region_ees.cpp
/fix_wall_region_ees.h
/fix_wall_gran.cpp
/fix_wall_gran.h
/fix_wall_gran_region.cpp
/fix_wall_gran_region.h
/fix_wall_piston.cpp
/fix_wall_piston.h
/fix_wall_srd.cpp
/fix_wall_srd.h
/gpu_extra.h
/gridcomm.cpp
/gridcomm.h
/group_ndx.cpp
/group_ndx.h
/ndx_group.cpp
/ndx_group.h
/hyper.cpp
/hyper.h
/improper_class2.cpp
/improper_class2.h
/improper_cossq.cpp
/improper_cossq.h
/improper_cvff.cpp
/improper_cvff.h
/improper_distance.cpp
/improper_distance.h
/improper_distharm.cpp
/improper_distharm.h
/improper_sqdistharm.cpp
/improper_sqdistharm.h
/improper_fourier.cpp
/improper_fourier.h
/improper_harmonic.cpp
/improper_harmonic.h
/improper_hybrid.cpp
/improper_hybrid.h
/improper_inversion_harmonic.cpp
/improper_inversion_harmonic.h
/improper_ring.cpp
/improper_ring.h
/improper_umbrella.cpp
/improper_umbrella.h
/kissfft.h
/lj_sdk_common.h
/math_complex.h
/math_vector.h
/message.cpp
/message.h
/mgpt_*.cpp
/mgpt_*.h
/msm.cpp
/msm.h
/msm_cg.cpp
/msm_cg.h
/neb.cpp
/neb.h

/pair_adp.cpp
/pair_adp.h
/pair_agni.cpp
/pair_agni.h
/pair_airebo.cpp
/pair_airebo.h
/pair_airebo_morse.cpp
/pair_airebo_morse.h
/pair_atm.cpp
/pair_atm.h
/pair_body_nparticle.cpp
/pair_body_nparticle.h
/pair_body_rounded_polygon.cpp
/pair_body_rounded_polygon.h
/pair_body_rounded_polyhedron.cpp
/pair_body_rounded_polyhedron.h
/pair_bop.cpp
/pair_bop.h
/pair_born_coul_long.cpp
/pair_born_coul_long.h
/pair_born_coul_msm.cpp
/pair_born_coul_msm.h
/pair_brownian.cpp
/pair_brownian.h
/pair_brownian_poly.cpp
/pair_brownian_poly.h
/pair_buck_coul_long.cpp
/pair_buck_coul_long.h
/pair_buck_coul_msm.cpp
/pair_buck_coul_msm.h
/pair_buck_coul.cpp
/pair_buck_coul.h
/pair_buck_long_coul_long.cpp
/pair_buck_long_coul_long.h
/pair_buck6d_coul_gauss_dsf.cpp
/pair_buck6d_coul_gauss_dsf.h
/pair_buck6d_coul_gauss_long.cpp
/pair_buck6d_coul_gauss_long.h
/pair_cdeam.cpp
/pair_cdeam.h
/pair_cg_cmm.cpp
/pair_cg_cmm.h
/pair_cg_cmm_coul_cut.cpp
/pair_cg_cmm_coul_cut.h
/pair_cg_cmm_coul_long.cpp
/pair_cg_cmm_coul_long.h
/pair_cmm_common.cpp
/pair_cmm_common.h
/pair_cg_cmm_coul_msm.cpp
/pair_cg_cmm_coul_msm.h
/pair_comb.cpp
/pair_comb.h
/pair_comb3.cpp
/pair_comb3.h
/pair_colloid.cpp
/pair_colloid.h
/pair_coul_diel.cpp
/pair_coul_diel.h
/pair_coul_long.cpp
/pair_coul_long.h
/pair_coul_msm.cpp
/pair_coul_msm.h
/pair_coul_shield.cpp
/pair_coul_shield.h
/pair_dipole_cut.cpp
/pair_dipole_cut.h
/pair_dipole_sf.cpp
/pair_dipole_sf.h
/pair_dpd_mt.cpp
/pair_dpd_mt.h
/pair_dsmc.cpp
/pair_dsmc.h
/pair_e3b.cpp
/pair_e3b.h
/pair_drip.cpp
/pair_drip.h
/pair_eam.cpp
/pair_eam.h
/pair_eam_alloy.cpp
/pair_eam_alloy.h
/pair_eam_cd.cpp
/pair_eam_cd.h
/pair_eam_fs.cpp
/pair_eam_fs.h
/fix_electron_stopping.cpp
/fix_electron_stopping.h
/pair_lebedeva_z.cpp
/pair_lebedeva_z.h
/pair_lj_expand_coul_long.cpp
/pair_lj_expand_coul_long.h
/pair_edip.cpp
/pair_edip.h
/pair_edip_multi.cpp
/pair_edip_multi.h
/pair_eff_cut.cpp
/pair_eff_cut.h
/pair_eff_inline.h
/pair_eim.cpp
/pair_eim.h
/pair_gauss_cut.cpp
/pair_gauss_cut.h
/pair_gayberne.cpp
/pair_gayberne.h
/pair_granular.cpp
/pair_granular.h
/pair_gran_easy.cpp
/pair_gran_easy.h
/pair_gran_hertz_history.cpp
/pair_gran_hertz_history.h
/pair_gran_hooke.cpp
/pair_gran_hooke.h
/pair_gran_hooke_history.cpp
/pair_gran_hooke_history.h
/pair_gw.cpp
/pair_gw.h
/pair_gw_zbl.cpp
/pair_gw_zbl.h
/pair_hbond_dreiding_lj.cpp
/pair_hbond_dreiding_lj.h
/pair_hbond_dreiding_morse.cpp
/pair_hbond_dreiding_morse.h
/pair_ilp_graphene_hbn.cpp
/pair_ilp_graphene_hbn.h
/pair_kolmogorov_crespi_full.cpp
/pair_kolmogorov_crespi_full.h
/pair_kolmogorov_crespi_z.cpp
/pair_kolmogorov_crespi_z.h
/pair_lcbop.cpp
/pair_lcbop.h
/pair_lebedeva_z.cpp
/pair_lebedeva_z.h
/pair_line_lj.cpp
/pair_line_lj.h
/pair_list.cpp
/pair_list.h
/pair_lj_charmm_coul_charmm.cpp
/pair_lj_charmm_coul_charmm.h
/pair_lj_charmm_coul_charmm_implicit.cpp
/pair_lj_charmm_coul_charmm_implicit.h
/pair_lj_charmm_coul_long.cpp
/pair_lj_charmm_coul_long.h
/pair_lj_charmm_coul_long_soft.cpp
/pair_lj_charmm_coul_long_soft.h
/pair_lj_charmm_coul_msm.cpp
/pair_lj_charmm_coul_msm.h
/pair_lj_class2.cpp
/pair_lj_class2.h
/pair_lj_class2_coul_cut.cpp
/pair_lj_class2_coul_cut.h
/pair_lj_class2_coul_cut_soft.cpp
/pair_lj_class2_coul_cut_soft.h
/pair_lj_class2_coul_long.cpp
/pair_lj_class2_coul_long.h
/pair_lj_class2_coul_long_soft.cpp
/pair_lj_class2_coul_long_soft.h
/pair_lj_class2_soft.cpp
/pair_lj_class2_soft.h
/pair_lj_coul.cpp
/pair_lj_coul.h
/pair_coul_cut_soft.cpp
/pair_coul_cut_soft.h
/pair_coul_long_soft.cpp
/pair_coul_long_soft.h
/pair_lj_cut_coul_cut_soft.cpp
/pair_lj_cut_coul_cut_soft.h
/pair_lj_cut_tip4p_cut.cpp
/pair_lj_cut_tip4p_cut.h
/pair_lj_cut_coul_long.cpp
/pair_lj_cut_coul_long.h
/pair_lj_cut_coul_long_soft.cpp
/pair_lj_cut_coul_long_soft.h
/pair_lj_cut_coul_msm.cpp
/pair_lj_cut_coul_msm.h
/pair_lj_cut_dipole_cut.cpp
/pair_lj_cut_dipole_cut.h
/pair_lj_cut_dipole_long.cpp
/pair_lj_cut_dipole_long.h
/pair_lj_cut_*hars_*.cpp
/pair_lj_cut_*hars_*.h
/pair_lj_cut_soft.cpp
/pair_lj_cut_soft.h
/pair_lj_cut_tip4p_long.cpp
/pair_lj_cut_tip4p_long.h
/pair_lj_cut_tip4p_long_soft.cpp
/pair_lj_cut_tip4p_long_soft.h
/pair_lj_long_coul_long.cpp
/pair_lj_long_coul_long.h
/pair_lj_long_dipole_long.cpp
/pair_lj_long_dipole_long.h
/pair_lj_long_tip4p_long.cpp
/pair_lj_long_tip4p_long.h
/pair_lj_cut_tgpu.cpp
/pair_lj_cut_tgpu.h
/pair_lj_sdk.cpp
/pair_lj_sdk.h
/pair_lj_sdk_coul_long.cpp
/pair_lj_sdk_coul_long.h
/pair_lj_sdk_coul_msm.cpp
/pair_lj_sdk_coul_msm.h
/pair_lj_sf_dipole_sf.cpp
/pair_lj_sf_dipole_sf.h
/pair_lj_switch3_coulgauss_long.cpp
/pair_lj_switch3_coulgauss_long.h
/pair_lubricateU.cpp
/pair_lubricateU.h
/pair_lubricateU_poly.cpp
/pair_lubricateU_poly.h
/pair_lubricate_poly.cpp
/pair_lubricate_poly.h
/pair_lubricate.cpp
/pair_lubricate.h
/pair_meam_spline.cpp
/pair_meam_spline.h
/pair_meam_sw_spline.cpp
/pair_meam_sw_spline.h
/pair_mm3_switch3_coulgauss_long.cpp
/pair_mm3_switch3_coulgauss_long.h
/pair_morse_soft.cpp
/pair_morse_soft.h
/pair_nb3b_harmonic.cpp
/pair_nb3b_harmonic.h
/pair_nm_cut.cpp
/pair_nm_cut.h
/pair_nm_cut_coul_cut.cpp
/pair_nm_cut_coul_cut.h
/pair_nm_cut_coul_long.cpp
/pair_nm_cut_coul_long.h
/pair_oxdna_*.cpp
/pair_oxdna_*.h
/pair_oxdna2_*.cpp
/pair_oxdna2_*.h
/mf_oxdna.h
/pair_peri_eps.cpp
/pair_peri_eps.h
/pair_peri_lps.cpp
/pair_peri_lps.h
/pair_peri_pmb.cpp
/pair_peri_pmb.h
/pair_peri_ves.cpp
/pair_peri_ves.h
/pair_quip.cpp
/pair_quip.h
/pair_reaxc.cpp
/pair_reaxc.h
/pair_rebo.cpp
/pair_rebo.h
/pair_resquared.cpp
/pair_resquared.h
/pair_sdpd_taitwater_isothermal.cpp
/pair_sdpd_taitwater_isothermal.h
/pair_sph_heatconduction.cpp
/pair_sph_heatconduction.h
/pair_sph_idealgas.cpp
/pair_sph_idealgas.h
/pair_sph_lj.cpp
/pair_sph_lj.h
/pair_sph_rhosum.cpp
/pair_sph_rhosum.h
/pair_sph_taitwater.cpp
/pair_sph_taitwater.h
/pair_sph_taitwater_morris.cpp
/pair_sph_taitwater_morris.h
/pair_sw.cpp
/pair_sw.h
/pair_tersoff.cpp
/pair_tersoff.h
/pair_tersoff_mod.cpp
/pair_tersoff_mod.h
/pair_tersoff_mod_c.cpp
/pair_tersoff_mod_c.h
/pair_tersoff_table.cpp
/pair_tersoff_table.h
/pair_tersoff_zbl.cpp
/pair_tersoff_zbl.h
/pair_tip4p_cut.cpp
/pair_tip4p_cut.h
/pair_tip4p_long.cpp
/pair_tip4p_long.h
/pair_tip4p_long_soft.cpp
/pair_tip4p_long_soft.h
/pair_tri_lj.cpp
/pair_tri_lj.h
/pair_yukawa_colloid.cpp
/pair_yukawa_colloid.h
/pair_momb.cpp
/pair_momb.h
/pppm.cpp
/pppm.h
/pppm_cg.cpp
/pppm_cg.h
/pppm_dipole.cpp
/pppm_dipole.h
/pppm_dipole_spin.cpp
/pppm_dipole_spin.h
/pppm_disp.cpp
/pppm_disp.h
/pppm_disp_tip4p.cpp
/pppm_disp_tip4p.h
/pppm_old.cpp
/pppm_old.h
/pppm_proxy.cpp
/pppm_proxy.h
/pppm_stagger.cpp
/pppm_stagger.h
/pppm_tip4p.cpp
/pppm_tip4p.h
/pppm_tip4p_proxy.cpp
/pppm_tip4p_proxy.h
/pppm_tip4p_cg.cpp
/pppm_tip4p_cg.h
/prd.cpp
/prd.h
/python_impl.cpp
/python_impl.h
/python_compat.h
/fix_python_move.cpp
/fix_python_move.h
/fix_python_invoke.cpp
/fix_python_invoke.h
/pair_python.cpp
/pair_python.h
/reader_molfile.cpp
/reader_molfile.h
/reaxc_allocate.cpp
/reaxc_allocate.h
/reaxc_basic_comm.cpp
/reaxc_basic_comm.h
/reaxc_bond_orders.cpp
/reaxc_bond_orders.h
/reaxc_bonds.cpp
/reaxc_bonds.h
/reaxc_control.cpp
/reaxc_control.h
/reaxc_defs.h
/reaxc_ffield.cpp
/reaxc_ffield.h
/reaxc_forces.cpp
/reaxc_forces.h
/reaxc_hydrogen_bonds.cpp
/reaxc_hydrogen_bonds.h
/reaxc_init_md.cpp
/reaxc_init_md.h
/reaxc_io_tools.cpp
/reaxc_io_tools.h
/reaxc_list.cpp
/reaxc_list.h
/reaxc_lookup.cpp
/reaxc_lookup.h
/reaxc_multi_body.cpp
/reaxc_multi_body.h
/reaxc_nonbonded.cpp
/reaxc_nonbonded.h
/reaxc_reset_tools.cpp
/reaxc_reset_tools.h
/reaxc_system_props.cpp
/reaxc_system_props.h
/reaxc_tool_box.cpp
/reaxc_tool_box.h
/reaxc_torsion_angles.cpp
/reaxc_torsion_angles.h
/reaxc_traj.cpp
/reaxc_traj.h
/reaxc_types.h
/reaxc_valence_angles.cpp
/reaxc_valence_angles.h
/reaxc_vector.cpp
/reaxc_vector.h
/remap.cpp
/remap.h
/remap_wrap.cpp
/remap_wrap.h
/restart_mpiio.cpp
/restart_mpiio.h
/scafacos.cpp
/scafacos.h
/server.cpp
/server.h
/server_mc.cpp
/server_mc.h
/server_md.cpp
/server_md.h
/smd_kernels.h
/smd_material_models.cpp
/smd_material_models.h
/smd_math.h
/tad.cpp
/tad.h
/temper.cpp
/temper.h
/temper_grem.cpp
/temper_grem.h
/temper_npt.cpp
/temper_npt.h
/thr_data.cpp
/thr_data.h
/verlet_split.cpp
/verlet_split.h
/write_dump.cpp
/write_dump.h
/xdr_compat.cpp
/xdr_compat.h

/atom_vec_smd.cpp
/atom_vec_smd.h
/compute_saed.cpp
/compute_saed.h
/compute_saed_consts.h
/compute_smd_contact_radius.cpp
/compute_smd_contact_radius.h
/compute_smd_damage.cpp
/compute_smd_damage.h
/compute_smd_hourglass_error.cpp
/compute_smd_hourglass_error.h
/compute_smd_internal_energy.cpp
/compute_smd_internal_energy.h
/compute_smd_plastic_strain.cpp
/compute_smd_plastic_strain.h
/compute_smd_plastic_strain_rate.cpp
/compute_smd_plastic_strain_rate.h
/compute_smd_rho.cpp
/compute_smd_rho.h
/compute_smd_tlsph_defgrad.cpp
/compute_smd_tlsph_defgrad.h
/compute_smd_tlsph_dt.cpp
/compute_smd_tlsph_dt.h
/compute_smd_tlsph_num_neighs.cpp
/compute_smd_tlsph_num_neighs.h
/compute_smd_tlsph_shape.cpp
/compute_smd_tlsph_shape.h
/compute_smd_tlsph_strain.cpp
/compute_smd_tlsph_strain.h
/compute_smd_tlsph_strain_rate.cpp
/compute_smd_tlsph_strain_rate.h
/compute_smd_tlsph_stress.cpp
/compute_smd_tlsph_stress.h
/compute_smd_triangle_mesh_vertices.cpp
/compute_smd_triangle_mesh_vertices.h
/compute_smd_ulsph_effm.cpp
/compute_smd_ulsph_effm.h
/compute_smd_ulsph_num_neighs.cpp
/compute_smd_ulsph_num_neighs.h
/compute_smd_ulsph_strain.cpp
/compute_smd_ulsph_strain.h
/compute_smd_ulsph_strain_rate.cpp
/compute_smd_ulsph_strain_rate.h
/compute_smd_ulsph_stress.cpp
/compute_smd_ulsph_stress.h
/compute_smd_vol.cpp
/compute_smd_vol.h
/compute_temp_cs.cpp
/compute_temp_cs.h
/compute_temp_drude.cpp
/compute_temp_drude.h
/compute_xrd.cpp
/compute_xrd.h
/compute_xrd_consts.h
/fix_atom_swap.cpp
/fix_atom_swap.h
/fix_ave_spatial_sphere.cpp
/fix_ave_spatial_sphere.h
/fix_drude.cpp
/fix_drude.h
/fix_drude_transform.cpp
/fix_drude_transform.h
/fix_langevin_drude.cpp
/fix_langevin_drude.h
/fix_pimd.cpp
/fix_pimd.h
/fix_qbmsst.cpp
/fix_qbmsst.h
/fix_qtb.cpp
/fix_qtb.h
/fix_rattle.cpp
/fix_rattle.h
/fix_saed_vtk.cpp
/fix_saed_vtk.h
/fix_smd_adjust_dt.cpp
/fix_smd_adjust_dt.h
/fix_smd_integrate_tlsph.cpp
/fix_smd_integrate_tlsph.h
/fix_smd_integrate_ulsph.cpp
/fix_smd_integrate_ulsph.h
/fix_smd_move_triangulated_surface.cpp
/fix_smd_move_triangulated_surface.h
/fix_smd_setvel.cpp
/fix_smd_setvel.h
/fix_smd_tlsph_reference_configuration.cpp
/fix_smd_tlsph_reference_configuration.h
/fix_smd_wall_surface.cpp
/fix_smd_wall_surface.h
/fix_srp.cpp
/fix_srp.h
/fix_tfmc.cpp
/fix_tfmc.h
/fix_ttm_mod.cpp
/fix_ttm_mod.h
/pair_born_coul_long_cs.cpp
/pair_born_coul_long_cs.h
/pair_born_coul_dsf_cs.cpp
/pair_born_coul_dsf_cs.h
/pair_born_coul_wolf_cs.cpp
/pair_born_coul_wolf_cs.h
/pair_buck_coul_long_cs.cpp
/pair_buck_coul_long_cs.h
/pair_coul_long_cs.cpp
/pair_coul_long_cs.h
/pair_coul_wolf_cs.cpp
/pair_coul_wolf_cs.h
/pair_extep.cpp
/pair_extep.h
/pair_lj_cut_thole_long.cpp
/pair_lj_cut_thole_long.h
/pair_plum_hb.cpp
/pair_plum_hb.h
/pair_plum_hp.cpp
/pair_plum_hp.h
/pair_polymorphic.cpp
/pair_polymorphic.h
/pair_smd_hertz.cpp
/pair_smd_hertz.h
/pair_smd_tlsph.cpp
/pair_smd_tlsph.h
/pair_smd_triangulated_surface.cpp
/pair_smd_triangulated_surface.h
/pair_smd_ulsph.cpp
/pair_smd_ulsph.h
/pair_srp.cpp
/pair_srp.h
/pair_thole.cpp
/pair_thole.h
/pair_buck_mdf.cpp
/pair_buck_mdf.h
/pair_dpd_conservative.cpp
/pair_dpd_conservative.h
/pair_dpd_fdt.cpp
/pair_dpd_fdt.h
/pair_dpd_fdt_energy.cpp
/pair_dpd_fdt_energy.h
/pair_lennard_mdf.cpp
/pair_lennard_mdf.h
/pair_lj_cut_coul_long_cs.cpp
/pair_lj_cut_coul_long_cs.h
/pair_lj_mdf.cpp
/pair_lj_mdf.h
/pair_mgpt.cpp
/pair_mgpt.h
/pair_morse_smooth_linear.cpp
/pair_morse_smooth_linear.h
/pair_smtbq.cpp
/pair_smtbq.h
/pair_vashishta*.cpp
/pair_vashishta*.h
